<h1>Privacy</h1>
<p>We value your privacy <i class="em em-closed_lock_with_key" aria-role="presentation" aria-label="CLOSED LOCK WITH KEY"></i></p>

<h2>::Accessing this site</h2>
<p>This website does not use cookies.</p>

<h2>::Watching videos</h2>
<p>Videos on this site are hosted with Vimeo (<a href="vimeo.com">link to vimeo.com</a>).<br>Vimeo may collect data about the IP address accessing a video and other information to improve their services or exercise geographic restrictions, etc. You can take a look at their privacy policy <a href="https://vimeo.com/privacy#data_we_collect_about_you">here.</a></p>

<h2>::Contacting us</h2>
<p>We are sensitive about how your correspondence with us is handled. To this end, you are not required to provide a name or contact information when sending a message through our site.</p>
<p>Any personal information provided, such as your email, telephone number or name, is used only for the purpose of responding to your message in that instance. Our mailing list is never used for targeted emails or campaigns. Your email is not shared with any third party.</p>

<h2>::Donating</h2>
<p>We use a zero-tracking payment for bitcoin payments and Stripe (<a href="stripe.com">link to stripe.com</a>) for all donations via bank cards or mobile wallets. Stripe do require an email for payments to help reduce fraud and aid in making contact should you require a refund etc. You can take a look at their privacy policy <a href="https://stripe.com/en-gb-se/privacy#personal-data-definition">here.</a></p>