<div class="footer">
  <p>Website built with <i class="fas fa-heart" style="color:var(--crimson)"></i></p>
  <p>© 2020-2022 Michael Hayden</p>
</div>

<!-- Facebook Pixel Code --><script>!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js'); fbq('init', '321625270142686'); fbq('track', 'PageView');</script><noscript> <img height="1" width="1" src="https://www.facebook.com/tr?id=321625270142686&ev=PageView&noscript=1"/></noscript><!-- End Facebook Pixel Code -->

<style>
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@200;400;900&display=swap');
  </style> 

<script src="/src/js/file.js"></script>
<script src="https://kit.fontawesome.com/8e2895d7b7.js" crossorigin="anonymous"></script> <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">