<div id="menu">
  <a class="logo" href="/">

    <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 600 600"
      xmlns="http://www.w3.org/2000/svg">
      <g id="svgsl" fill="var(--text)">
        <path
          d="m360.976 329.14v156.125h-66.004s3.584-227.197 5.028-249.119l-42.577 186.027h-59.695l-38.08-187.177c1.765 20.675-.192 250.269-.192 250.269h-67.863v-370.53h100.118l37.068 185.265 35.143-185.265h97.054v142.224h68.48v-142.224h78.951v370.53h-78.951v-156.125z"
          fill-rule="nonzero" transform="matrix(.99999889904 0 0 1.04524345916 .000018648 -13.5728516)" />
        <path d="m600 0h-600v600h600zm-552.778 47.222v505.556h505.556v-505.556z"
          transform="matrix(.99999889904 0 0 .99999902212 .000018648 .00204344)" />
      </g>
      <g id="svgact" fill="var(--crimson)">
        <path
          d="m360.976 329.14v156.125h-66.004s3.584-227.197 5.028-249.119l-42.577 186.027h-59.695l-38.08-187.177c1.765 20.675-.192 250.269-.192 250.269h-67.863v-370.53h100.118l37.068 185.265 35.143-185.265h97.054v142.224h68.48v-142.224h78.951v370.53h-78.951v-156.125z"
          fill-rule="nonzero" transform="matrix(.99999889904 0 0 1.04524345916 .000018648 -13.5728516)" />
        <path d="m600 0h-600v600h600zm-552.778 47.222v505.556h505.556v-505.556z"
          transform="matrix(.99999889904 0 0 .99999902212 .000018648 .00204344)" />
      </g>
    </svg>
  </a>

  <div class="menu-links">
    <div class="tiny-mobile-only menu-toggle" id="menuToggle">
      menu&nbsp;
      <i class="fas fa-times" style="display:none;"></i>
      <i class="fas fa-bars"></i>
    </div>
    <div class="menu-links-container non-tiny-desktop-only stowed-menu">
      <a href="/#carousel">
        <span class="mobile-only mobile-avec-text">
          <i class="fas fa-video"></i>
          <span class="icon-text">All</span>
        </span>
        <span class="desktop-only">All Videos</span>
      </a>
      <a href="/contact">
        <span class="mobile-only mobile-avec-text">
          <i class="far fa-envelope"></i>
          <span class="icon-text">Contact</span>
        </span>
        <span class="desktop-only">Contact</span>
      </a>
      <a href="/about-us">
        <span class="mobile-only mobile-avec-text">
          <i class="fas fa-info"></i>
          <span class="icon-text">About</span>
        </span>
        <span class="desktop-only">About</span>
      </a>
      <a href="/help">
        <span class="mobile-only mobile-avec-text">
          <i class="far fa-question-circle"></i>
          <span class="icon-text">Help</span>
        </span>
        <span class="desktop-only">Help</span>
      </a>
      <a title="Change the page colour scheme" style="padding: 0;" id="noShadowHover">
        <span class="mobile-avec-text">
          <span class="theme-dark" id="darkThemeAction">
            <i class="far fa-moon"></i>
            <i class="fas fa-moon"></i>
          </span>
          <span class="theme-light" id="lightThemeAction">
            <i class="far fa-sun"></i>
            <i class="fas fa-sun"></i>
          </span>
          <span class="mobile-only icon-text">Theme</span>
        </span>
      </a>
    </div>

  </div>
</div>