<h1>How I Manage Michael Hayden Talks</h1>

<p>A follower of my meditation videos wrote to me and asked how the segments were done. I had planned to record a video to show just that, but it wouldn't suit the general content on this medium so I've written a few lines about it here instead.</p>

<p>Even though this is not a meditation, I still think it shows how simple things can be effective accomplishments with God.</p>
<p>Looking at the life of Jesus, we do marvel at his miracles and most of them are done by Christ's spoken word -- "Your faith has made you well..."[Mark 5:34] --said to the woman suffering haemorrhages. Christ calms the sea with, "Be quiet!..." [Mark 1:30]. The daughter of Jarius, "Talitha Kum (<i>Little girl, get up</i>)" --she did and she walked [Mark 5:15ff]</p>

<p>In short, Jesus used whatever was at hand -- water into wine [John 2:1-11]. The same applied to me.</p>

<p>I do not have any special cameras or lights or sound equipment. I put to good use the things I have to hand.</p>

<p>It does take some preparation beforehand, researching a saint or feast day and making notes on the topic.</p>

<img class="article-image" src="/src/img/table.JPG">

<p>I record video on an iPad which is my most valuable tool for research and I'm writing this on it right now. I also use a mobile phone to record at the same time, to give an occasional second view which helps to break up long parts.</p>

<img class="article-image" src="/src/img/phone.JPG">

<p>If the day is dull or I have to record at night, I often rely on a light bulb on a chord as my clever lighting solution.</p>

<img class="article-image" src="/src/img/bulb.JPG">

<p>Finally, the parts are assembled on my laptop where I try my best to clip out my mistakes and make a video like so many of the ones people do on youtube and so on.</p>

<img class="article-image" src="/src/img/computer.JPG">

<p>I originally pieced the video parts together on my iPad but I was glad to find out, from research on the internet, that I could do it on the bigger computer screen, where it's easier to see what I'm doing.</p>

<p>I estimate the planning for a video takes 2-3 hours of research and note-taking. I do this over a couple days. The video shooting only takes about 15 minutes now that I have a routine for it. The preparing of the video takes a few hours, but I start after an afternoon siesta and after a couple cups of tea it's finished.</p>

<p>The encouragement and support to do this little project of mine, comes from my friends, some of whom are silent supporters whose prayers keep me going. I keep my friends in my prayers. I am more than grateful to you and wish you Peace, Happiness, Good Health and many Blessings.</p>

<p>Doing this at my age seems like a little miracle to me as I was never very efficient at the computer.</p>

<p>To God be the glory,<br>and may his Almighty Hand Bless you and keep you in His love.<br>In the name of the Father, Son and Holy Spirit. Amen.</p>

<a href="/" class="btn btn-pri">Browse all the Mediations</a>

<style>
.article-image{
  width: 400px;
  max-width: 80vw;
  margin: 2rem auto;
}
</style>