<h1>Website Help</h1>

<p>This page is updated with information to help you use this website. If needed, please contact Michael directly via
  the form below any of his videos or on the <a href="/contact">contact page here</a>.</p>

<ol>

  <li>
    <h2>Video does not play</h2>
    <p>Some browsers do not enable the autoplay feature on these videos. You can try clicking or tapping the play button
      (if visible) or the video area to let your browser know you want the video to play.</p>
  </li>

  <li>
    <h2>Audio out of sync</h2>
    <p>Try using the cog icon (<i class="fas fa-cog"></i>) at the bottom right corner of each video to access the quality settings and choose a lower value -E.g. '420p'.</p>
  </li>

  <li>
    <h2>Not receiving Subscription emails</h2>
    <p>To comply with GDPR regulations, subscribing to this website involves a couple extra steps.</p>
    <p>
    <ol>
      <li>You must enter your email in the mini-form and click or tap `subscribe`</li>
      <li>Some information will be displayed below to tell you to check your inbox or let you know that you're already
        subscribed/unsubscribed.</li>
      <li>For a new subscription, you'll need to check your email Inbox or sometimes, your Spam or Junk folders.</li>
      <li>The link sent in that first email is essential to letting this website know that you consent to receiving
        emails. Follow the instructions in the email to complete the process.</li>
    </ol>
    </p>
  </li>

  <li>
    <h2>Link is broken?</h2>
    <p>Contact Michael directly to report any broken links. He'll let the site maintainers know there's a problem. Use
      the <a href="/contact">contact page here</a>.</p>
  </li>
  
</ol>
