<h1><i class="em em-smiley" aria-role="presentation" aria-label="SMILING FACE WITH OPEN MOUTH"></i>&nbsp;<i class="em em-email" aria-role="presentation" aria-label="ENVELOPE"></i>&nbsp;Message Received</h1>
<p>Michael reads all messages and will reply soon if you've left contact details.</p>
<p><a href="/" style="text-decoration:underline;">Click here to go back to Home</a></p>