<p>Scripture references:</p>
<ul>
  <li>2 Maccabees Chapter 12 VV 42-45</li>
  <li>Wisdom  Chapter 3 VV 1-9</li>
    <li>Psalm 23</li>
      <li>Romans Chapter 5 VV 5-11</li>
        <li>Gospel of St John </li>
</ul>