<p>Some References to mountain tops:</p>
<p>On Mount Horeb,<br>
  the mountain of God,<br>
  Moses is called into service.</p>

<p>God
  aware of his peoples sufferings -<br>
  sends Moses to liberate them.</p>

<p>It was later on the mountain that Moses was given the 10 Commandments.</p>

<p>On a mountain top<br>
  God prepared a banquet of rich food<br>
  to welcome those he had called into life eternal.</p>

<p>On a hill outside Jerusalem,<br>
  Calvary<br>
  Jesus offered the ultimate sacrifice<br>
  fulfilling God’s will for the Salvation of mankind.</p>

<p>Scriptures:</p>

<ul>
  <li>Matthew Chapter 5: 1-2</li>
  <li>Exodus Ch. 3</li>
  <li>Isaiah 25:V6.</li>
  <li>1 Kings chapter 19; v 9 ff.</li>
</ul>
