<h4>An Irish Blessing</h4>

<p>
  May there always be work for your hands to do;<br>
May your purse always hold a coin or two;<br>
May the sun always shine on your window pane;<br>
May the rainbow be certain to follow each rain;<br>
May the hand of a friend always be near you;<br>
May God fill your heart with gladness to cheer you.<br>
</p>