<p>Song: <i>Just a closer walk with Thee</i>
  </p>
  
  <p>
    Just a closer walk with Thee <br>
Grant it, Jesus, is my plea <br>
Daily walking close to Thee <br>
Let it be, dear Lord, let it be.
  </p>


<p>Scripture references:</p>
<ul>
  <li>Mark 1: 1-8</li>
  <li>Malachi 3:1</li>
  <li>Isaiah 40:1</li>
</ul>


