<p>Saying: 
<br><i>
"Too late for tears<br>
When the drum beats for battle"</i>
  </p>


<p>Scripture references:</p>
<ul>
  <li>Luke 16: 19-31</li>
  <li>Isaiah 58:10-11</li>
  <li>Psalm (JB) 95; 8</li>
</ul>

