<p><b>Prayer of St Francis</b>
<br>
<br>

Lord, make me an instrument of your peace. <br>
Where there is hatred, let me sow love, <br>
Where there is injury, pardon. <br>
Where there is doubt, faith, despair, HOPE,  Darkness, Light, Sadness, JOY. <br>
<br>
May I seek to console, rather than be consoled. <br>
Understand rather then be understood, <br>
Love rather then be loved, <br>
In giving we receive.  <br>
In pardoning we are pardoned. <br>
In dying we are born to eternal life.  <br>
Amen.<br>
<br>
<br>

  </p>


<p>Scripture references:</p>
<ul>
  <li>Matthew 18: 21-22</li>
  <li>Matthew 5:23-24</li>
</ul>

