<h4>References</h4>
<ul>
  <li>Council of Ephesus 431</li>
  <li>Council of Nicaea 325</li>
  <li>Encyclical Pope Pius 12th 1950</li>
  <li>Encyclical Pope Pius 9th 1854</li>
  <li>Ecumenical Council of Constantinople 1537</li>
  <li>Gospel of St Luke</li>
  <li>Church Fathers</li>
  <li>Gospel of St John 1: 1 ff.</li>
</ul>


<h4>Prayer</h4>
<p>
  Father, <br>we do not ask to understand all your revelations. <br>
  But we do ask that you increase of our faith, <br>so that we like Mother Mary may find favour with you. <br><br>
  Amen
  <br>
</p>

<h4>Media Credits</h4>
<ul>
  <li><a title="AnonymousUnknown author, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Kazan_moscow.jpg"><img width="256" alt="Kazan moscow" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Kazan_moscow.jpg/256px-Kazan_moscow.jpg"></a></li>
  <li><a title="Peter1936F, CC BY-SA 4.0 &lt;https://creativecommons.org/licenses/by-sa/4.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:S_Agostino_Madonna_del_Parto.jpg"><img width="256" alt="S Agostino Madonna del Parto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/S_Agostino_Madonna_del_Parto.jpg/256px-S_Agostino_Madonna_del_Parto.jpg"></a></li>
</ul>