<h4>Prayer</h4>
<p>
  St Benedicta of the Cross, <br>
help us to carry our cross in life with patience.<br><br>

Pray for us before our Merciful Father that like you we <br>
May be true to our faith until death. <br><br>
Amen
</p>

<h4>Media Credits</h4>

<ul>
  <li><a title="Unknown authorUnknown author, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Edith_Stein_(ca._1938-1939).jpg"><img width="512" alt="Edith Stein (ca. 1938-1939)" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Edith_Stein_%28ca._1938-1939%29.jpg/512px-Edith_Stein_%28ca._1938-1939%29.jpg"></a></li>
  <li><a title="Lajos Gál, CC BY-SA 3.0 &lt;https://creativecommons.org/licenses/by-sa/3.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Auswitch-Birkenau_v%C3%A1g%C3%A1nyok_-_panoramio.jpg"><img width="512" alt="Auswitch-Birkenau vágányok - panoramio" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Auswitch-Birkenau_v%C3%A1g%C3%A1nyok_-_panoramio.jpg/512px-Auswitch-Birkenau_v%C3%A1g%C3%A1nyok_-_panoramio.jpg"></a></li>
  <li><a title="Gerd Eichmann, CC BY-SA 4.0 &lt;https://creativecommons.org/licenses/by-sa/4.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Bad_Bergzabern-St_Martin-36-Edith_Stein-2019-gje.jpg"><img width="256" alt="Bad Bergzabern-St Martin-36-Edith Stein-2019-gje" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Bad_Bergzabern-St_Martin-36-Edith_Stein-2019-gje.jpg/256px-Bad_Bergzabern-St_Martin-36-Edith_Stein-2019-gje.jpg"></a></li>
  <li><a title="xiquinhosilva, CC BY 2.0 &lt;https://creativecommons.org/licenses/by/2.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Auschwitz_I_(22_May_2010).jpg"><img width="512" alt="Auschwitz I (22 May 2010)" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Auschwitz_I_%2822_May_2010%29.jpg/512px-Auschwitz_I_%2822_May_2010%29.jpg"></a></li>
  <li><a title="Bendi07, CC BY-SA 4.0 &lt;https://creativecommons.org/licenses/by-sa/4.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Carmelite-Shield-Large-in-Brown.jpg"><img width="512" alt="Carmelite-Shield-Large-in-Brown" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b4/Carmelite-Shield-Large-in-Brown.jpg/512px-Carmelite-Shield-Large-in-Brown.jpg"></a></li>
  <li><a href="https://www.pexels.com/video/green-grass-and-windmill-4499407/" target="_blank">Video by Matthias Groeneveld from Pexels</a></li>
</ul>