<h4>Requests and promises of Our Lady:</h4>
<ol>
  <li>Recite the rosary to being peace to the world and the conversion of Russia.</li>
  <li>Acts of reparation for sinners</li>
  <li>Bearing suffering patiently</li>
  <li>The Five Saturday devotions</li>
  <li>Special blessings on those who wear the brown scapula</li>
  <li>If people are faithful to her request, her immaculate heart with triumph.</li>
</ol>

 
<h4>
  Prayer
</h4>

<p>O Lady of Fatima, Hail!<br>
  Immaculate Mother of grace,<br>
  O pray for us, help us today,<br>
  Thou hope of the human race.</p>