<h4>Scripture</h4>
<ul>
  <li>Baruch 5:1-9</li>
  <li>Psalm 125</li>
  <li>St Paul to the Philippians 1:4-6,8-11</li>
  <li>St Luke 3:1-6</li>
</ul>


<h4>Prayer</h4>
<p>
  Father, Lord, we thank you for your generosity <br>in giving
  Your Son to the world. <br>Help us to be aware of the plight of
  others and <br>give us the generosity to reach out to those
  in need. <br>We are all your family and <br>all of us need your
  Help. <br><br>
  Amen.
</p>
