<h4>Scripture</h4>
<ul>
  <li>Luke 2:34-35</li>
</ul>

<h4>The Memorare</h4>

<p>
  Remember, O most gracious Virgin Mary, that never was it known that anyone who fled to thy protection, implored thy
  help, or sought thy intercession was left unaided.</p>
<p>
  Inspired by this confidence, I fly unto thee, O Virgin of virgins, my mother; to thee do I come, before thee I stand,
  sinful and sorrowful. O Mother of the Word Incarnate, despise not my petitions, but in thy mercy hear and answer me.
</p>
<p>
  Amen.
</p>


<h4>Media Credits</h4>
<ul><li><a title="Zarateman, CC BY-SA 4.0 &lt;https://creativecommons.org/licenses/by-sa/4.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Salamanca_-_Iglesia_de_la_Vera_Cruz_12.jpg"><img width="256" alt="Salamanca - Iglesia de la Vera Cruz 12" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Salamanca_-_Iglesia_de_la_Vera_Cruz_12.jpg/256px-Salamanca_-_Iglesia_de_la_Vera_Cruz_12.jpg"></a></li></ul>