<h4>Images & Credits:</h4>

<a title="Rob Croes (ANEFO), CC BY 4.0 &lt;https://creativecommons.org/licenses/by/4.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:JohannesPaulusSimonis1985.2_(cropped).jpg"><img width="256" alt="JohannesPaulusSimonis1985.2 (cropped)" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/JohannesPaulusSimonis1985.2_%28cropped%29.jpg/256px-JohannesPaulusSimonis1985.2_%28cropped%29.jpg"></a>

<a title="Jarosław Dubowski / fotopolska.eu, CC BY-SA 3.0 &lt;https://creativecommons.org/licenses/by-sa/3.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Krak%C3%B3w,_Sanktuarium_Bo%C5%BCego_Mi%C5%82osierdzia_-_fotopolska.eu_(214721).jpg"><img width="512" alt="Kraków, Sanktuarium Bożego Miłosierdzia - fotopolska.eu (214721)" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/Krak%C3%B3w%2C_Sanktuarium_Bo%C5%BCego_Mi%C5%82osierdzia_-_fotopolska.eu_%28214721%29.jpg/512px-Krak%C3%B3w%2C_Sanktuarium_Bo%C5%BCego_Mi%C5%82osierdzia_-_fotopolska.eu_%28214721%29.jpg"></a>

<a title="Alma Pater, CC BY-SA 3.0 &lt;https://creativecommons.org/licenses/by-sa/3.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Divine_Mercy_Sanctuary_in_Vilnius4.JPG"><img width="256" alt="Divine Mercy Sanctuary in Vilnius4" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Divine_Mercy_Sanctuary_in_Vilnius4.JPG/256px-Divine_Mercy_Sanctuary_in_Vilnius4.JPG"></a>

<a title="http://www.marian.org/, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:200px-Faustina.jpg"><img width="256" alt="200px-Faustina" src="https://upload.wikimedia.org/wikipedia/commons/a/a8/256px-Faustina.jpg"></a>

<a title="Uszatku, CC BY-SA 4.0 &lt;https://creativecommons.org/licenses/by-sa/4.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:The_Divine_Mercy_Shrine_in_Krak%C3%B3w.jpg"><img width="512" alt="The Divine Mercy Shrine in Kraków" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/The_Divine_Mercy_Shrine_in_Krak%C3%B3w.jpg/512px-The_Divine_Mercy_Shrine_in_Krak%C3%B3w.jpg"></a>

<a title="Pimke, CC BY-SA 3.0 &lt;http://creativecommons.org/licenses/by-sa/3.0/&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Sanktuarium_Mi%C5%82osierdzia_Bo%C5%BCego_w_Krakowie-%C5%81agiewnikach12.JPG"><img width="512" alt="Sanktuarium Miłosierdzia Bożego w Krakowie-Łagiewnikach12" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Sanktuarium_Mi%C5%82osierdzia_Bo%C5%BCego_w_Krakowie-%C5%81agiewnikach12.JPG/512px-Sanktuarium_Mi%C5%82osierdzia_Bo%C5%BCego_w_Krakowie-%C5%81agiewnikach12.JPG"></a>

<h4>Scripture & Text</h4>
<ul>
  <li>Exodus 34:6</li>
  <li>James 3:17</li>
  <li>Diary of St Faustina - #57</li>
  <li>Dairy of St Faustina - #1605</li>
  <li>Dairy of St Faustina - #570</li>
  <li>Dairy of St Faustina - #811</li>
</ul>







