<h4>Prayer</h4>
<p>
  Saint Paul of the Cross<br> give us a deep appreciation of the sufferings Jesus underwent <br>so that we might have life to the full.
</p>

<h2>Media Credits</h2>
<ul>
  <li><a title="Plet philippe, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Paul_de_la_croix.jpg"><img width="256" alt="Paul de la croix" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Paul_de_la_croix.jpg/256px-Paul_de_la_croix.jpg"></a></li>
  <li><a title="Anjelodc at the English-language Wikipedia, CC BY-SA 3.0 &lt;http://creativecommons.org/licenses/by-sa/3.0/&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Paulocroce.png"><img width="256" alt="Paulocroce" src="https://upload.wikimedia.org/wikipedia/commons/1/10/Paulocroce.png"></a></li>
  <li><a title="Jayarathina, CC BY-SA 4.0 &lt;https://creativecommons.org/licenses/by-sa/4.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Passionists.svg"><img width="256" alt="Passionists" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Passionists.svg/256px-Passionists.svg.png"></a></li>
</ul>