<h4>Scripture</h4>
<ul>
  <li>Deuteronomy 6:2-6</li>
  <li>Psalm 18</li>
  <li>Hebrews 7:23-28</li>
  <li>St Mark 12: 28b - 32</li>
  <li>St John 3:16</li>
</ul>


<h4>Prayer</h4>
<p>
  God our Father allow us to see the beauty of this world <br>
  In its many peoples and in the myriad of things which you have made. <br><br>
  
  Let us guard, keep and cherish them so as to pass it on to future generations <br>
  As you intended. <br><br>
  Amen.</p>


  <h4>Media Credits</h4>
  <ul>
    <li><a href="https://www.pexels.com/video/a-wooden-sculpture-of-a-religious-artifacts-3978822/" target="_blank">Video by Aram Pano from Pexels</a></li>
  </ul>