<h4>Prayer</h4>
<p>
  St John Marie Vianney <br>
  Intercede for us before God.<br>
  Amen 
</p>

<h4>Media Credits</h4>
<ul>
  <li>
    <a title="Krzysztof Golik, CC BY-SA 4.0 &lt;https://creativecommons.org/licenses/by-sa/4.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Stained_glass_window_in_the_Saint_Felix_Church_in_Laissac_11.jpg"><img width="128" alt="Stained glass window in the Saint Felix Church in Laissac 11" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Stained_glass_window_in_the_Saint_Felix_Church_in_Laissac_11.jpg/128px-Stained_glass_window_in_the_Saint_Felix_Church_in_Laissac_11.jpg"></a>
  </li>
  <li><a title="Karl Stenben, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Return_of_Napoleon.jpg"><img width="512" alt="Return of Napoleon" src="https://upload.wikimedia.org/wikipedia/commons/b/b9/Return_of_Napoleon.jpg"></a></li>
  <li>
    <a title="Guilhem Vellut from Paris, France, CC BY 2.0 &lt;https://creativecommons.org/licenses/by/2.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Confessional_@_Eglise_Sainte-Odile_@_Paris_17_(31796297142).jpg"><img width="512" alt="Confessional @ Eglise Sainte-Odile @ Paris 17 (31796297142)" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Confessional_%40_Eglise_Sainte-Odile_%40_Paris_17_%2831796297142%29.jpg/512px-Confessional_%40_Eglise_Sainte-Odile_%40_Paris_17_%2831796297142%29.jpg"></a>
  </li>
  <li>
    <a title="Kategombos, CC BY-SA 4.0 &lt;https://creativecommons.org/licenses/by-sa/4.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:St_John_Vianney_at_St_Catherine_of_Siena_Church_Trumbull_CT.jpg"><img width="512" alt="St John Vianney at St Catherine of Siena Church Trumbull CT" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/St_John_Vianney_at_St_Catherine_of_Siena_Church_Trumbull_CT.jpg/512px-St_John_Vianney_at_St_Catherine_of_Siena_Church_Trumbull_CT.jpg"></a>
  </li>
  <li><a href="https://www.pexels.com/photo/france-flag-on-gray-concrete-building-near-road-2272939/" target="_blank">French Tricolour in Paris</a></li>
</ul>