<h4>Scripture</h4>
<ul>
  <li>Amos 7:12-15</li>
  <li>Ephesians 1:3-14</li>
  <li>Mark 6:7-13</li>
  <li>Luke 6:31</li>
</ul>

<h4>References</h4>
<ul>
  <li>Benjamin Franklin - a spoonful of honey…</li>
  <li>Mahalim Jackson - if I can help somebody…</li>
</ul>

<h4>Prayer</h4>
<p>
  My offering may be like that of the widow’s coin,<br>but you Lord, are not limited and like the mustard seed turn it into something great.<br>
Amen
</p>

<h4>Media Credits</h4>
<ul>
  <li><a title="Hendrick van Balen the Elder
, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Hendrick_van_balen_Holy_trinity.jpg"><img width="256" alt="Hendrick van balen Holy trinity" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Hendrick_van_balen_Holy_trinity.jpg/256px-Hendrick_van_balen_Holy_trinity.jpg"></a></li>
  <li><a href="https://www.pexels.com/video/close-up-shot-of-a-priest-using-bible-in-the-church-5875545/" target="_blank">Bible on altar... Video by RODNAE Productions from Pexels</a></li>
  <li><a href="https://www.pexels.com/video/footage-of-jesus-christ-sculpture-7219027/" target="_blank">Statue of Sacred Heart... Video by MART PRODUCTION from Pexels</a></li>
  <li><a href="https://www.pexels.com/photo/silhouette-photography-of-hanging-rosary-2081128/" target="_blank">Rosary... Photo by Vanderlei Longo from Pexels</a></li>
  <li><a href="https://www.pexels.com/photo/art-cathedral-chapel-christ-208218/" target="_blank">Stained glass... Photo by Pixabay from Pexels</a></li>
  <li><a href="https://www.pexels.com/photo/man-people-woman-hand-6275809/" target="_blank">Holding hands... Photo by cottonbro from Pexels</a></li>
</ul>




