<h4>Scripture</h4>
<ul>
  <li>Micah 3:1-4</li>
  <li>Psalm 79</li>
  <li>Hebrews 10:5-10</li>
  <li>Luke 1:39-45</li>
</ul>

<h4>Prayer</h4>
<p>
  Father your divine plan from all ages <br>called the Virgin
  Mary to be the Mother of your divine Son. <br>She followed
  faithfully. <br>May we who are also called by your grace
  follow in Mary’s footsteps. <br><br>
  Amen

</p>

<h4>Media Credits</h4>
<ul>
  <li><a title="Philippe de Champaigne
    , Public domain, via Wikimedia Commons"
      href="https://commons.wikimedia.org/wiki/File:Champaigne_visitation.jpg"><img width="256"
        alt="Champaigne visitation"
        src="https://upload.wikimedia.org/wikipedia/commons/4/4d/Champaigne_visitation.jpg"></a></li>
  <li><a title="Fra Angelico
    , Public domain, via Wikimedia Commons"
      href="https://commons.wikimedia.org/wiki/File:Fra_Angelico_-_Visitation_-_WGA0480.jpg"><img width="512"
        alt="Fra Angelico - Visitation - WGA0480"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Fra_Angelico_-_Visitation_-_WGA0480.jpg/512px-Fra_Angelico_-_Visitation_-_WGA0480.jpg"></a>
  </li>
</ul>
