<h4>Scripture References</h4>
<ul>
  <li>First book of Kings 19:4-8</li>
  <li>Psalm 33 v 9</li>
  <li>Ephesians 4:30-5:2</li>
  <li>St. John 6:41-51</li>
</ul>

<h4>Prayer</h4>
<p>
  Father thank you for drawing us into the presence of Jesus<br>
Who comes to us in the form of bread and wine.<br>
Help us look beyond what we see and realise that,<br>
we welcome Jesus, Body, Soul and Divinity
<br>and pray that we receive him worthily. <br><br>
Amen.
</p>
        
        
        