<h4>Scripture:</h4>
<ul>
  <li>Ezekiel 17:22-24</li>
  <li>2 Corinthians  5:6-10</li>
  <li>Mark 4:26-34</li>
</ul>

<h4>Prayer</h4>
<p>
  Lord God, we thank you for calling us to be your helpers.<br>
Give us the grace to cooperate with you, and by that grace we will bear fruit.<br><br>

This prayer we make to you in <b>Jesus</b> name.<br>
Amen.
</p>


