<h4>Scripture</h4>
<ul>
  <li>Isaiah 35: 4-7</li>
  <li>Psalm  145: 7-10</li>
  <li>St James 2: 15</li>
  <li>St Mark 7: 31- 37</li>
</ul>
<h4>Prayer</h4>
<p>Lord, open our hearts, ears and our eyes<br>
  and let us truly heed your word.<br>  
  Allow us to do unto others that which we would wish for ourselves.<br> 
  Take my hand, precious Lord, lead me on. <br>
  Amen.</p>
        
        
        