<h4>Media:</h4>
<a title="bobosh_t AKA &quot;Father Ted&quot; on Flickr, Christ the Saviour Church, CC BY-SA 2.0 &lt;https://creativecommons.org/licenses/by-sa/2.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Icon_of_Saint_Patrick,_Christ_the_Saviour_Church.jpg"><img width="256" alt="Icon of Saint Patrick, Christ the Saviour Church" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Icon_of_Saint_Patrick%2C_Christ_the_Saviour_Church.jpg/256px-Icon_of_Saint_Patrick%2C_Christ_the_Saviour_Church.jpg"></a>

<br><br>

<p>Music: <b>An Earraigh</b>
  by
  <a target="_blank" href="https://freemusicarchive.org/music/Dee_Yan-Key#contact-artist">
  Dee Yan-Key
  </a> 
</p>