<h4>Scripture</h4>
<ul>
  <li>St John 1 :23 2: 1-11</li>
  <li>St Luke 1: 26-38. 1: 31</li>
</ul>

<h4>Prayer</h4>
<p>
  O Mary conceived without sin<br> pray for us your children<br>
  now and at the hour of our death.<br><br> Amen
  <br>
</p>

<h4>Media Credits</h4>
<ul>
  <li><a title="Giovanni Battista Tiepolo
    , Public domain, via Wikimedia Commons"
      href="https://commons.wikimedia.org/wiki/File:Inmaculada_Concepci%C3%B3n_(Tiepolo).jpg"><img width="256"
        alt="Inmaculada Concepción (Tiepolo)"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4b/Inmaculada_Concepci%C3%B3n_%28Tiepolo%29.jpg/256px-Inmaculada_Concepci%C3%B3n_%28Tiepolo%29.jpg"></a>
  </li>
  <li>
    <a title="Piero di Cosimo
, Public domain, via Wikimedia Commons"
      href="https://commons.wikimedia.org/wiki/File:Piero_di_Cosimo_Incarnation_of_Jesus_01.jpg"><img width="256"
        alt="Piero di Cosimo Incarnation of Jesus 01"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Piero_di_Cosimo_Incarnation_of_Jesus_01.jpg/256px-Piero_di_Cosimo_Incarnation_of_Jesus_01.jpg"></a>
  </li>
  <li><a title="Leonardo da Vinci
    , CC BY-SA 4.0 &lt;https://creativecommons.org/licenses/by-sa/4.0&gt;, via Wikimedia Commons"
      href="https://commons.wikimedia.org/wiki/File:Annunciation_(Leonardo).jpg"><img width="512"
        alt="Annunciation (Leonardo)"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Annunciation_%28Leonardo%29.jpg/512px-Annunciation_%28Leonardo%29.jpg"></a>
  </li>
</ul>
