<h4>Scripture</h4>
<ul>
  <li>Jeremiah  11: 7-9</li>
  <li>Ps. 125</li>
  <li>Hebrews 5: 1 -6</li>
  <li>St Mark 10; 46- 52</li>
  <li>St Matthew 5: 5</li>
</ul>

<h4>Prayer</h4>
<p>
  Lord that I may see. Lord that I may hear.<br>
  Let the will of God be my guiding light.<br>
  Lord, as your Church, May we be more attentive to the cry of those round us and like Jesus be ready and willing to lend a helping hand. <br><br>
  Amen<br>
</p>

<h4>Media Credits</h4>
<ul>
  <li><a title="Eustache Le Sueur
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Eustache_Le_Sueur_003.jpg"><img width="512" alt="Eustache Le Sueur 003" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Eustache_Le_Sueur_003.jpg/512px-Eustache_Le_Sueur_003.jpg"></a></li>
</ul>