<h4>Media Credits</h4>
<ul>
  <li><a title="Simone Cantarini
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:2017-03_Brescia_Mattes_Pana_(111).JPG"><img width="256" alt="2017-03 Brescia Mattes Pana (111)" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/2017-03_Brescia_Mattes_Pana_%28111%29.JPG/256px-2017-03_Brescia_Mattes_Pana_%28111%29.JPG"></a></li>
  <li><a title="Scipione Pulzone
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Papa_Pio_V.PNG"><img width="256" alt="Papa Pio V" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Papa_Pio_V.PNG/256px-Papa_Pio_V.PNG"></a></li>
  <li><a target="_blank" href="https://www.pexels.com/video/a-person-praying-and-holding-a-rosary-7218311/">Video by MART PRODUCTION from Pexels - A Person Praying and Holding a Rosary</a></li>
  <li><a title="Attributed to Juan Pantoja de la Cruz
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Don_Juan_d%27Austria_1.JPG"><img width="256" alt="Don Juan d&#039;Austria 1" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Don_Juan_d%27Austria_1.JPG/256px-Don_Juan_d%27Austria_1.JPG"></a></li>
  <li><a title="Unknown authorUnknown author, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Pope_Gregory_XIII_portrait.jpg"><img width="256" alt="Pope Gregory XIII portrait" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Pope_Gregory_XIII_portrait.jpg/256px-Pope_Gregory_XIII_portrait.jpg"></a></li>
  <li><a title="Bernardo Cavallino
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Bernardo_Cavallino_-_La_Visione_di_San_Domenico_(anni_1640).jpg"><img width="256" alt="Bernardo Cavallino - La Visione di San Domenico (anni 1640)" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/Bernardo_Cavallino_-_La_Visione_di_San_Domenico_%28anni_1640%29.jpg/256px-Bernardo_Cavallino_-_La_Visione_di_San_Domenico_%28anni_1640%29.jpg"></a></li>
  <li><a title="Claudio Coello
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:SaintDominic.jpg"><img width="256" alt="SaintDominic" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/SaintDominic.jpg/256px-SaintDominic.jpg"></a></li>
</ul>