<h4>Scripture</h4>
<ul>
  <li>Isaiah 50: 5-9</li>
  <li>Psalm 114</li>
  <li>St James 2:14-18</li>
  <li>St Mark. 8:27-35</li>
  <li>St Ignatius of Loyola</li>
</ul>
<h4>Prayer</h4>
<p>Lord Jesus, teach me to be generous<br>
  Teach me to serve you as you deserve<br>
  To give and not to count the cost<br>
  To give of myself and not ask for reward<br>
  Except the reward of knowing that I am doing your will.<br>Amen<br>
</p>
