<h4>Images, Video Clips & Credits</h4>
<ul>
  <li>
    <a title="Giuseppe Brovelli-Soffredini[1] (see here for possible life dates)., Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Maria_Goretti.jpg"><img width="256" alt="Maria Goretti" src="https://upload.wikimedia.org/wikipedia/commons/3/38/Maria_Goretti.jpg"></a>
  </li>
  <li><a href="https://www.pexels.com/photo/white-petaled-flowers-on-black-surface-2395259/">"Lily photo" Photo by Evie Shaffer from Pexels</a></li>

  <li><a href="https://www.pexels.com/photo/snow-bench-light-city-6495745/">"Cemetery photo" Photo by KoolShooters from Pexels</a></li>
  <li><a href="https://www.pexels.com/photo/woman-carrying-bag-with-cane-in-field-6026441/">"Field woman photo" Photo by Pat Whelen from Pexels</a></li>

  <li><a href="https://www.pexels.com/video/a-bonfire-giving-light-from-the-darkness-of-the-night-3514521/">"Flame Clip" Video by Sumon Error from Pexels</a></li>
</ul>

<h4>Prayer</h4>
<p>
  Father,<br><br>
Help all who suffer from harassment of any kind.<br>
Bring healing and peace into their lives.<br>
May St Maria Goretti join with us in prayer for that healing.<br><br>
Amen
</p>