<h4>References:</h4>
<ul>
  <li>Exodus 34:3-8</li>
  <li>Psalm 115</li>
  <li>Hebrews 9:11-15</li>
  <li>Mark 14:12-16, 22-26</li>
  <li>Diary: 1392</li>
</ul>

<h4>Image</h4>

<a title="Photo: Andreas Praefcke, CC BY 3.0 &lt;https://creativecommons.org/licenses/by/3.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Merazhofen_Pfarrkirche_Chorgest%C3%BChl_links_Juliana.jpg"><img width="256" alt="Merazhofen Pfarrkirche Chorgestühl links Juliana" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Merazhofen_Pfarrkirche_Chorgest%C3%BChl_links_Juliana.jpg/256px-Merazhofen_Pfarrkirche_Chorgest%C3%BChl_links_Juliana.jpg"></a>