<h4>Recommendation:</h4>
<p>If you can't get to Mass, look online for the Readings and Order of the Easter Vigil Mass, then reflect on the imagery, scenery and message of the Celebration. Share the experience with a friend/loved one via internet video chat.<br>May God Bless you.</p>
<h4>Image Credit:</h4>
<a title="Boston at en.wikipedia, CC BY-SA 3.0 &lt;https://creativecommons.org/licenses/by-sa/3.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:BenedictineEasterVigil.jpg"><img width="256" alt="BenedictineEasterVigil" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/BenedictineEasterVigil.jpg/256px-BenedictineEasterVigil.jpg"></a>

<a title="No machine-readable author provided. Cnyborg assumed (based on copyright claims)., CC BY-SA 3.0 &lt;http://creativecommons.org/licenses/by-sa/3.0/&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Paschal_candle01.JPG"><img width="256" alt="Paschal candle01" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Paschal_candle01.JPG/256px-Paschal_candle01.JPG"></a>






