<h4>Scripture</h4>
<ul>
  <li>Deuteronomy 4:1-2, 68</li>
  <li>Psalm 14:2-5</li>
  <li>St James 1:17-18, 21-22, 27</li>
  <li>St Mark: 1-8, 14-15, 21-23</li>
</ul>

<h4>Prayer</h4>
<p>
Father, open our hearts to the wonder of this message.<br>
Let us not fall into the error of counting the cost.<br>
Freely we have been given, unless we do the same we are not worthy of you.<br> 
Amen
</p>
        
        
        