<h4>Scripture</h4>
<ul><li>Passion according to St John</li></ul>


<h4>Media Credits</h4>
<ul>
  <li><a href="https://www.pexels.com/video/close-up-shot-of-a-cross-3845354/" target="_blank">Video by Kelly Lacy from Pexels
  </a></li>
  <li><a href="https://www.pexels.com/photo/man-standing-in-front-of-the-altar-7520064/" target="_blank">Photo by cottonbro from Pexels</a></li>
  <li><a href="https://www.pexels.com/photo/monochrome-photo-of-crucifix-1422789/" target="_blank">Photo by Alem Sánchez from Pexels</a></li>
  <li><a href="https://www.pexels.com/photo/silhouette-photo-of-3-cross-under-the-blue-sky-70847/" target="_blank">Three Crosses</a></li>
  <li><a href="https://www.pexels.com/photo/colorful-geometrical-stained-glass-window-with-rood-4639332/" target="_blank">Photo by Milan from Pexels</a></li>
  <li><a target="_blank" href="https://www.pexels.com/video/the-cross-at-the-crossroad-in-illinois-4188263/">Video by Kelly Lacy from Pexels</a></li>
</ul>
