<h4>Scripture</h4>
<ul>
  <li>Luke 10:38, 10:41-42</li>
  <li>John 11:21-45</li>
</ul>

<h4>Prayer</h4>
<p>
St Martha,<br>
It was your faith and led Jesus to proclaim, 
<br>“I am the resurrection and the life”.<br>
Your faith allowed you to see beyond his humanity as you cried out, <br>
“Lord, I believe that you are the Messiah, the son of God.”<br><br>

St Martha, intercede for us before the mercy seat of God, <br>
so that like you, we may, with strong faith, cry out, <br>
“You are the son of God, sent by the Father!”<br><br>
Amen
</p>