<h4>Scripture:</h4>
<ul>
  <li>Mark 9:2-10</li>
  <li>Mark 8:22-30</li>
  <li>Mark 8:31-33</li>
</ul>

<br><br>

<h4>Prayer</h4>

<p>Father, <br>you asked us to listen to your beloved Son.<br>
  We get so distracted in our everyday life, our minds and hearts are filled with good intentions.<br>
  Give us the wisdom to shut off the television, refrain from spreading gossip and speaking ill of people.<br>
  Let us use our time in such a way that our lives will truly be tuned in to your word.<br><br>
  Amen</p>

