<h4>Scripture</h4>
<ul>
  <li>Acts 2:1-11</li>
  <li>Galatians 5:16-25</li>
  <li>John 15:26-27, 16:12-15, 15:5</li>
  <li>Romans 5:5</li>
</ul>
<h4>Images:</h4>

<a title="Pete unseth, CC BY-SA 4.0 &lt;https://creativecommons.org/licenses/by-sa/4.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Pentecost_mosaic.jpg"><img width="512" alt="Pentecost mosaic" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Pentecost_mosaic.jpg/512px-Pentecost_mosaic.jpg"></a>

<a title="Duccio di Buoninsegna
, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Duccio_di_Buoninsegna_018.jpg"><img width="512" alt="Duccio di Buoninsegna 018" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/Duccio_di_Buoninsegna_018.jpg/512px-Duccio_di_Buoninsegna_018.jpg"></a>
