<h4>Scripture:</h4>
<ul>
  <li>Acts 10:34, 37:43</li>
  <li>Colossians 3:1-4</li>
  <li>John 20:1-9</li>
  <li>Jerusalem Bible - I Corinthians 15:12ff</li>
  </ul>

  <h4>Prayer of the Easter Eucharist:</h4>
<p>
  O God, who on this day,<br>
  Through your only begotten Son<br>
  Have conquered death and unlocked for us,<br>
  The path to eternity.<br>
  
  Grant, we pray, that we who keep the Solemnity of the Lord’s resurrection,<br>
  May, through the renewal brought by your Holy Spirit, rise up in the light of life.<br><br>Amen
    
</p>

<h4>Closing Prayer</h4>

<p>

Father, as you look with love,<br>
Give us true growth and belief in your risen son.<br>
Through this grace, which you give us freely, may we journey from this kingdom on Earth <br>to your kingdom in heaven and share more fully in the resurrection of Jesus, your son.<br><br>
Amen

</p>

