<h4>Scripture:</h4>
<ul>
  <li>Ezekiel 2:25</li>
  <li>II Corinthians 12:7-10</li>
  <li>Mark 6:16</li>
</ul>

<h4>Prayer:</h4>
<p>
  Father, <br>
  Open our hearts and minds to your word.<br>
  Let us listen to your voice especially <br>
  from places we least expect to hear it.<br>
  Amen
</p>
