<h4>Scripture</h4>
<ul>
  <li>Isaiah 53:10-11</li>
  <li>Psalm 32</li>
  <li>Hebrews 4:14-16</li>
  <li>Mark 10:35-45</li>
  <li></li>
  <li></li>
</ul>

        
<h4>Prayer</h4>
<p>
  Father, <br>
May we always walk with your Son Jesus.<br>
Serve and love as he has shown us  by example.<br>
And one day be welcomed into your kingdom. <br><br>
Amen
</p>