<h4>References</h4>
<ul>
  <li>Pro Evangelium - Chapters 4, 5
    Non-canonical Gospel of St James</li>
</ul>
<h4>Media Credits</h4>
<ul>
  <li><a title="Giotto
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Giotto_-_Scrovegni_-_-07-_-_The_Birth_of_the_Virgin.jpg"><img width="512" alt="Giotto - Scrovegni - -07- - The Birth of the Virgin" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Giotto_-_Scrovegni_-_-07-_-_The_Birth_of_the_Virgin.jpg/512px-Giotto_-_Scrovegni_-_-07-_-_The_Birth_of_the_Virgin.jpg"></a></li>
  <li><a title="AnonymousUnknown author, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Codex_St_Peter_perg_7_10v.jpg"><img width="256" alt="Codex St Peter perg 7 10v" src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Codex_St_Peter_perg_7_10v.jpg"></a></li>
  <li><a title="Unknown authorUnknown author, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Birth_of_Mary.jpg"><img width="256" alt="Birth of Mary" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Birth_of_Mary.jpg/256px-Birth_of_Mary.jpg"></a></li>
  <li><a title="Pianobits, CC BY-SA 4.0 &lt;https://creativecommons.org/licenses/by-sa/4.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Nativity_of_mary.jpg"><img width="512" alt="Nativity of mary" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Nativity_of_mary.jpg/512px-Nativity_of_mary.jpg"></a></li>
</ul>
<h4>Prayer</h4>
<p>
May your joy,<br>
O Mother Mary<br>
Today, we pray<br>
Bring Peace, Happiness and Love<br>
To your children scattered throughout the world.<br>
<br>
O Mary conceived without sin.<br>Pray for us who have recourse to thee.
</p>