<h4>Scripture</h4>
<ul>
  <li>Kings II 4:42-44</li>
  <li>Psalm 144</li>
  <li>Ephesians 4:1-6</li>
  <li>John 6:1-15, 6:60-71, 18:36</li>
</ul>
<h4>Prayer</h4>
<p>
  Jesus thank you for your Presence,<br>
Patience and Leadership.<br><br>

Unworthy as we are, <br>
As you offer us to the Father, <br>
We are made worthy. <br><br>

Amen
</p>