<h4>Image:</h4>
<a title="Manuel Gómez-Moreno González
, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Manuel_G%C3%B3mez-Moreno_Gonz%C3%A1lez._San_Juan_de_Dios_salvando_a_los_enfermos_de_incendio_del_Hospital_Real_(1880).jpg"><img width="256" alt="Manuel Gómez-Moreno González. San Juan de Dios salvando a los enfermos de incendio del Hospital Real (1880)" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Manuel_G%C3%B3mez-Moreno_Gonz%C3%A1lez._San_Juan_de_Dios_salvando_a_los_enfermos_de_incendio_del_Hospital_Real_%281880%29.jpg/256px-Manuel_G%C3%B3mez-Moreno_Gonz%C3%A1lez._San_Juan_de_Dios_salvando_a_los_enfermos_de_incendio_del_Hospital_Real_%281880%29.jpg"></a>

<h4>Song:</h4>
<p>
  <i>
    “Those who with healing wonders seek,<br>
Must have recourse to John the meek.<br>
Arise request by faith demand for he was sent by God’s command.”
  </i>
</p>

<h4>Prayer:</h4>
<p>
  St John of God we commend the sick and needy to your paternal care. <br>From your place in heaven plead for us before the throne of God that we may be worthy of a cure.<br><br>
Amen.
</p>