<h4>Scripture</h4>
<ul>
  <li>Book of Numbers 11: 25-29</li>
  <li>Psalm 18</li>
  <li>St James 5: 1-6</li>
  <li>St Mark 9: 38-43, 45, 47-48 9: 14</li>
</ul>

<h4>Prayer</h4>
<p>
  Give us, <br>
Heavenly Father the courage to <br>
allow the Good shepherd to <br>
guide us along the right path that <br>
leads to You. <br><br>
Amen
</p>