<h4>Images:</h4>
<figure>
<img src="/src/img/France-002009_-_Our_Lady_of_Lourdes_(15774765182).jpg" style="max-width: 250px; display: inline; margin-right: 1rem; margin-bottom: 1rem;">
  <figcaption>
    <a href="https://www.flickr.com/people/22490717@N02">Dennis Jarvis</a> from Halifax, Canada, <a href="https://commons.wikimedia.org/wiki/File:France-002009_-_Our_Lady_of_Lourdes_(15774765182).jpg">France-002009 - Our Lady of Lourdes (15774765182)</a>, size by n/a, <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="license">CC BY-SA 2.0</a>
  </figcaption>
</figure>

<figure>
  <img src="/src/img/St_Malachys_Church,_Castlewellan,_May_2010_(07).JPG" style="max-width: 250px; display: inline; margin-right: 1rem; margin-bottom: 1rem;">
    <figcaption>
      <a href="https://commons.wikimedia.org/wiki/User:Ardfern">Ardfern</a>, <a href="https://commons.wikimedia.org/wiki/File:St_Malachys_Church,_Castlewellan,_May_2010_(07).JPG">St Malachys Church, Castlewellan, May 2010 (07)</a>, size by n/a, <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="license">CC BY-SA 3.0</a>
    </figcaption>
  </figure>


<br><br>
<h4>References:</h4>
<ul>
  <li>The lives of The Saints</li>
</ul>