<h4>Image Credits:</h4>

<a title="NN, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:S.Rita_da_Cascia.jpg"><img width="256" alt="S.Rita da Cascia" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/S.Rita_da_Cascia.jpg/256px-S.Rita_da_Cascia.jpg"></a>

<a title="Ilustração medieval de Santa Rita de Cássia, a mais antiga a representar a santa" href="https://upload.wikimedia.org/wikipedia/commons/6/6d/Santa_Rita_Cascia.jpg"><img width="256" alt="Ilustração medieval de Santa Rita de Cássia, a mais antiga a representar a santa" src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Santa_Rita_Cascia.jpg"></a>