<h4>Scripture</h4>
<ul>
  <li>Book of Wisdom 7:7-11</li>
  <li>Psalm 89</li>
  <li>Hebrews 4:12- 13</li>
  <li>St Mark 10:17-30</li>

</ul>


<h4>Prayer</h4>
<p><i>Prayer inspired by Communion Antiphon  Ps. 33 - 11</i></p>
<p>
  Lord you know us through and through. <br>
  At times we loose sight and loose our way.<br>
  May we always be guided by your love and <br>
  reach our goal in you. <br><br>
  Amen
</p>

<h4>Media Credits</h4>
<ul>
  <li><a title="Heinrich Hofmann
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Hoffman-ChristAndTheRichYoungRuler.jpg"><img width="512" alt="Hoffman-ChristAndTheRichYoungRuler" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Hoffman-ChristAndTheRichYoungRuler.jpg/512px-Hoffman-ChristAndTheRichYoungRuler.jpg"></a></li>
  <li><a title="Андрей Николаевич Миронов (A.N. Mironov), CC BY-SA 4.0 &lt;https://creativecommons.org/licenses/by-sa/4.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Christ_and_the_rich_young_man._2017._A.N._Mironov.jpg"><img width="512" alt="Christ and the rich young man. 2017. A.N. Mironov" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Christ_and_the_rich_young_man._2017._A.N._Mironov.jpg/512px-Christ_and_the_rich_young_man._2017._A.N._Mironov.jpg"></a></li>

</ul>