<h2>Media Credits</h2>

<ul>
  <li><a title="Francisco de Zurbarán
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Francisco_de_Zurbar%C3%A1n_-_Saint_Elizabeth_of_Thuringia_-_Google_Art_Project.jpg"><img width="256" alt="Francisco de Zurbarán - Saint Elizabeth of Thuringia - Google Art Project" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/Francisco_de_Zurbar%C3%A1n_-_Saint_Elizabeth_of_Thuringia_-_Google_Art_Project.jpg/256px-Francisco_de_Zurbar%C3%A1n_-_Saint_Elizabeth_of_Thuringia_-_Google_Art_Project.jpg"></a></li>
    <li><a title="Of, CC BY-SA 3.0 &lt;https://creativecommons.org/licenses/by-sa/3.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:StElisabethKo%C5%A1iceAltar.JPG"><img width="256" alt="StElisabethKošiceAltar" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/StElisabethKo%C5%A1iceAltar.JPG/256px-StElisabethKo%C5%A1iceAltar.JPG"></a></li>
    <li><a title="Marianne Stokes
      , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Marianne_Stokes_St_Elizabeth_of_Hungary_Spinning_for_the_Poor.jpg"><img width="256" alt="Marianne Stokes St Elizabeth of Hungary Spinning for the Poor" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/be/Marianne_Stokes_St_Elizabeth_of_Hungary_Spinning_for_the_Poor.jpg/256px-Marianne_Stokes_St_Elizabeth_of_Hungary_Spinning_for_the_Poor.jpg"></a></li>
</ul>