<h4>Scripture</h4>
<ul>
  <li>Daniel 17:13/14</li>
  <li>Psalm 92</li>
  <li>Revelation 1:5-8</li>
  <li>St John 18: 33b-37</li>
</ul>
 
        
         
         
<h4>Prayer</h4>
<p>
  <br>
  Jesus, despite our shortcomings,
  <br>
  Give us faith so that you may king of our hearts.
  <br>
  Amen
</p>

<h4>Media Credits</h4>
<ul>
  <li><a title="Mihály Munkácsy
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Munkacsy_-_Christ_in_front_of_Pilate.jpg"><img width="512" alt="Munkacsy - Christ in front of Pilate" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Munkacsy_-_Christ_in_front_of_Pilate.jpg/512px-Munkacsy_-_Christ_in_front_of_Pilate.jpg"></a></li>
  <li><a title="Rzuwig, CC BY-SA 3.0 &lt;https://creativecommons.org/licenses/by-sa/3.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Christ_the_King_Statue_2.JPG"><img width="256" alt="Christ the King Statue 2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Christ_the_King_Statue_2.JPG/256px-Christ_the_King_Statue_2.JPG"></a></li>
</ul>