<h3>Scripture</h3>
<ul>
  <li>Gospel of St John 6:60-69</li>
</ul>

<h4>Prayer</h4>
<p>
  Our help, our strength, our hope and faith come to us from God.<br>
  Believing this with all our hearts leaves no room for doubt.<br>
  Mould us, free us, strengthen us fill us with your spirit.<br>
  So that we may know and feel your mighty power in our hearts.<br><br>
Amen.
</p>