
<h4>Scripture:</h4>
<ul>
  <li>Mark 1:12-15</li>
  <li>Hebrews 10,7,9</li>
  <li>Luke 9:35</li>
  <li>I Kings 19:12</li>
  <li>Matthew 4:4, 4:7, 4:10</li>
  <li>Deuteronomy 6:16, 6:13</li>
  <li>I Corinthians 16:3, 12:9a</li>
</ul>

<br><br>

<h4>Prayer</h4>

<p>Father, we are so wise when we read your word,<br>but Satan comes when we are weakest and confuses us.<br>During this time of Lent, give us the strength to reject Satan’s promptings.<br>We know our strength comes from you.<br>So Father, each day, guide us.<br><br>
  Amen</p>




