<h2>Scripture</h2>
<ul>
  <li>Genesis 2:18-24</li>
  <li>Hebrews 2:9-11</li>
  <li>St Mark 10:2-16</li>
  <li>Deuteronomy 24:1-5</li>
</ul>


<h4>Media Credits</h4>
<ul>
  <li><a title="Charles Lock Eastlake
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Charles_Lock_Eastlake_-_Christ_Blessing_Little_Children.jpg"><img width="512" alt="Charles Lock Eastlake - Christ Blessing Little Children" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Charles_Lock_Eastlake_-_Christ_Blessing_Little_Children.jpg/512px-Charles_Lock_Eastlake_-_Christ_Blessing_Little_Children.jpg"></a></li>
  <li>Tune: Seek Ye First, composed by Karen Lafferty (b. 1948).
    Music Copyright © 1972 Maranatha!Music, Administered by: CopyCare P.O. Box 77, Hailsham BN27 3EF UK music@copycare.com.</li>
</ul>