<h4>Scripture</h4>
<ul>
  <li>Exodus 16:2-4, 12-15, 3:14</li>
  <li>Psalm 77:23-25</li>
  <li>Ephesians 4:7, 20-24</li>
  <li>John 6:24-35</li>
</ul>

<h4>Prayer</h4>
<p>
  Father, <br>help us to ponder the things we don’t understand. <br>
May we be faithful to the message of Jesus<br><br>
Amen
</p>