<h4>Scripture</h4>

<ul>
  <li>Daniel 17: 13-14</li>
  <li>Psalm 92</li>
  <li>Revelations 1:5-8</li>
  <li>St John 18: 33b-37, 14-3</li>
  <li>2 Corinthians 14:9</li>
  <li></li>
</ul>


<h4>Prayer</h4>
<p>
  Father help us truly to believe that what we ask in our <br>
Prayers will be granted to us.<br>
Please helps us always to<br>
Pray for the things that are eternal. 
<br><br>
Amen
</p>