<h4>Prayer</h4>
<p>
  O Most beautiful flower of Mt Carmel,<br>
  Fruitful vine, splendour of Heaven,<br>
  Blessed Mother of the Son of God,<br>
  Immaculate Virgin,<br>
  Assist me in this, my necessity.<br>
  Oh Star of the sea, help me and let men know you are my mother.<br><br>

  O Holy Mary, Mother of God,<br>
  Queen of heaven and Earth.<br>
  I humbly ask you, from my heart,<br>
  To help me with this request,<br>
  Your power before God is great.<br>
  Allow me to call you, mother.<br>
  O Mary, conceived without sin,<br>
  Prayer for all who call upon you.<br>
  Holy Virgin Mary, I place my petition in your hands.<br><br>
  Amen

</p>


<h4>Images:</h4>
<ul>
  <li>
    <a title="Nicolas Mignard
, Public domain, via Wikimedia Commons"
      href="https://commons.wikimedia.org/wiki/File:Nicolas_Mignard-Vierge_et_saint_Simon_Stock.jpg"><img width="256"
        alt="Nicolas Mignard-Vierge et saint Simon Stock"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/10/Nicolas_Mignard-Vierge_et_saint_Simon_Stock.jpg/256px-Nicolas_Mignard-Vierge_et_saint_Simon_Stock.jpg"></a>
  </li>
  <li><a title="Jorge Barrios, Public domain, via Wikimedia Commons"
      href="https://commons.wikimedia.org/wiki/File:Virgen_del_Carmen.JPG"><img width="256" alt="Virgen del Carmen"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Virgen_del_Carmen.JPG/256px-Virgen_del_Carmen.JPG"></a>
  </li>
  <li><a
      title="Sarah sofía at English Wikipedia, CC BY-SA 3.0 &lt;http://creativecommons.org/licenses/by-sa/3.0/&gt;, via Wikimedia Commons"
      href="https://commons.wikimedia.org/wiki/File:Escapulariocafe.JPG"><img width="512" alt="Escapulariocafe"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Escapulariocafe.JPG/512px-Escapulariocafe.JPG"></a>
  </li>
  <li><a title="Pietro Novelli
  , Public domain, via Wikimedia Commons"
      href="https://commons.wikimedia.org/wiki/File:Pietro_Novelli_Our_Lady_of_Carmel_and_Saints.JPG"><img width="256"
        alt="Pietro Novelli Our Lady of Carmel and Saints"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Pietro_Novelli_Our_Lady_of_Carmel_and_Saints.JPG/256px-Pietro_Novelli_Our_Lady_of_Carmel_and_Saints.JPG"></a>
  </li>
  <li><a title="G.dallorto, Attribution, via Wikimedia Commons"
      href="https://commons.wikimedia.org/wiki/File:IMG_3918_-_Milano_-_Chiesa_del_Carmine_-_Dettaglio_dl_portale_-_Foto_Giovanni_Dall%27Orto_19-jan_2007.jpg"><img
        width="512"
        alt="IMG 3918 - Milano - Chiesa del Carmine - Dettaglio dl portale - Foto Giovanni Dall&#039;Orto 19-jan 2007"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/IMG_3918_-_Milano_-_Chiesa_del_Carmine_-_Dettaglio_dl_portale_-_Foto_Giovanni_Dall%27Orto_19-jan_2007.jpg/512px-IMG_3918_-_Milano_-_Chiesa_del_Carmine_-_Dettaglio_dl_portale_-_Foto_Giovanni_Dall%27Orto_19-jan_2007.jpg"></a>
  </li>
</ul>
