<h4>Media Credits</h4>
<ul>
  <li><a href="https://www.pexels.com/photo/scene-of-birth-of-christ-4346649/" target="_blank">Photo by Burkay Canatar from Pexels</a></li>
  <li><a href="https://www.pexels.com/video/lighted-chandelier-in-a-church-7218307/" target="_blank">Video by MART PRODUCTION from Pexels</a></li>
  <li><a href="https://www.pexels.com/video/figurines-made-representing-the-nativity-scene-3321566/" target="_blank">Video by Selegna Díaz from Pexels</a></li>
  <li><a title="Manner of Abraham Bloemaert
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Manner_of_Abraham_Bloemaert_-_Announcement_to_the_shepherds_c1600_FHM01_OS-I-19.jpg"><img width="512" alt="Manner of Abraham Bloemaert - Announcement to the shepherds c1600 FHM01 OS-I-19" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Manner_of_Abraham_Bloemaert_-_Announcement_to_the_shepherds_c1600_FHM01_OS-I-19.jpg/512px-Manner_of_Abraham_Bloemaert_-_Announcement_to_the_shepherds_c1600_FHM01_OS-I-19.jpg"></a></li>
</ul>