<h4>Images:</h4>
<img src="/src/img/Saint_Timothy.jpg" style="max-width: 250px; display: inline; margin-right: 1rem; margin-bottom: 1rem;" title="St Timothy" alt="St Timothy">
<img src="/src/img/Saint_Titus_(Kosovo,_14th_c._Pech_Patriarch.,_S._Nicholas_church).jpg" style="max-width: 250px; display: inline; margin-right: 1rem; margin-bottom: 1rem;" title="St Titus" alt="St Titus">
<h4>References:</h4>
<ul>
  <li>Acts 16:2-3</li>
    <li>II Corinthians 8:23</li>
</ul>