<h4>Image:</h4>
<a title="Manuel G칩mez-Moreno Gonz치lez
, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Manuel_G%C3%B3mez-Moreno_Gonz%C3%A1lez._San_Juan_de_Dios_salvando_a_los_enfermos_de_incendio_del_Hospital_Real_(1880).jpg"><img width="256" alt="Manuel G칩mez-Moreno Gonz치lez. San Juan de Dios salvando a los enfermos de incendio del Hospital Real (1880)" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Manuel_G%C3%B3mez-Moreno_Gonz%C3%A1lez._San_Juan_de_Dios_salvando_a_los_enfermos_de_incendio_del_Hospital_Real_%281880%29.jpg/256px-Manuel_G%C3%B3mez-Moreno_Gonz%C3%A1lez._San_Juan_de_Dios_salvando_a_los_enfermos_de_incendio_del_Hospital_Real_%281880%29.jpg"></a>
