<h4>Scripture</h4>
<ul>
  <li>Kings 17:10-16</li>
  <li>Ps. 145</li>
  <li>Hebrews. 9: 24-28</li>
  <li>St Mark 12:38-44</li>
</ul>
<h4>Prayer</h4>
<p>
  God our Father, <br>
protector and friend, <br>
help us to imitate the poor widow and give from our nothingness. <br>
For you have been our help in ages past and <br>
our hope for years to come. <br><br>Amen
</p>
<h4>Media Credits</h4>
<ul>
  <li><a href="https://www.flickr.com/photos/83306346@N00/18660582786" target="_blank">Jesus commending the poor widow</a></li> 
  <li><a title="James Tissot
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Brooklyn_Museum_-_The_Widow%27s_Mite_(Le_denier_de_la_veuve)_-_James_Tissot.jpg"><img width="512" alt="Brooklyn Museum - The Widow&#039;s Mite (Le denier de la veuve) - James Tissot" src="https://upload.wikimedia.org/wikipedia/commons/8/8c/Brooklyn_Museum_-_The_Widow%27s_Mite_%28Le_denier_de_la_veuve%29_-_James_Tissot.jpg"></a></li>
</ul>


        
        
        