<h4>Scripture</h4>
<ul>
  <li>Gospel of St Luke 1:39-56</li>
</ul>

<h4>Prayer</h4>
<p>
  May the Lord fill our hearts with joy <br>as we celebrate this beautiful Feast of the Assumption of our Mother Mary into heaven. <br>
May we live in such a way <br>that one day we can join her in that heavenly home. <br><br>
Amen
</p>

<h4>Media Credits</h4>

<ul>
  <li><a title="Michael Pitcairn
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Pius_XII_with_tabard,_by_Michael_Pitcairn,_1951.png"><img width="256" alt="Pius XII with tabard, by Michael Pitcairn, 1951" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/Pius_XII_with_tabard%2C_by_Michael_Pitcairn%2C_1951.png/256px-Pius_XII_with_tabard%2C_by_Michael_Pitcairn%2C_1951.png"></a></li>
  <li><a title="Davide Mauro, CC BY-SA 4.0 &lt;https://creativecommons.org/licenses/by-sa/4.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Feast_of_the_Assumption_of_Mary_(Syracuse)_03.jpg"><img width="512" alt="Feast of the Assumption of Mary (Syracuse) 03" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Feast_of_the_Assumption_of_Mary_%28Syracuse%29_03.jpg/512px-Feast_of_the_Assumption_of_Mary_%28Syracuse%29_03.jpg"></a></li>
  <li><a title="Titian
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Tizian_041.jpg"><img width="256" alt="Tizian 041" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Tizian_041.jpg/256px-Tizian_041.jpg"></a></li>
  <li><a title="National Gallery of Art
    , CC0, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Nicolas_Poussin,_The_Assumption_of_the_Virgin,_c._1630-1632,_NGA_46470.jpg"><img width="256" alt="Nicolas Poussin, The Assumption of the Virgin, c. 1630-1632, NGA 46470" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/Nicolas_Poussin%2C_The_Assumption_of_the_Virgin%2C_c._1630-1632%2C_NGA_46470.jpg/256px-Nicolas_Poussin%2C_The_Assumption_of_the_Virgin%2C_c._1630-1632%2C_NGA_46470.jpg"></a></li>
  <li><a title="Peter Paul Rubens
    , CC BY-SA 4.0 &lt;https://creativecommons.org/licenses/by-sa/4.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Rubens,_Mari%C3%A4_Himmelfahrt_(Antwerpen).jpg"><img width="256" alt="Rubens, Mariä Himmelfahrt (Antwerpen)" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/Rubens%2C_Mari%C3%A4_Himmelfahrt_%28Antwerpen%29.jpg/256px-Rubens%2C_Mari%C3%A4_Himmelfahrt_%28Antwerpen%29.jpg"></a></li>
</ul>