
<h4>Scripture:</h4>
<ul>
  <li>John 8:7</li>
  <li>Joel 2:12-18</li>
  <li>Jeremiah 30:22</li>
  <li>II Corinthians 6:2</li>
  <li>Matthew 6:1-6, 16:18</li>
  <li>Luke 6:31</li>
</ul>

<br><br>


<h4>Prayer</h4>

<p>Father, through your Son Jesus and the Holy Spirit, <br>
  Give us the grace to be sincere in this special time of Lent.<br>
  Give us true courage to look into our own self. <br>May be build on the grace already given us.<br>
  In your mercy, hear our prayer.<br><br>
  Amen</p>




