<h4>Scripture</h4>
<ul>
  <li>Book of Samuel 1:20-22, 24-28</li>
  <li>Psalm 8</li>
  <li>Letter of St John 3:1-2, 21-24</li>
  <li>Saint Luke 2:41-52</li>
  <li></li>
</ul>

<h4>Prayer</h4>
<p>
  Father<br>
  In your wisdom you have given us the example of the Holy Family. <br>
  Help us to strive to imitate the virtues that endeared them to you.<br>
  May we live in peace and charity with each other under your guidance.
  <br><br>
  Amen
</p>

<h4>Media Credits</h4>
<ul>
  <li><a title="Jean Bourdichon  (1503-1508), Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Fol._159v_-_Joseph_Marie_et_l%27Enfant.jpg"><img width="256" alt="Fol. 159v - Joseph Marie et l&#039;Enfant" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Fol._159v_-_Joseph_Marie_et_l%27Enfant.jpg/256px-Fol._159v_-_Joseph_Marie_et_l%27Enfant.jpg"></a></li>
</ul>

