<h4>Scripture</h4>
<ul>
  <li>Zephaniah 3:14-18</li>
  <li>Isaiah 12:2-6 (Psalm)</li>
  <li>Philippians 4: 4-7</li>
  <li>Luke 3:10-18. 6: 29</li>
  <li>1 John: 3:1</li>
</ul>

<h4>Prayer</h4>
<p>
  Your faithful people rejoice in the coming of your Son.<br>
Give us that peace in our lives by helping us let go <br>of
of everything that is not of you. <br>May we always rejoice
in your holy name. <br><br>
Amen

  <br>
</p>

<h4>Media Credits</h4>
<ul>
  <li><a title="Pieter Breughel the Younger
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Saint_John_the_Baptist_Preaching_to_the_Masses_in_the_Wilderness_oil_on_oak_panel_by_Pieter_Brueghel_the_Younger.jpg"><img width="512" alt="Saint John the Baptist Preaching to the Masses in the Wilderness oil on oak panel by Pieter Brueghel the Younger" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Saint_John_the_Baptist_Preaching_to_the_Masses_in_the_Wilderness_oil_on_oak_panel_by_Pieter_Brueghel_the_Younger.jpg/512px-Saint_John_the_Baptist_Preaching_to_the_Masses_in_the_Wilderness_oil_on_oak_panel_by_Pieter_Brueghel_the_Younger.jpg"></a></li>
</ul>