<h4>Scripture:</h4>
<ul>
  <li>Isaiah 13:53, 12</li>
  <li>Hebrews 4:14-16, 5:7-9</li>
  <li>John 18:1-19, 42</li>
  <li>Romans 5:6ff</li>
  <li>Matthew 27:4-6</li>
  </ul>

  <h4>Image of Crucifix</h4>
  <a title="elduendesuarez, CC BY-SA 4.0 &lt;https://creativecommons.org/licenses/by-sa/4.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Colecci%C3%B3n_Virgen_del_Rosario_-_Valle_Tabares_by_elduendesuarez_06.jpg"><img width="256" alt="Colección Virgen del Rosario - Valle Tabares by elduendesuarez 06" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Colecci%C3%B3n_Virgen_del_Rosario_-_Valle_Tabares_by_elduendesuarez_06.jpg/256px-Colecci%C3%B3n_Virgen_del_Rosario_-_Valle_Tabares_by_elduendesuarez_06.jpg"></a>