<h4>Scripture</h4>
<ul>
  <li>Jeremiah 33: 14-16</li>
  <li>Psalm 24</li>
  <li>Thessalonians 1:12-42</li>
  <li>Luke 21:25-28,34-36</li>
</ul>
<h4>Prayer</h4>
<p>Father you are a God of Mercy and Compassion. <br>
  Look with mercy on your children<br>
  Give to us the grace and courage to place our trust in your Word. <br>
  Amen </p>
<h4>Media Credits</h4>
<ul>
  <li><a title="Wilhelm von Kaulbach
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Kaulbach_Zerstoerung_Jerusalems_durch_Titus.jpg"><img width="512" alt="Kaulbach Zerstoerung Jerusalems durch Titus" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c7/Kaulbach_Zerstoerung_Jerusalems_durch_Titus.jpg/512px-Kaulbach_Zerstoerung_Jerusalems_durch_Titus.jpg"></a></li>
  <li><a title="Vassil, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Vitrail_du_19%C3%A8me_si%C3%A8cle_Reims_020208_03.jpg"><img width="256" alt="Vitrail du 19ème siècle Reims 020208 03" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Vitrail_du_19%C3%A8me_si%C3%A8cle_Reims_020208_03.jpg/256px-Vitrail_du_19%C3%A8me_si%C3%A8cle_Reims_020208_03.jpg"></a></li>
  <li><a href="https://www.pexels.com/video/cold-glacier-iceberg-melting-9358281/" target="_blank">Video by Jan Zakelj from Pexels</a></li>
  <li><a href="https://www.pexels.com/video/coronavirus-4157282/" target="_blank">Video by Victor Varetto from Pexels</a></li>
</ul>
