<h4>Scripture:</h4>
<ul>
  <li>Exodus 12:1-8, 11-14</li>
  <li>I Corinthians 11:23-28</li>
  <li>John 13:1-15</li>
  </ul>

<p>Zoom experience - a Daily Missal contains the full ritual. Use it as a guide. If you do not have a missal book, the material can be readily found online.<br>
  May God Bless You.
</p>


 