<h4>Prayer</h4>
<p>In imitation of his Lord and Saviour on Calvary<br>
  Fr Maximilian offered life to an inmate<br>
  by changing places with him.<br><br>
  May we who try to imitate <b>Jesus</b> our Saviour<br>
  be as successful as Fr Maximilian was in reaching out to others.<br><br>
  We make this prayer in <b>Jesus</b> name.<br><br>
  Amen.</p>

  
<h4>Media Credits</h4>
<ul>
  <li><a title="Unknown authorUnknown author, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Fr.Maximilian_Kolbe_in_1936.jpg"><img width="256" alt="Fr.Maximilian Kolbe in 1936" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Fr.Maximilian_Kolbe_in_1936.jpg/256px-Fr.Maximilian_Kolbe_in_1936.jpg"></a></li>
  <li><a title="Gosu, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Ko%C5%9Bci%C3%B3%C5%82_MB_Ostrobramskiej_w_Chrzanowie_13_(cropped).jpg"><img width="256" alt="Kościół MB Ostrobramskiej w Chrzanowie 13 (cropped)" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Ko%C5%9Bci%C3%B3%C5%82_MB_Ostrobramskiej_w_Chrzanowie_13_%28cropped%29.jpg/256px-Ko%C5%9Bci%C3%B3%C5%82_MB_Ostrobramskiej_w_Chrzanowie_13_%28cropped%29.jpg"></a></li>
  <li><a target="_blank" href="https://www.pexels.com/photo/sepia-effect-photo-of-fence-with-classic-design-building-during-daytime-53955/">Sepia Effect Photo of Fence With Classic Design Building during Daytime</a></li>
  <li><a target="_blank" href="https://www.pexels.com/video/dropping-red-paint-on-water-7565889/">Dropping Red Paint on Water</a></li>
  <li><a target="_blank" href="https://www.pexels.com/photo/virgin-mary-statue-on-white-concrete-altar-5894698/">Virgin Mary Statue on White Concrete Altar</a></li>
  <li><a target="_blank" href="https://www.pexels.com/photo/folded-newspapers-158651/">Folded Newspapers
  </a></li>
  <li><a target="_blank" href="https://www.pexels.com/photo/green-and-black-industrial-machine-1440504/">Green and Black Industrial Machine</a></li>
</ul>