<h4>Image:</h4>
<a title="Guido Reni
, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Guido_Reni_-_St_Joseph_with_the_Infant_Jesus_-_WGA19304.jpg"><img width="256" alt="Guido Reni - St Joseph with the Infant Jesus - WGA19304" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Guido_Reni_-_St_Joseph_with_the_Infant_Jesus_-_WGA19304.jpg/256px-Guido_Reni_-_St_Joseph_with_the_Infant_Jesus_-_WGA19304.jpg"></a>


<h4>Prayer:</h4>
<p>
  Hail, Guardian of our redeemer.<br>
Spouse of the Blessed Virgin Mary,<br>
To you God entrusted His only Son.<br>
In you, Mary placed her trust.<br>
With you, Christ became Man.
<br><br>
Blessed Joseph, to us too, show yourself a father,<br>
Guide us in the path of life.<br>
Obtain for us, grace, mercy and courage.<br>
And defend us from every evil. <br><br>
Amen.
</p>