<h4>Prayer</h4>

<p>
  Jesus,<br>help us truly to place our trust in you<br>so that when things are going wrong,<br>we will not lose faith in you.<br>
Amen.

</p>

<h4>Scripture:</h4>
<ul>
  <li>Job 31:1,8-11</li>
  <li>Psalm 107</li>
  <li>2 Corinthians 5:14-17</li>
  <li>Mark 4:35-41</li>
</ul>




