<h4>
  2nd Sunday of Advent Year A
  <br>
  <small>
    The kingdom is at hand - be ready to embrace it
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Isaiah 11: 1-10</li>
  <li>Psalm  71</li>
  <li>Romans 15: 4-9</li>
  <li>St Matthew 3: 1-12</li>
</ul>

<h4>Prayer</h4>
<p>
  So often Father, we think of the balloons, the tinsel, things to eat and drink for the Christmas time and call that preparation. <br>
  Help us realise that Advent is much more than this. <br>
  It is part of our preparation to meet not just a plaster statue of Jesus,  but Jesus himself who comes to bring us eternal salvation. 
  <br>
  Amen
</p>
