<h4>
  Commemoration of all the Faithful
  <br>
  <small>
    "Do not let your hearts be troubled Jesus tells us on this All Souls Day. Trust in God still, and trust in me. There are many rooms in my Father's house, if there were not, I should have told you”"
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Gospel of St John  14: 1-7</li>
</ul>

<h4>Prayer</h4>
<p>
  Holy Mary, mother of God, pray for us sinners now. And at the hour of our death. 
  <br>Amen. 
  <br>

  May those who have died, rest in peace, as they await the day of resurrection.
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
