<h4>
  Immaculate Concept of the Blessed Virgin Mary
  <br>
  <small>
    Rejoice greatly in the Lord
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Book of Genesis 3: 9-15,20</li>
  <li>Psalm 97</li>
  <li>Ephesians 1: 1-6, 11-12</li>
  <li>Gospel of St Luke 1: 16-38 </li>
</ul>


<h4>Prayer</h4>
<p>
    Holy  Mary mother of God, and our mother, pray for us now and in times of danger, but particularly at the hour of death. 
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
