<h4>
  Queenship of the Blessed Virgin Mary
  <br>
  <small>
    Queen of all nations, Queen of Peace
  </small>
</h4>

<h4>References</h4>
<ul>
  <li>Pope Pius X11 Marion year 1954</li>
  <li>St Germanus Hom. 1 Pg 98, 344</li>
  <li>Gospel of St Luke</li>
</ul>

<h4>Prayer</h4>
<p>
  Mother Mary 
  you found great favour with God. <br>
  Please help us to draw closer to your Son Jesus, <br>so that we too may be numbered among the chosen.
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="https://themarianinstitute.org/events/queenship-of-the-blessed-virgin-mary-2024-08-22/" target="_blank">Image: https://themarianinstitute.org/events/queenship-of-the-blessed-virgin-mary-2024-08-22/</a></li>
  <li><a href="https://www.stjoanhershey.org/blog/queenship-of-mary" target="_blank">Image: https://www.stjoanhershey.org/blog/queenship-of-mary</a></li>
  <li><a href="https://www.pinterest.com/pin/816347869939631734/" target="_blank">Image: https://www.pinterest.com/pin/816347869939631734/</a></li>
  <li><a href="https://catholicexchange.com/solemnity-of-the-annunciation-of-the-lord-2/" target="_blank">Image: https://catholicexchange.com/solemnity-of-the-annunciation-of-the-lord-2/</a></li>
</ul>