<h4>
  22nd Sunday in OT Year C
  <br>
  <small>
    Humility is the foundation of exultation 
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Ecclesiasticus 3: 19-21, 30-31</li>
  <li>Psalm 67</li>
  <li>Hebrews 12: 18-19, 22-24</li>
  <li>St Luke 14: 1, 7-14</li>
  <li>St Matthew 21: 31 </li>
</ul>

<h4>Prayer</h4>
<p>
  May our sense of unworthiness never keep us <br>
  from partaking of <br>
  his Body, Blood, <br>
  soul and Divinity <br>
  —Our spiritual food as we journey towards eternity.
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="https://vineandfig.co/blog/the-sunday-project/2019/humble-guest" target="_blank">Image vineandfig.co/blog/</a></li>
</ul>