<h4>Scripture</h4>
<ul>
  <li>Book of Genesis  10: 1-10</li>
  <li>Psalm 14</li>
  <li>St Paul to the Colossians 1: 24-28</li>
  <li>St Luke 10: 38-42</li>
</ul>

<h4>Prayer</h4>
<p>
  Father, like Martha we also need to balance our day to day activities. 
  <br>
  May we listen to your Son Jesus listen to his every word and be brave to put them into action in daily life.
  <br>
  Amen
</p>
<h4>Media</h4>
<ul>
  <li><a title="attributed to Georg Friedrich Stettner († 1639), Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Georg_Friedrich_Stettner_(attr)_Christus_im_Hause_der_Martha.jpg"><img width="512" alt="Georg Friedrich Stettner (attr) Christus im Hause der Martha" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c6/Georg_Friedrich_Stettner_%28attr%29_Christus_im_Hause_der_Martha.jpg/512px-Georg_Friedrich_Stettner_%28attr%29_Christus_im_Hause_der_Martha.jpg"></a></li>
  <li><a title="Tintoretto
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Jacopo_Tintoretto_008-2.jpg"><img width="256" alt="Jacopo Tintoretto 008-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Jacopo_Tintoretto_008-2.jpg/256px-Jacopo_Tintoretto_008-2.jpg"></a></li>
</ul>

