<h4>Scripture</h4>
<ul>
  <li>1 Kings 19: 16, 19-21</li>
  <li>Psalm 15</li>
  <li>Galatians 5: 1, 13-18</li>
  <li>St Luke 9: 51-62</li>
  <li>St Matthew 28: 20, 25: 23</li>
</ul>


<h4>Prayer</h4>
<p>
Father help us to obey your Son Jesus by respecting every person we meet. 
  <br>
  Allow us to look beyond what we see and behold the face of Christ in each one. 
  <br>
  Then we will be the hands, eyes, ears, fee, mouth and compassion of your Divine Son Jesus.
  <br>
  Amen
</p>
<h4>Media</h4>
<ul>
  <li></li>
</ul>

