<h4>
  20th Sunday in OT Year C
  <br>
  <small>
    Fires to the earth
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Jeremiah 38; 4-6, 8-10</li>
  <li>Psalm 39</li>
  <li>Hebrews 12: 1-4</li>
  <li>St Luke 12: 49-53</li>
</ul>

<h4>Prayer</h4>
<p>
  Father, your Son, Jesus, <br>
  the very essence of faithfulness to your will,<br>
  was not afraid to proclaim you. <br>
  May we have the courage to follow his example. <br>
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li>Photo by Pixabay: https://www.pexels.com/photo/crucifix-illustration-208216/</li>
  <li>Image by <a href="https://pixabay.com/users/debradeka-19003134/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=7220256">Deb</a> from <a href="https://pixabay.com//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=7220256">Pixabay</a></li>
  <li><a title="Rembrandt
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Rembrandt_Harmensz._van_Rijn_145.jpg"><img width="256" alt="Rembrandt Harmensz. van Rijn 145" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Rembrandt_Harmensz._van_Rijn_145.jpg/256px-Rembrandt_Harmensz._van_Rijn_145.jpg"></a></li>
</ul>