<h4>
  25th Sunday in OT Year C
  <br>
  <small>
    God and money don't mix well
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Amos 8:4-7 </li>
  <li>Psalms 113:1-2, 4-6, 7-8</li>
  <li>1 Timothy 2:1-8</li>
  <li>2 Corinthians 8:9</li>
  <li>Luke 16:1-13</li>
</ul>

<h4>Prayer</h4>
<p>
  Father, <br>
help us listen to your Son, <br>
yes it's nice to have money and things, <br>
but let us avoid the temptation of it blinding us. <br>
With your guidance we can avoid this pitfall. <br>
In Jesus name we make this prayer. <br>
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="http://flickr.com/photos/centralasian/7178189752" target="_blank">Image: [ R ] Marinus van Reymerswaele - The parable of the unjust steward ...</a></li>
</ul>