<h4>
  Loneliness
  <br>
  <small>
    “It is strange to be so universally known and yet be so lonely" -     
Albert Einstein
  </small>
</h4>

<h4>Media</h4>
<ul>
  <li><a href="https://www.pexels.com/video/double-decker-bus-passing-by-the-road-6135882/" target="_blank">Video by George Morina</a></li>
  <li><a href="https://www.pexels.com/video/people-inside-a-shopping-mall-1562526/" target="_blank">Video by Jonathan Hirons</a></li>
  <li><a href="https://www.pexels.com/video/santa-claus-dancing-to-a-music-on-his-headphone-3197604/" target="_blank">Video by cottonbro studio</a></li>
  <li><a href="https://www.pexels.com/video/video-of-a-dining-table-5727379/" target="_blank">Video by Any Lane</a></li>
  <li><a href="https://www.pexels.com/video/man-browsing-facebook-on-mobile-5201209/" target="_blank">Video by DMC Filmes</a></li>
  <li><a href="https://www.pexels.com/video/man-walking-on-road-among-pine-trees-5738706/" target="_blank">Video by Pat Whelen</a></li>
  <li><a href="" target="_blank"></a></li>
  <li><a href="" target="_blank"></a></li>
  <li><a href="" target="_blank"></a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
