<h4>Scripture</h4>
<ul>
  <li>Isaiah 66: 10-14</li>
  <li>Psalm 65</li>
  <li>St Paul to the Galatians 6: 14-18</li>
  <li>St Luke  10: 1-12, 17-20</li>
</ul>

<h4>Prayer</h4>
<p>
  May the peace of Christ always reign in our hearts and in the hearts of all with whom we speak. 
  <br>
  Amen
</p>
<h4>Media</h4>
<ul>
  <li><a data-flickr-embed="true" href="https://www.flickr.com/photos/35409814@N00/48219679261/" title="Sending Out Disciples"><img src="https://live.staticflickr.com/65535/48219679261_9634f14350_n.jpg" width="231" height="320" alt="Sending Out Disciples"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script></li>
</ul>

