<h4>
  21st Sunday in OT Year C
  <br>
  <small>
    The Lord trains the one he loves
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Isaiah 66: 18-21.  Isaiah 43: 1</li>
  <li>Psalm 116</li>
  <li>Hebrews 12: 5-7, 11-13</li>
  <li>St Luke 13: 22-30</li>
</ul>

<h4>Prayer</h4>
<p>
  Hear, O Lord our voice as we call out to you. <br>
  By your most holy sufferings, <br>death and resurrection <br>May we be true to you until death. <br>
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li>Video by MART PRODUCTION: https://www.pexels.com/video/a-pregnant-woman-undergoing-ultrasound-procedure-7089367/</li>
  <li>Video by MART PRODUCTION: https://www.pexels.com/video/images-derived-from-an-ultrasound-procedure-7088471/</li>
  <li>Video by Kampus Production: https://www.pexels.com/video/newborn-baby-holding-the-finger-of-a-person-7918429/</li>
  <li>Video by MART PRODUCTION: https://www.pexels.com/video/a-person-praying-and-holding-a-rosary-7218311/</li>
</ul>