<h4>Scripture</h4>
<ul>
  <li>Deuteronomy  26: 4-10</li>
  <li>Psalm 90</li>
  <li>St Paul to the Romans 10: 8-13</li>
  <li>St Luke 4: 1-13</li>
</ul>

<h4>Prayer</h4>

<p>
  Grant to us, <br>
Heavenly Father <br>the strength we need to ward off the temptations of the Devil.<br><br> Amen
  
</p>