<h4>
  Saint Laurence O’Toole
  <br>
  <small>
    Irish Saint
  </small>
</h4>

<h4>Prayer</h4>
<p>
  St Laurence O'Tool you suffered greatly in your early days of life. <br>
  It gave you an a abiding love for the poor and all who suffer. <br>
  May we in our suffering allow it to bear fruit in our respect and care for others.
  
  <br>

  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
