<h4>
  Loneliness
  <br>
  <small>
    “It is strange to be so universally known and yet be so lonely" -     
Albert Einstein
  </small>
</h4>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
