<h4>
  Saint Pope John XXIII
  <br>
  <small>
    born; Angelo Giuseppe Roncalli
  </small>
</h4>



<h4>Media</h4>
<ul>
  <li><a href="https://www.flickr.com/photos/paullew/37630738761/in/photolist-2axrPjH-ZkinAH-UbzCSB-T86qsH-MYmPNR-LbS7KJ-nmiMmS-bTJSdH-M9bemf-pBGbkM" target="_blank">Image: Pope Saint John XXIII | "Consult not your fears but your hop… | Flickr</a></li>
  <li><a href="https://catholicfaithsharing.blogspot.com/2014/05/prayer-of-saint-john-xxiii-to-our-lady.html" target="_blank">Image: Catholic Faith Sharing: Prayer of Saint John XXIII to Our Lady</a></li>
  <li><a href="http://acatholiclife.blogspot.com/2014/08/vision-of-pope-john-paul-ii-says-to.html" target="_blank">Image: A Catholic Life: Vision of Pope John Paul II: Says to Instead Pray to ...</a></li>
  <li><a href="https://www.flickr.com/photos/35409814@N00/44331751825" target="_blank">Image: Pope St John XXIII | "Angelo Giuseppe Roncalli was born in t… | Flickr</a></li>
</ul>
