<h4>
  Saint Dominic Guzman
  <br>
  <small>
Founder of the Order of Preachers
  </small>
</h4>

<h4>Media</h4>
<ul>
  <li><a title="El Greco
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Santo_Domingo_en_oraci%C3%B3n_(Boston).jpg"><img width="256" alt="Santo Domingo en oración (Boston)" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Santo_Domingo_en_oraci%C3%B3n_%28Boston%29.jpg/256px-Santo_Domingo_en_oraci%C3%B3n_%28Boston%29.jpg"></a></li>
  <li><a title="Bernardo Cavallino
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Bernardo_Cavallino_-_La_Visione_di_San_Domenico_(anni_1640).jpg"><img width="256" alt="Bernardo Cavallino - La Visione di San Domenico (anni 1640)" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/Bernardo_Cavallino_-_La_Visione_di_San_Domenico_%28anni_1640%29.jpg/256px-Bernardo_Cavallino_-_La_Visione_di_San_Domenico_%28anni_1640%29.jpg"></a></li>
  <li><a href="http://www.thomryng.com/amateurmonk/aint-nothin-but-a-hound-dog/saintdominic/" target="_blank">www.thomryng.com</a></li>
  <li><a href="https://www.catholictothemax.com/catholic-art/st-dominic-de-guzman-rustic-wood-plaque/" target="_blank">www.catholictothemax.com</a></li>
  <li><a href="https://www.tumblr.com/tagged/saint%20dominic%20de%20guzman" target="_blank">/www.tumblr.com</a></li>
  <li><a href="https://vectorified.com/saint-dominic-icon" target="_blank">vectorified.com</a></li>
  <li><a href="https://dominicanfriars.org/blessed-jane-of-aza/" target="_blank">dominicanfriars.org/blessed-jane-of-aza/</a></li>
  <li><a title="Bartolomé Bermejo
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Santo_Domingo_de_Silos_entronizado_como_obispo,_por_Bartolom%C3%A9_Bermejo.jpg"><img width="256" alt="Santo Domingo de Silos entronizado como obispo, por Bartolomé Bermejo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Santo_Domingo_de_Silos_entronizado_como_obispo%2C_por_Bartolom%C3%A9_Bermejo.jpg/256px-Santo_Domingo_de_Silos_entronizado_como_obispo%2C_por_Bartolom%C3%A9_Bermejo.jpg"></a></li>
</ul>