<h4>
  All Saints Day
  <br>
  <small>
    Blessed are the poor in spirit, theirs is the kingdom of heaven
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Apocalypse 7: 3-4, 9-14</li>
  <li>Psalm 23</li>
  <li>First letter of St John. 3: 1-3</li>
  <li>St Matthew 5: 1-12, 25: 35-40</li>
</ul>


<h4>Prayer</h4>
<p>
  May we, who during
  this great season of grace,<br>
  Ask the Lord
and his Blessed Mother,
Mary,
  <br>
  To help us
in our way forwards,
to the Kingdom.
  <br>
  May she, who is called
'Queen of All Saints',
  <br>
  Lead us to the feet
of her divine Son.
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="http://holyfacedevotion.blogspot.com/" target="_blank">Image: The Holy Face</a></li>
  <li><a href="http://www.liturgytools.net/2015/10/pictures-all-saints-day-1-november-year-a-b-c.html" target="_blank">Image: LiturgyTools.net: Pictures for All Saints Day (1 November)</a></li>
</ul>
