<h4>
  28th Sunday in OT Yr C
  <br>
  <small>
    The outsider returned to give thanks
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>2 Kings 5: 14-17</li>
  <li>Psalm 97</li>
  <li>2 Timothy 2: 8-13</li>
  <li>St Luke 17: 11-19 </li>
</ul>


<h4>Media</h4>
<ul>
  <li><a href="http://diglib.library.vanderbilt.edu/act-imagelink.pl?RC=56011" target="_blank">Image: From the Codex Aureus Epternacensis (1035-1040), Diocesan Museum of the Archdiocese of Munich and Freising</a></li>
  <li><a title="Gebhard Fugel
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Gebhard_Fugel_Christus_und_die_Auss%C3%A4tzigen_c1920.jpg"><img width="512" alt="Gebhard Fugel Christus und die Aussätzigen c1920" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/Gebhard_Fugel_Christus_und_die_Auss%C3%A4tzigen_c1920.jpg/512px-Gebhard_Fugel_Christus_und_die_Auss%C3%A4tzigen_c1920.jpg"></a></li>
  <li><a title="James Tissot
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Brooklyn_Museum_-_The_Healing_of_Ten_Lepers_(Gu%C3%A9rison_de_dix_l%C3%A9preux)_-_James_Tissot_-_overall.jpg"><img width="512" alt="Brooklyn Museum - The Healing of Ten Lepers (Guérison de dix lépreux) - James Tissot - overall" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Brooklyn_Museum_-_The_Healing_of_Ten_Lepers_%28Gu%C3%A9rison_de_dix_l%C3%A9preux%29_-_James_Tissot_-_overall.jpg/512px-Brooklyn_Museum_-_The_Healing_of_Ten_Lepers_%28Gu%C3%A9rison_de_dix_l%C3%A9preux%29_-_James_Tissot_-_overall.jpg"></a></li>
</ul>
