<h4>Scripture</h4>
<ul>
  <li>St Matthew 20: 20-28, 4: 18-20</li>
  <li>Acts of the Apostles  12:  1-2</li>
</ul>


<h4>Prayer</h4>
<p>
  Father, through the intercession of St James allow us to make our pilgrimage to our heavenly home
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a title="Guido Reni
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Guido_Reni_-_Saint_James_the_Greater_-_Google_Art_Project.jpg"><img width="256" alt="Guido Reni - Saint James the Greater - Google Art Project" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Guido_Reni_-_Saint_James_the_Greater_-_Google_Art_Project.jpg/256px-Guido_Reni_-_Saint_James_the_Greater_-_Google_Art_Project.jpg"></a></li>
  <li>Image by <a href="https://pixabay.com/users/javieralamo-6344665/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4748181">javier alamo</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4748181">Pixabay</a></li>
  <li><a title="Giovanni Bellini
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:The-Transfiguration-1480-xx-Giovanni-Bellini.JPG"><img width="512" alt="The-Transfiguration-1480-xx-Giovanni-Bellini" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/The-Transfiguration-1480-xx-Giovanni-Bellini.JPG/512px-The-Transfiguration-1480-xx-Giovanni-Bellini.JPG"></a></li>
  <li>Image by <a href="https://pixabay.com/users/larahcv-5320615/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2451831">larahcv</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2451831">Pixabay</a></li>
</ul>

