<h4>
  First Sunday in Advent Year A
  <br>
  <small>
    The virtuous will gain eternal life
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Isaiah 2: 1-5</li>
  <li>Psalms 121</li>
  <li>St Paul to the Romans 13: 11-14</li>
  <li>St Matthew. 24:37- 44</li>
</ul>

<h4>Prayer</h4>
<p>
  Father, May we have the courage to set aside time  to meet Jesus this Advent. <br>
  We pray for individual and world peace. <br>
  Let our humble effort find favour in your sight
  
  <br>

  <br>
  Amen
</p>
