<h4>Scripture</h4>
<ul>
  <li>Book of Ecclesiastes 1: 2, 21-33</li>
  <li>Psalm 89</li>
  <li>St Paul to the Colossians 3: 1-5, 9-11</li>
  <li>St Luke 12: 13-21</li>
</ul>

<h4>Prayer</h4>
<p>
  Father, <br>prevent us from falling into greed and selfishness. <br>Give us a spirit of sharing with all people. <br>May we never fall into the trap of hoarding for the rainy day that may never come. <br><br>Amen
</p>

<h4>Media</h4>
<ul>
  <li><a title="Rembrandt
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Rembrandt_-_The_Parable_of_the_Rich_Fool.jpg"><img width="512" alt="Rembrandt - The Parable of the Rich Fool" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Rembrandt_-_The_Parable_of_the_Rich_Fool.jpg/512px-Rembrandt_-_The_Parable_of_the_Rich_Fool.jpg"></a></li>
</ul>