<h4>Scripture</h4>
<ul>
  <li>Ecclesiasticus 27: 4-7</li>
  <li>Psalm 91</li>
  <li>St Paul to the Corinthians 15: 54-58</li>
  <li>St Luke 6: 39-45</li>
</ul>


<h4>Prayer</h4>
<p>
  Give us the grace to listen to your Son whom you have sent to guide us. <br>
  May humility and courage be always ours to live out his teaching in our lives. <br>
  In Jesus name we make this prayer.<br><br>
  Amen
</p>
