<h4>
  Saint Laurence O’Toole
  <br>
  <small>
    Irish Saint
  </small>
</h4>

<h4>Prayer</h4>
<p>
  St Laurence O'Tool you suffered greatly in your early days of life. <br>
  It gave you an abiding love for the poor and all who suffer. <br>
  May we in our suffering allow it to bear fruit in our respect and care for others.
  
  <br>

  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="https://en.wikipedia.org/wiki/File:Wexford_Church_of_the_Immaculate_Conception_South_Aisle_Window_Saint_Laurentius_O_Toole_Detail_2010_09_29.jpg" target="_blank">Image: Wexford Church of the Immaculate Conception South Aisle Window Saint Laurentius O'Toole </a></li>
  <li><a href="https://no.wikipedia.org/wiki/Fil:King_Henry_II_from_NPG.jpg" target="_blank">Image: King Henry II from NPG</a></li>
  <li><a href="https://www.flickr.com/photos/chrisjohnbeckett/6949264085/" target="_blank">Image: St Thomas Becket of Canterbury</a></li>
  <li><a title="Schcambo at English Wikipedia, CC BY 3.0 &lt;https://creativecommons.org/licenses/by/3.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Glendalough_monastery.jpg"><img width="512" alt="Glendalough monastery" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/Glendalough_monastery.jpg/512px-Glendalough_monastery.jpg"></a></li>
  <li><a title="© Raimond Spekking" href="https://commons.wikimedia.org/wiki/File:Coll%C3%A9giale_Notre-Dame_et_Saint-Laurent_d%27Eu-7838.jpg"><img width="512" alt="Collégiale Notre-Dame et Saint-Laurent d&#039;Eu-7838" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Coll%C3%A9giale_Notre-Dame_et_Saint-Laurent_d%27Eu-7838.jpg/512px-Coll%C3%A9giale_Notre-Dame_et_Saint-Laurent_d%27Eu-7838.jpg"></a></li>
  <li><a title="Andreas F. Borchert, CC BY-SA 3.0 DE &lt;https://creativecommons.org/licenses/by-sa/3.0/de/deed.en&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Dublin_Christ_Church_Cathedral_Chapel_of_Laurence_O%27Toole_South_Wall_Tomb_Niche_2012_09_26.jpg"><img width="512" alt="Dublin Christ Church Cathedral Chapel of Laurence O&#039;Toole South Wall Tomb Niche 2012 09 26" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Dublin_Christ_Church_Cathedral_Chapel_of_Laurence_O%27Toole_South_Wall_Tomb_Niche_2012_09_26.jpg/512px-Dublin_Christ_Church_Cathedral_Chapel_of_Laurence_O%27Toole_South_Wall_Tomb_Niche_2012_09_26.jpg"></a></li>
</ul>
