<h4>
  Feast of the Holy Family
  <br>
  <small>
    2022
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Sirach 3:2-6, 12-14</li>
  <li>Psalms 128:1-2, 3, 4-5</li>
  <li>Colossians 3:12-21, 3:12-17</li>
  <li>Colossians 3:15A, 16A </li>
  <li>Matthew 2:13-15, 19-23</li>
</ul>

<h4>Prayer</h4>
<p>
  Father, with our limitations may we embrace Jesus your Son. <br>
  May we, like him, live subject to the laws and customs round us. <br>
  With him as our strength, we will always have him as Friend. <br>
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
