<h4>Scripture</h4>
<ul>
  <li>Psalms 116:12-13, 15-16BC, 17-18</li>
  <li>1 Corinthians 11:23-26</li>
  <li>John 13:34, 13:1-15</li>
</ul>



<h4>Prayer</h4>
<p>
  O thou who at thy Eucharist didst pray,<br>
  That all thy Church might be forever one<br><br>
 
  Grant us at every Eucharist to say<br>
  With longing hearts and soul, ‘ thy will be done’<br><br>
 
  O May we all one bread one body be,<br>
  Through this great sacrament of unity.<br>
  
</p>

<h4>Credits</h4>
<ul>
  <li>Image by <a href="https://pixabay.com/users/debradeka-19003134/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=6931791">debradeka</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=6931791">Pixabay</a></li>
  <li><a title="Carl Bloch
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:The-Last-Supper-large.jpg"><img width="256" alt="The-Last-Supper-large" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/The-Last-Supper-large.jpg/256px-The-Last-Supper-large.jpg"></a></li>
</ul>