<h4>Prayer</h4>
<p>
Christ be beside me. <br>
Christ be within me. <br>
Christ be before and behind me. <br>
Christ be in the heart of all who think of me. <br>
Christ in the mouth of all who speak of me.<br>
Christ in the eye and ear of all who see or hear me. <br><br>
Amen
</p>