<h4>
  19th Sunday in OT Year C
  <br>
  <small>
    Stand and be ready
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Book of Wisdom 18: 6-9</li>
  <li>Psalm 32</li>
  <li>Hebrews 11: 1-2, 8-19</li>
  <li>St Luke 12: 22-48</li>
</ul>

<h4>Prayer</h4>
<p>
  Father help us to embrace the things of heaven. <br>
  We need the help of the Holy Spirit  within if we are to succeed. <br>
  With you all things are possible. <br>
  Please keep us focused on your will for us. <br>
  <br>
  Amen
</p>