<h4>
  Commemoration of all the Faithful
  <br>
  <small>
    "Do not let your hearts be troubled, Jesus tells us on this All Souls Day. Trust in God still, and trust in me. There are many rooms in my Father's house, if there were not, I should have told you”
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Gospel of St John  14: 1-7</li>
</ul>

<h4>Prayer</h4>
<p>
  Holy Mary, mother of God, pray for us sinners now. And at the hour of our death. 
  <br>Amen. 
  <br>

  May those who have died, rest in peace, as they await the day of resurrection.
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="https://www.pexels.com/video/view-of-a-cemetery-4730729/" target="_blank">Video by Luis Figueroa</a></li>
  <li><a href="https://www.pexels.com/video/a-man-lighting-a-candle-beside-a-grave-6840735/" target="_blank">Video by RODNAE Productions</a></li>
  <li><a title="William-Adolphe Bouguereau
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:William-Adolphe_Bouguereau_(1825-1905)_-_The_Day_of_the_Dead_(1859).jpg"><img width="256" alt="William-Adolphe Bouguereau (1825-1905) - The Day of the Dead (1859)" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/William-Adolphe_Bouguereau_%281825-1905%29_-_The_Day_of_the_Dead_%281859%29.jpg/256px-William-Adolphe_Bouguereau_%281825-1905%29_-_The_Day_of_the_Dead_%281859%29.jpg"></a></li>
</ul>
