<h4>
  True Spirit of Christmas
  <br>
  <small>
    2022
  </small>
</h4>

<h4>Prayer</h4>
<p>
  May your Christmas be blessed in his coming. <br>
  May you open wide your heart and find the strength to allow every day be Christmas, living out the love he shows to us daily. 
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
