<h4>Scripture</h4>
<ul>
  <li>Acts of the Apostles 2: 1-11</li>
  <li>Psalm 103</li>
  <li>St Paul to the Romans 8: 8-17</li>
  <li>Galatians 5: 22</li>
  <li>St John 14: 15-16, 23-26</li>
</ul>


<h4>Prayer</h4>
<p>
  Come Holy Spirit, fill us with your gift of wisdom <br> and the other precious gifts you have given us.  <br>
  Make us Holy,  <br>
  Help us to prepare to enter the Kingdom of God.  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a title="See page for author, CC BY 4.0 &lt;https://creativecommons.org/licenses/by/4.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Tongues_of_fire_descend_on_the_apostles_at_Pentecost._Lithog_Wellcome_V0034957.jpg"><img width="512" alt="Tongues of fire descend on the apostles at Pentecost. Lithog Wellcome V0034957" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Tongues_of_fire_descend_on_the_apostles_at_Pentecost._Lithog_Wellcome_V0034957.jpg/512px-Tongues_of_fire_descend_on_the_apostles_at_Pentecost._Lithog_Wellcome_V0034957.jpg"></a></li>
  <li><a title="Dnalor 01, CC BY-SA 3.0 AT &lt;https://creativecommons.org/licenses/by-sa/3.0/at/deed.en&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Rom,_Vatikan,_Basilika_St._Peter,_Die_Taube_des_Heiligen_Geistes_(Cathedra_Petri,_Bernini).jpg"><img width="256" alt="Rom, Vatikan, Basilika St. Peter, Die Taube des Heiligen Geistes (Cathedra Petri, Bernini)" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Rom%2C_Vatikan%2C_Basilika_St._Peter%2C_Die_Taube_des_Heiligen_Geistes_%28Cathedra_Petri%2C_Bernini%29.jpg/256px-Rom%2C_Vatikan%2C_Basilika_St._Peter%2C_Die_Taube_des_Heiligen_Geistes_%28Cathedra_Petri%2C_Bernini%29.jpg"></a></li>
  <li>Image by <a href="https://pixabay.com/users/music4life-19559/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=409427">Holger Schué</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=409427">Pixabay</a></li>
</ul>