<h4>Scripture</h4>
<ul>
  <li>Joel 2: 12-18</li>
  <li>Psalm 50</li>
  <li>St Paul to the Corinthians 5: 20. 6:2</li>
  <li>St. Matthew 6: 1-6, 16-18</li>
  <li></li>
  <li></li>
</ul>


<h4>Prayer</h4>
<p>
  Father, have mercy on us during this period of Lent.<br> We ask for strength, as we all falter from time to time. <br>May the Spirit of wisdom guide us into all truth. <br>We pray in Jesus name. <br>
  <br>Amen
  <br>
</p>