<h4>Scripture</h4>
<ul>
  <li>The Prophet Isaiah 62: 1-5</li>
  <li>Psalm 95</li>
  <li>St Paul to the Corinthians 12: 4-11</li>
  <li>St John 2: 1-11</li>
</ul>

<h4>Prayer</h4>
<p>Father, <br>hear us as we call out to you for help.  <br>Teach us to do your will through the prompting of the Holy Spirit.<br>So that we like your Son promote your kingdom of truth and peace to all whom we meet.  <br><br>Amen
  <br>
</p>