<h4>
  St Rose of Lima
  <br>
  <small>
Patroness of Latin America and the Philippines 
  </small>
</h4>

<h4>Media</h4>
<ul>
  <li><a href="https://www.pinterest.com/pin/441775044684550214/" target="_blank">Image: www.pinterest.com</a></li>
  <li><a href="https://tlm-md.blogspot.com/2016/08/st-rose-of-lima-virgin-missa-dilexisti.html" target="_blank">Image: blogspot.com</a></li>
  <li><a href="https://www.monasteryicons.com/product/st-rose-of-lima-icon-422/women-saints" target="_blank">Image: www.monasteryicons.com</a></li>
  <li>Video by ROMAN ODINTSOV: https://www.pexels.com/video/a-beautiful-yellow-rose-in-bloom-8195676/</li>
</ul>