<h4>Scripture</h4>
<ul>
  <li>Psalm 117</li>
  <li>Apocalypse 1: 13,17x-19</li>
  <li>St John 20: 19-31</li>
  <li>Deuteronomy 31: 6</li>
</ul>

<h4>Credits</h4>
<ul>
  <li><a title="Eugeniusz Kazimirowski (1873-1939), Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Kazimirowski_Eugeniusz,_Divine_Mercy,_1934.jpg"><img width="256" alt="Kazimirowski Eugeniusz, Divine Mercy, 1934" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Kazimirowski_Eugeniusz%2C_Divine_Mercy%2C_1934.jpg/256px-Kazimirowski_Eugeniusz%2C_Divine_Mercy%2C_1934.jpg"></a></li>
  <li><a title="Unknown authorUnknown author, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:DIVINA_MISERICORDIA.jpeg"><img width="256" alt="DIVINA MISERICORDIA" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/DIVINA_MISERICORDIA.jpeg/256px-DIVINA_MISERICORDIA.jpeg"></a></li>
  <li><a title="http://www.marian.org/, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:200px-Faustina.jpg"><img width="256" alt="200px-Faustina" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/200px-Faustina.jpg/256px-200px-Faustina.jpg"></a></li>
  <li>Image by <a href="https://pixabay.com/users/davideucaristia-7586161/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3214782">David Eucaristía</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3214782">Pixabay</a></li>
  <li>Video by Pressmaster: https://www.pexels.com/video/digital-projection-of-neon-abstract-geometrical-line-of-a-communication-network-3129540/</li>
  <li>Video by Hugh Mitton: https://www.pexels.com/video/the-busy-shibuya-crossing-6574285/</li>
  <li>Image by <a href="https://pixabay.com/users/darte-2368951/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1790939">D Casp</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1790939">Pixabay</a></li>
</ul>