<h4>
  Feast of Our Lady of the Rosary
  <br>
  <small>
    Queen of the Holy Rosary bless us as we pray
  </small>
</h4>

<h4>Prayer</h4>
<p>
  Queen of the Most Holy Rosary pray for us sinners NOW and at the moment of our death.

  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="http://frmartinfox.blogspot.com/2012/10/our-lady-of-victory-homily.html" target="_blank">Image: frmartinfox.blogspot.com</a></li>
  <li><a href="https://www.friarly.com/supports-for-a-friarly-life.html" target="_blank">Image: friarly.com</a></li>
  <li><a title="Simone Cantarini
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:2017-03_Brescia_Mattes_Pana_(111).JPG"><img width="256" alt="2017-03 Brescia Mattes Pana (111)" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/2017-03_Brescia_Mattes_Pana_%28111%29.JPG/256px-2017-03_Brescia_Mattes_Pana_%28111%29.JPG"></a></li>
  <li><a title="Bernardo Cavallino
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Bernardo_Cavallino_-_La_Visione_di_San_Domenico_(anni_1640).jpg"><img width="256" alt="Bernardo Cavallino - La Visione di San Domenico (anni 1640)" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/Bernardo_Cavallino_-_La_Visione_di_San_Domenico_%28anni_1640%29.jpg/256px-Bernardo_Cavallino_-_La_Visione_di_San_Domenico_%28anni_1640%29.jpg"></a></li>
  <li><a title="Anthony van Dyck
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Van_Dyck_-_Madonna_del_Rosario_-_Palermo.jpg"><img width="256" alt="Van Dyck - Madonna del Rosario - Palermo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/Van_Dyck_-_Madonna_del_Rosario_-_Palermo.jpg/256px-Van_Dyck_-_Madonna_del_Rosario_-_Palermo.jpg"></a></li>
</ul>
