<h4>
  True Spirit of Christmas
  <br>
  <small>
    2022
  </small>
</h4>

<h4>Prayer</h4>
<p>
  May your Christmas be blessed in his coming. <br>
  May you open wide your heart and find the strength to allow every day be Christmas, living out the love he shows to us daily. 
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="https://www.pexels.com/photo/scene-of-birth-of-christ-4346649/" target="_blank">Photo by Burkay Canatar: </a></li>
  <li><a href="https://www.pexels.com/video/volunteers-serving-and-handing-out-food-6894092/" target="_blank">Video by Julia M Cameron: </a></li>
  <li><a href="https://www.pexels.com/video/man-and-woman-exchanging-gifts-6518050/" target="_blank">Video by RODNAE Productions: </a></li>
  <li><a href="https://catholicvs.blogspot.com/2012/12/liturgia-tradicional-de-nochebuena-en_7643.html" target="_blank">Image: CATHOLICVS: Liturgia tradicional de Nochebuena en el mundo: Misa de ...</a></li>
  <li><a data-flickr-embed="true" href="https://www.flickr.com/photos/expeditionpictures/8459866152/" title="Untitled"><img src="https://live.staticflickr.com/8373/8459866152_24b1c50408_m.jpg" width="240" height="159" alt="Untitled"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script></li>
  <li><a data-flickr-embed="true" href="https://www.flickr.com/photos/zoomion/4373332826/" title="Moon and Stars"><img src="https://live.staticflickr.com/4018/4373332826_ac2cf2f765_m.jpg" width="240" height="160" alt="Moon and Stars"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script></li>
  <li><a data-flickr-embed="true" href="https://www.flickr.com/photos/paullew/46406137772/" title="Gloria in excelsis Deo!"><img src="https://live.staticflickr.com/4911/46406137772_7e9f9190dc_m.jpg" width="192" height="240" alt="Gloria in excelsis Deo!"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script></li>
</ul>
