<h4>
  30th Sunday in OT  Yr C 
  <br>
  <small>
    The humble walked away in peace - the other din not
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Book of Ecclesiasticus (Sirach) 35:12-14,16-19</li>
  <li>Psalm 32</li>
  <li>2 Timothy 4:6-8,16-18</li>
  <li>St Luke 18:9-14</li>
</ul>






<h4>Prayer</h4>
<p>
  May our prayer ascend before you lord. <br>
May our attitude always be that of the tax collector <br>
As we make our prayer<br>
“O god be merciful to me, a sinner”<br>
In Jesus name we make this prayer before you.
  
  <br>

  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
