<h4>Prayer</h4>
<p>
  Saint Ita it was your faith, love and purity of heart that led and kept you close to God during your earthly life. <br>May we cultivate those same gifts and draw closer to God and one day share in the company of heaven. <br><br>
Amen
</p>
<h4>Media Credits</h4>
<ul>
  <li><a href="https://www.catholic.org/files/images/saints/818.jpg" target="_blank">St Ita - Catholic Online</a></li>
  <li><a title="Sheila1988, CC BY-SA 4.0 &lt;https://creativecommons.org/licenses/by-sa/4.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:St_Declan_painting.jpg"><img width="256" alt="St Declan painting" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/St_Declan_painting.jpg/256px-St_Declan_painting.jpg"></a></li>
</ul>
