<h4>Scripture</h4>
<ul>
  <li>Jeremiah 17: 5-8</li>
  <li>Psalm 1</li>
  <li>St Paul to the Corinthians 15: 12, 16-20</li>
  <li>St Luke 6: 17, 20-26</li>
</ul>

<h4>Prayer</h4>
<p>
  Father, we put so much emphasis on earthly processions that all our time is consumed. <br>
  By your grace help us to see what is truly important and follow your way with all our strength. <br>
  Amen
  <br><br>
  Amen
</p>
