<h4>Scripture</h4>
<ul>
  <li>Acts 14: 21-27</li>
  <li>Psalm 144</li>
  <li>Revelation 21: 1-5</li>
  <li>St John 13: 31-35</li>
</ul>


<h4>Prayer</h4>
<p>
Jesus, help us to love as you have loved. <br>
Not just those who are kind to us and treat us well. <br>
Help us understand people who have only hateful words. <br>
By our love May we be an example to them for the better.  <br><br>
Amen
</p>


