<h4>Scripture</h4>
<ul>
  <li>Procession Gospel:</li>  
  <li>St Luke 19: 28-40</li>
</ul>

<ul>
  <li>Readings at Holy Mass:</li>  
  <li>Isaiah 50: 4-7</li>
  <li>Psalm 21</li>
  <li>St Paul to the Philippians 2: 6-11</li>
  <li>St Luke 22: 14 - 23: 56</li>
</ul>

<h4>Credits</h4>
<ul>
  <li>Image by <a href="https://pixabay.com/users/mianviru-8236054/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4903117">Miguel ángel villar</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4903117">Pixabay</a></li>
  <li>Image by <a href="https://pixabay.com/users/ezed-2302123/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1289591">Erwing Escobar</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1289591">Pixabay</a></li>
  <li> Image by <a href="https://pixabay.com/users/boshakti-2942768/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3057867">Prabowo Shakti</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3057867">Pixabay</a></li>

</ul>