<h4>
  St Ignatius of Antioch
  <br>
  <small>
    Let me be food for the beasts, they are my way to God
  </small>
</h4>

<h4>Prayer</h4>
<p>
  St Ignatius of Antioch,
  <br>help us to have the courage you displayed as you went to your death.<br>May whatever suffering or pain we will
  have to bear be bourne for the love of God. <br>Your example is our strength. <br>Pray for us from above.

  <br>

  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
