<h4>
  32nd Sunday in Ordinary Time Year C
  <br>
  <small>
    In God's sight all things are alive
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>2 Maccabees 7: 1-2, 9-14</li>
  <li>Psalms 16</li>
  <li>2 Thessalonians 2: 16-35</li>
  <li>St Luke 20: 27-38, 24: 29</li>
</ul>

<h4>Prayer</h4>
<p>
  Father fill us with confidence in the promise of Jesus. <br>
  Despite the many different opinions offered by the world round us.<br>
  May our faith deepen in you as we reach out for a share in your kingdom

  <br>
  Amen
</p>

