<h4>
  29th Sunday in OT Yr C
  <br>
  <small>
    Justice is Gods gift to those who believe in Him.
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Exodus 17: 8-13</li>
  <li>Psalm 120</li>
  <li>2 Timothy 3: 14, 4: 2</li>
  <li>St Luke 18: 8</li>
</ul>








<h4>Prayer</h4>
<p>
  In you O Lord, I place my cares, <br>
  And all my troubles too,<br>
  O grant, dear Lord, that some,day soon,<br>
  I'll live in peace with you.
  <br>

  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="http://thetextualmechanic.blogspot.com/2016/04/the-staurogram-and-epistle-of-barnabas.html" target="_blank">Image: The Textual Mechanic: The Staurogram and The Epistle of Barnabas ...</a></li>
  <li><a href="https://www.pinterest.com/pin/176344141640154727/" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: Pin on Father Peyton</a></li>
  <li>Verse from hymn. Hear O Lord.</li>
</ul>
