<h4>
  St John Mary Vianney
  <br>
  <small>
    If we do not offer what we do to God, it is wasted
  </small>
</h4>

<h4>Media</h4>
<ul>
  <li><a title="Gabitzu 6b, CC BY-SA 3.0 &lt;https://creativecommons.org/licenses/by-sa/3.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Sf._Ioan_Maria_Vianney.jpg"><img width="256" alt="Sf. Ioan Maria Vianney" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d6/Sf._Ioan_Maria_Vianney.jpg/256px-Sf._Ioan_Maria_Vianney.jpg"></a></li>
  <li><a title="Romary, CC BY-SA 3.0 &lt;http://creativecommons.org/licenses/by-sa/3.0/&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Sermentizon_vianney.jpg"><img width="256" alt="Sermentizon vianney" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Sermentizon_vianney.jpg/256px-Sermentizon_vianney.jpg"></a></li>
  <li><a title="Herwig Reidlinger, CC BY-SA 3.0 &lt;http://creativecommons.org/licenses/by-sa/3.0/&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Jean-Marie_Vianney.jpg"><img width="512" alt="Jean-Marie Vianney" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/Jean-Marie_Vianney.jpg/512px-Jean-Marie_Vianney.jpg"></a></li>
  <li><a target="_blank" href="http://www.stjohnvianneykamloops.ca/wp-content/uploads/2012/03/MS-John-Vianney3.jpeg">www.stjohnvianneykamloops.ca</a></li>
  <li><a target="_blank" href="http://catholicromanurduprayers.blogspot.com/2012/04/st-john-vianney-relic-to-visit.html">catholicromanurduprayers.blogspot.com</a></li>
</ul>