<h4>Scripture</h4>
<ul>
  <li>The Prophet Jeremiah 1: 4-5, 17-19</li>
  <li>Psalm 70</li>
  <li>St Paul to the Corinthians 12:11, 13: 13</li>
  <li>St Luke 4: 21-30</li>
</ul>

<h4>Prayer</h4>
<p>
  Father, <br>you have sent Jesus to save us. <br>The wise men followed a star, we don’t need a star, <br>we have the guidance of your Son, <br>the Way, the Truth and the life. <br>Help us to be faithful. <br><br>Amen

  
</p>

