<h4>
  23rd Sunday in OT Year C
  <br>
  <small>
    Discipleship and possessions are at odds
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Book of Wisdom 9: 13-18</li>
  <li>Psalm 89</li>
  <li>St Paul to Philemon 9: 10, 12-17</li>
  <li>St Luke 14: 25-33</li>
</ul>




<h4>Prayer</h4>
<p>
  Help us overcome the promptings of the world.<br>
May we listen to your Son Jesus, <br>
who suffered and died for us <br>
and is the Way the Truth and the Life. <br>
May we bravely follow him. <br>
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a title="Duccio di Buoninsegna
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Christ_Taking_Leave_of_the_Apostles.jpg"><img width="512" alt="Christ Taking Leave of the Apostles" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Christ_Taking_Leave_of_the_Apostles.jpg/512px-Christ_Taking_Leave_of_the_Apostles.jpg"></a></li>
  <li><a title="Mieremet, Rob / Anefo, CC BY-SA 3.0 NL &lt;https://creativecommons.org/licenses/by-sa/3.0/nl/deed.en&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:J%C3%B3zsef_Mindszenty_1974.jpg"><img width="512" alt="József Mindszenty 1974" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/J%C3%B3zsef_Mindszenty_1974.jpg/512px-J%C3%B3zsef_Mindszenty_1974.jpg"></a></li>
  <li><a href="https://www.pexels.com/photo/a-statue-of-the-sacred-heart-of-jesus-7219506/" target="_blank">Image: Photo by MART PRODUCTION</a></li>
</ul>