<h4>
  33rd Sunday in Ordinary Time Year C
  <br>
  <small>
    Destruction of the Temple
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Malachi 3: 19-20</li>
  <li>Psalms 97</li>
  <li>2 Thessalonians 3: 7-12</li>
  <li>St.Luke 21: 5-19</li>
</ul>

<h4>Prayer</h4>
<p>
  Help us to live our day to day lives bravely. <br>
  May we be ready to answer your call.  <br>
  We ask this in Jesus' name.
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a title="Francesco Hayez
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Francesco_Hayez_017.jpg"><img width="512" alt="Francesco Hayez 017" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Francesco_Hayez_017.jpg/512px-Francesco_Hayez_017.jpg"></a></li>
  <li>Video by <a href="https://pixabay.com/users/ucuzucuyorum-29249914/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=video&amp;utm_content=132435">ucuzucuyorum com</a> from <a href="https://pixabay.com//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=video&amp;utm_content=132435">Pixabay</a></li>
</ul>
