<h4>Scripture</h4>
<ul>
  <li>The Prophet Isaiah 40: 1-5, 9-11</li>
  <li>Psalm 103</li>
  <li>St Paul to Titus 2: 11-14, 3: 4-7</li>
  <li>St Luke 3: 15-16, 21-22</li>
</ul>

<h4>Prayer</h4>
<p>
  Father, <br>today we have the opportunity to acknowledge Jesus as you reveal him to us. <br>May we always listen to his voice as he guides us along life's pathways. <br><br> 
Amen
</p>

<h4>Media Credits</h4>
<ul>
  <li><a title="Giotto
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Giotto_-_Scrovegni_-_-23-_-_Baptism_of_Christ.jpg"><img width="512" alt="Giotto - Scrovegni - -23- - Baptism of Christ" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Giotto_-_Scrovegni_-_-23-_-_Baptism_of_Christ.jpg/512px-Giotto_-_Scrovegni_-_-23-_-_Baptism_of_Christ.jpg"></a></li>
</ul>
