<h4>
  31st Sunday in OT yr C 
  <br>
  <small>
    God sent his son to seek out and save the lost
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Book of Wisdom 11:22, 12:2</li>
  <li>Psalm 144</li>
  <li>2 Thessalonians 1:11, 2:2</li>
  <li>St Luke 19:1-10</li>
</ul>


<h4>Prayer</h4>
<p>
  Father, allow us the grace and wisdom to hear your son Jesus when he speaks to us. <br>May we never close the door to salvation, but embrace it with a joyful heart. 
  <br>

  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a title="James Tissot
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Brooklyn_Museum_-_Zacchaeus_in_the_Sycamore_Awaiting_the_Passage_of_Jesus_(Zach%C3%A9e_sur_le_sycomore_attendant_le_passage_de_J%C3%A9sus)_-_James_Tissot.jpg"><img width="512" alt="Brooklyn Museum - Zacchaeus in the Sycamore Awaiting the Passage of Jesus (Zachée sur le sycomore attendant le passage de Jésus) - James Tissot" src="https://upload.wikimedia.org/wikipedia/commons/e/e2/Brooklyn_Museum_-_Zacchaeus_in_the_Sycamore_Awaiting_the_Passage_of_Jesus_%28Zach%C3%A9e_sur_le_sycomore_attendant_le_passage_de_J%C3%A9sus%29_-_James_Tissot.jpg"></a></li>
</ul>
