<h4>
  The Feast of St Nicholas
  <br>
  <small>
    Bishop
  </small>
</h4>


<h4>Prayer</h4>
<p>
  In life St Nicholas was a true believer and follower of Christ.  <br>
He gave away all his earthly possessions in imitation of Christ  to relieve poverty.  <br>
May we in this spirit-filled time of Christmas go out of our way to help those in need in whatever way we can.
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a title="Jaroslav Čermák, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Jaroslav_%C4%8Cerm%C3%A1k_(1831_-_1878)_-_Sv._Mikul%C3%A1%C5%A1.jpg"><img width="128" alt="Jaroslav Čermák (1831 - 1878) - Sv. Mikuláš" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Jaroslav_%C4%8Cerm%C3%A1k_%281831_-_1878%29_-_Sv._Mikul%C3%A1%C5%A1.jpg/128px-Jaroslav_%C4%8Cerm%C3%A1k_%281831_-_1878%29_-_Sv._Mikul%C3%A1%C5%A1.jpg"></a></li>
  <li><a title="Sosius11, CC BY-SA 3.0 &lt;https://creativecommons.org/licenses/by-sa/3.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Diocletian_RIC_106_Cyzicus_obv.jpg"><img width="256" alt="Diocletian RIC 106 Cyzicus obv" src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Diocletian_RIC_106_Cyzicus_obv.jpg"></a></li>
  <li><a title="Heinrich Hofmann
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Hoffman-ChristAndTheRichYoungRuler.jpg"><img width="512" alt="Hoffman-ChristAndTheRichYoungRuler" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Hoffman-ChristAndTheRichYoungRuler.jpg/512px-Hoffman-ChristAndTheRichYoungRuler.jpg"></a></li>
  <li><a title="Gentile da Fabriano
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Gentile_da_Fabriano_063.jpg"><img width="512" alt="Gentile da Fabriano 063" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Gentile_da_Fabriano_063.jpg/512px-Gentile_da_Fabriano_063.jpg"></a></li>
  <li><a title="Uroš Predić
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Uro%C5%A1_Predi%C4%87_-_Sveti_Nikola.jpg"><img width="256" alt="Uroš Predić - Sveti Nikola" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Uro%C5%A1_Predi%C4%87_-_Sveti_Nikola.jpg/256px-Uro%C5%A1_Predi%C4%87_-_Sveti_Nikola.jpg"></a></li>
</ul>
