<h4>Scripture</h4>
<ul>
  <li>Genesis 15:  5-12, 17-18</li>
  <li>Psalm 26</li>
  <li>St Paul to the Philippians 3:17 - 4: 1</li>
  <li>St Luke 9: 28-36</li>
</ul>

<h4>Prayer</h4>
<p>
  Father allow us the grace to heed the words of your Son, Jesus. <br>
He is the one who has the message of eternal life. <br><br>
Amen
  
</p>