<h4>Scripture</h4>
<ul>
  <li>Acts of the Apostles 13; 14,43-52</li>
  <li>Psalm 99</li>
  <li>Revelation 7; 9, 14-17</li>
  <li>St John 10; 27-30</li>
</ul>

<h4>Prayer</h4>
<p>
  Father we thank you for the great privilege of your closeness to us.<br>
  We thank you for Jesus your Son who made this possible. <br>
  May we always walk this road while on earth <br>
  and one day understand it in heaven. <br><br>
  Amen
</p>

<h4>Credits</h4>
<ul>
  <li><a title="Bernhard Plockhorst
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Bernhard_Plockhorst_-_Good_Shephard.jpg"><img width="256" alt="Bernhard Plockhorst - Good Shephard" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Bernhard_Plockhorst_-_Good_Shephard.jpg/256px-Bernhard_Plockhorst_-_Good_Shephard.jpg"></a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>