<h4>Scripture</h4>
<ul>
  <li>Acts of the Apostles 1: 1-11</li>
  <li>Psalm 46</li>
  <li>First Letter to the Hebrews 9: 24-28. 10: 19-23</li>
  <li>St John 24: 46-53</li>
</ul>


<h4>Prayer</h4>
<p>
  Come Holy Spirit I need you, come sweet Spirit I pray.<br>
Keep our minds and hearts on the teachings of Jesus. <br>
So that we, his followers may reflect his great work of salvation he begun. <br><br>
Amen.



</p>


<h4>Credits</h4>
<ul>
  <li>Image by <a href="https://pixabay.com/users/falco-81448/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2658754">falco</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2658754">Pixabay</a></li>
  <li><a title="John Singleton Copley
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Jesus_ascending_to_heaven.jpg"><img width="512" alt="Jesus ascending to heaven" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Jesus_ascending_to_heaven.jpg/512px-Jesus_ascending_to_heaven.jpg"></a></li>
</ul>

