<h4>
  31st Sunday in OT yr C 
  <br>
  <small>
    God sent his son to seek out and save the lost
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Book of Wisdom 11:22, 12:2</li>
  <li>Psalm 144</li>
  <li>2 Thessalonians 1:11, 2:2</li>
  <li>St Luke 19:1-10</li>
</ul>


<h4>Prayer</h4>
<p>
  Father, allow us the grace and wisdom to hear your son Jesus when he speaks to us. <br>May we never close the door to salvation, but embrace it with a joyful heart. 

  
  <br>

  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
