<h4>
  Exaltation of the Holy Cross
  <br>
  <small>
    Because of your Cross and Passion you have saved the world
  </small>
</h4>

<h4>Prayer</h4>
<p>
  Jesus, <br>
my friend, you bore the cross for love of me al the way to Calvary. <br>
I have so often offended you, <br>
please grant me pardon and allow me to share your kingdom. <br>
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="http://flickr.com/photos/frted/6887712294" target="_blank">Image: Exaltation of the Cross icon | Elevation of the Cross | Flickr - Photo ...</a></li>
  <li><a href="https://www.pexels.com/photo/a-priest-doing-the-consecration-at-a-holy-mass-11155295/" target="_blank">Image: Photo by gabriel manjarres</a></li>
  <li><a href="https://pursuingveritas.com/2014/08/05/thj-crucifixion/" target="_blank">Image: Comparing the Historical Jesus: Crucifixion | Pursuing Veritas</a></li>
</ul>