<h4>Scripture</h4>
<ul>
  <li>Book of proverbs 8: 22-31</li>
  <li>Psalm 8</li>
  <li>St Paul to the Romans 5: 1-5</li>
  <li>St John 16: 12-15</li>
</ul>


<h4>Prayer</h4>
<p>Spirit of the living God <br>
  May we with our great limitations <br>
  Persevere in the Truth of the Gospel message, <br>
  Which does not depend on what we know <br>
  But rather how we remain faithful. <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li>By &lt;a href=&quot;https://en.wikipedia.org/wiki/en:Albrecht_D%C3%BCrer&quot; class=&quot;extiw&quot; title=&quot;w:en:Albrecht Dürer&quot;&gt;&lt;span title=&quot;German painter, printmaker, mathematician, and theorist&quot;&gt;Albrecht Dürer&lt;/span&gt;&lt;/a&gt; - &lt;a rel=&quot;nofollow&quot; class=&quot;external text&quot; href=&quot;//www.google.com/culturalinstitute/asset-viewer/_wGp9zTkz0OVqQ&quot;&gt;_wGp9zTkz0OVqQ at Google Arts &amp;amp; Culture&lt;/a&gt;, Public Domain, <a href="https://commons.wikimedia.org/w/index.php?curid=22189413">Link</a></li>
</ul>