<h4>
  27th Sunday in OT year C
  <br>
  <small>
    Faith and service is the key to eternal life
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Habakkuk 1: 2-3, 2: 2-4</li>
  <li>Psalm 94</li>
  <li>2 Timothy 1: 6-8, 13-14</li>
  <li>St Luke 17: 5-10</li>
  <li>Isaiah 43, 1</li>
</ul>


<h4>Prayer</h4>
<p>
  Father, <br>
  we ask for so many things. <br>
  Help us to seek what is truly necessary so that one day we can join you in heaven.<br>
  This is our prayer to you, in Jesus name.


  <br>
  Amen
</p>


