<h4>Scripture</h4>
<ul>
  <li>Ezekiel 34: 11-16</li>
  <li>Psalm 22</li>
  <li>St Paul to the Romans 5: 5-11</li>
  <li>St Luke 15: 3-7</li>
</ul>


<h4>Prayer</h4>
<p>
  Dearest Sacred Heart. 
  <br>
  Let us adore, love and imitate your great love, to the best of our ability. 
  <br>
  Grant your blessing on all of us. Help us to love as Jesus loves us.  
  <br>
  Be close to us at the hour of death.
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a title="Wilfredor, CC0, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Vitral_em_Igreja_Santa_Efigenia.jpg"><img width="512" alt="Vitral em Igreja Santa Efigenia" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/Vitral_em_Igreja_Santa_Efigenia.jpg/512px-Vitral_em_Igreja_Santa_Efigenia.jpg"></a></li>
  <li><a title="Unknown authorUnknown author, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Sagrado_Cora%C3%A7%C3%A3o_de_Jesus_-_escola_portuguesa,_s%C3%A9culo_XIX.png"><img width="256" alt="Sagrado Coração de Jesus - escola portuguesa, século XIX" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Sagrado_Cora%C3%A7%C3%A3o_de_Jesus_-_escola_portuguesa%2C_s%C3%A9culo_XIX.png/256px-Sagrado_Cora%C3%A7%C3%A3o_de_Jesus_-_escola_portuguesa%2C_s%C3%A9culo_XIX.png"></a></li>
  <li>Image by <a href="https://pixabay.com/users/queven-1980457/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5011908">Queven</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5011908">Pixabay</a></li>
  <li>Image by <a href="https://pixabay.com/users/cucaita1995-16311294/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=6685993">cucaita1995</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=6685993">Pixabay</a></li>
</ul>

