<h4>Scripture</h4>
<ul>
  <li>Deuteronomy 30; 10-14</li>
  <li>Psalm 68</li>
  <li>St Paul to the Colossians 1; 15-20</li>
  <li>St Luke 10: 25- 37</li>
</ul>




<h4>Prayer</h4>
<p>
  Father, give us the courage to truly love you as you deserve and our neighbour as ourselves. 
  <br>
  Amen
</p>
<h4>Media</h4>
<ul>
  <li><a title="Jacob Jordaens
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Jordaens_Podhorce.jpg"><img width="512" alt="Jordaens Podhorce" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Jordaens_Podhorce.jpg/512px-Jordaens_Podhorce.jpg"></a></li>
  <li><a title="Balthasar van Cortbemde
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Balthasar_van_Cortbemde_-_The_Good_Samaritan.jpg"><img width="512" alt="Balthasar van Cortbemde - The Good Samaritan" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Balthasar_van_Cortbemde_-_The_Good_Samaritan.jpg/512px-Balthasar_van_Cortbemde_-_The_Good_Samaritan.jpg"></a></li>
</ul>

