<h4>Scripture</h4>
<ul>
  <li>Acts of the Apostles 15: 1-2, 22-29</li>
  <li>Psalm 66</li>
  <li>Revelations 21: 10-14, 22-23</li>
  <li>St John 14: 23-29</li>
</ul>

<h4>Prayer</h4>
<p>Father, we so often search for peace and fail to find it. <br>
  Allow us to draw closer to your Son Jesus who leaves us his own peace.   <br><br>
Amen
</p>


