<h4>
  26th Sunday in OT Year C
  <br>
  <small>
    You had your comfort, Lazarus had nothing
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Prophet Amos 6: I, 4-2</li>
  <li>Psalm 145</li>
  <li>St Paul to Timothy 6: 11-16</li>
  <li>St Luke 16: 19-31</li>
</ul>

<h4>Prayer</h4>
<p>
  Father,
  <br>
  May we have the courage and wisdom <br>
  to follow the Way, the Truth and the Life from here to eternity. <br>

  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a title="James Tissot
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Brooklyn_Museum_-_The_Poor_Lazarus_at_the_Rich_Man%27s_Door_(Le_pauvre_Lazare_%C3%A0_la_porte_du_riche)_-_James_Tissot.jpg"><img width="256" alt="Brooklyn Museum - The Poor Lazarus at the Rich Man&#039;s Door (Le pauvre Lazare à la porte du riche) - James Tissot" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Brooklyn_Museum_-_The_Poor_Lazarus_at_the_Rich_Man%27s_Door_%28Le_pauvre_Lazare_%C3%A0_la_porte_du_riche%29_-_James_Tissot.jpg/256px-Brooklyn_Museum_-_The_Poor_Lazarus_at_the_Rich_Man%27s_Door_%28Le_pauvre_Lazare_%C3%A0_la_porte_du_riche%29_-_James_Tissot.jpg"></a></li>
  <li><a title="Eduard von Gebhardt
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:GebhardtLazarus.jpg"><img width="256" alt="GebhardtLazarus" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/GebhardtLazarus.jpg/256px-GebhardtLazarus.jpg"></a></li>
  <li></li>
  <li></li>
</ul>
