<h4>Scripture</h4>
<ul>
  <li>Book of Genesis 18: 29-32</li>
  <li>Psalm 137</li>
  <li>St Paul to the Colossians 2: 12-14</li>
  <li>St Luke 11: 1-13</li>
</ul>

<h4>Prayer</h4>
<p>
  May our prayer always be pleasing in your sight.  <br>
May we always acknowledge you as Father of all Creation.  <br>
May your mercy and love be always with us.  <br>
  <br>
  Amen
</p>
<h4>Media</h4>
<ul>
  <li><a title="James Tissot
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Brooklyn_Museum_-_The_Lord%27s_Prayer_(Le_Pater_Noster)_-_James_Tissot.jpg"><img width="256" alt="Brooklyn Museum - The Lord&#039;s Prayer (Le Pater Noster) - James Tissot" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Brooklyn_Museum_-_The_Lord%27s_Prayer_%28Le_Pater_Noster%29_-_James_Tissot.jpg/256px-Brooklyn_Museum_-_The_Lord%27s_Prayer_%28Le_Pater_Noster%29_-_James_Tissot.jpg"></a></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

