<h4>
  Immaculate Conception of the Blessed Virgin Mary
  <br>
  <small>
    Rejoice greatly in the Lord
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Book of Genesis 3: 9-15,20</li>
  <li>Psalm 97</li>
  <li>Ephesians 1: 1-6, 11-12</li>
  <li>Gospel of St Luke 1: 16-38 </li>
</ul>


<h4>Prayer</h4>
<p>
    Holy  Mary mother of God, and our mother, pray for us now and in times of danger, but particularly at the hour of death. 
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="https://holycardheaven.blogspot.com/2015/02/our-lady-of-lourdes-feast-day-february.html" target="_blank">Image: Holy Card Heaven: Our Lady of Lourdes: Feast Day, February 11</a></li>
  <li><a href="https://www.pexels.com/video/people-attending-a-mass-5875503/" target="_blank">Video by RODNAE Productions</a></li>
  <li><p><a href="https://commons.wikimedia.org/wiki/File:Guido_Reni_-_Moses_with_the_Tables_of_the_Law_-_WGA19289.jpg#/media/File:Guido_Reni_-_Moses_with_the_Tables_of_the_Law_-_WGA19289.jpg"><img src="https://upload.wikimedia.org/wikipedia/commons/1/14/Guido_Reni_-_Moses_with_the_Tables_of_the_Law_-_WGA19289.jpg" alt="Guido Reni - Moses with the Tables of the Law - WGA19289.jpg" height="480" width="372"></a><br>By &lt;a href="https://en.wikipedia.org/wiki/en:Guido_Reni" class="extiw" title="w:en:Guido Reni"&gt;&lt;span title="Bolognese painter (1575–1642)"&gt;Guido Reni&lt;/span&gt;&lt;/a&gt; - &lt;a href="https://en.wikipedia.org/wiki/en:Web_Gallery_of_Art" class="extiw" title="w:en:Web Gallery of Art"&gt;&lt;span title="virtual art gallery for European fine art created before 1900"&gt;Web Gallery of Art&lt;/span&gt;&lt;/a&gt;: &amp;nbsp;&lt;a href="http://www.wga.hu/art/r/reni/1/moses.jpg" rel="nofollow"&gt;&lt;/a&gt; &lt;a rel="nofollow" class="external text" href="http://www.wga.hu/art/r/reni/1/moses.jpg"&gt;Image&lt;/a&gt;&amp;nbsp;&lt;a href="http://www.wga.hu/html/r/reni/1/moses.html" rel="nofollow"&gt;&lt;/a&gt; &lt;a rel="nofollow" class="external text" href="http://www.wga.hu/html/r/reni/1/moses.html"&gt;Info about artwork&lt;/a&gt;, Public Domain, <a href="https://commons.wikimedia.org/w/index.php?curid=15885392">Link</a></p></li>
  <li><p><a href="https://commons.wikimedia.org/wiki/File:King_David,_the_King_of_Israel.jpg#/media/File:King_David,_the_King_of_Israel.jpg"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/King_David%2C_the_King_of_Israel.jpg/1200px-King_David%2C_the_King_of_Israel.jpg" alt="King David, the King of Israel.jpg"></a><br>By &lt;a href="https://en.wikipedia.org/wiki/en:Gerard_van_Honthorst" class="extiw" title="w:en:Gerard van Honthorst"&gt;&lt;span title="Dutch Golden Age painter (1592-1656)"&gt;Gerard van Honthorst&lt;/span&gt;&lt;/a&gt; - &lt;a rel="nofollow" class="external text" href="//www.google.com/culturalinstitute/asset-viewer/dQFEnSBuziiUpQ"&gt;dQFEnSBuziiUpQ at Google Cultural Institute&lt;/a&gt; maximum zoom level, Public Domain, <a href="https://commons.wikimedia.org/w/index.php?curid=110608360">Link</a></p></li>
  <li><p><a href="https://commons.wikimedia.org/wiki/File:Yegorov-Simeon_the_Righteous.jpg#/media/File:Yegorov-Simeon_the_Righteous.jpg"><img src="https://upload.wikimedia.org/wikipedia/commons/0/09/Yegorov-Simeon_the_Righteous.jpg" alt="Yegorov-Simeon the Righteous.jpg" height="480" width="347"></a><br>By Alexey Yegorov - &lt;a rel="nofollow" class="external text" href="http://bibliotekar.ru/Kartiny1/13.htm"&gt;Bibliotekar.ru&lt;/a&gt;, Public Domain, <a href="https://commons.wikimedia.org/w/index.php?curid=2246211">Link</a></p></li>
  <li><a data-flickr-embed="true" href="https://www.flickr.com/photos/94296774@N06/12441453724/" title="Bernadette Soubirous"><img src="https://live.staticflickr.com/7338/12441453724_12bfe1a0a3_n.jpg" width="213" height="320" alt="Bernadette Soubirous"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script></li>
  <li><a data-flickr-embed="true" href="https://www.flickr.com/photos/thomashawk/10960810195/" title="The Immaculate Conception"><img src="https://live.staticflickr.com/7407/10960810195_bbe4c4d062_n.jpg" width="246" height="320" alt="The Immaculate Conception"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script></li>
</ul>
