<h4>
  St Ignatius of Antioch
  <br>
  <small>
    Let me be food for the beasts, they are my way to God
  </small>
</h4>

<h4>Prayer</h4>
<p>
  St Ignatius of Antioch,
  <br>help us to have the courage you displayed as you went to your death.<br>May whatever suffering or pain we will
  have to bear be bourne for the love of God. <br>Your example is our strength. <br>Pray for us from above.

  <br>

  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a title="AnonymousUnknown author, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Hosios_Loukas_(south_west_chapel,_south_side)_-_Ignatios.jpg"><img width="256" alt="Hosios Loukas (south west chapel, south side) - Ignatios" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bf/Hosios_Loukas_%28south_west_chapel%2C_south_side%29_-_Ignatios.jpg/256px-Hosios_Loukas_%28south_west_chapel%2C_south_side%29_-_Ignatios.jpg"></a></li>
  <li><a title="Neapolitan School of Painting, possibly Cesare Fracanzano (1605-1651), Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Ignatius_of_Antiochie.jpg"><img width="512" alt="Ignatius of Antiochie" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/Ignatius_of_Antiochie.jpg/512px-Ignatius_of_Antiochie.jpg"></a></li>
  <li><a title="Jean-Léon Gérôme
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Jean-L%C3%A9on_G%C3%A9r%C3%B4me_-_The_Christian_Martyrs%27_Last_Prayer_-_Walters_37113.jpg"><img width="512" alt="Jean-Léon Gérôme - The Christian Martyrs&#039; Last Prayer - Walters 37113" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Jean-L%C3%A9on_G%C3%A9r%C3%B4me_-_The_Christian_Martyrs%27_Last_Prayer_-_Walters_37113.jpg/512px-Jean-L%C3%A9on_G%C3%A9r%C3%B4me_-_The_Christian_Martyrs%27_Last_Prayer_-_Walters_37113.jpg"></a></li>
</ul>
