<h4>
  St Nicholas
  <br>
  <small>
    Bishop
  </small>
</h4>


<h4>Prayer</h4>
<p>
  In life St Nicholas was a true believer and follower of Christ.  <br>
He gave away all his earthly possessions in imitation of Christ  to relieve poverty.  <br>
May we in this spirit-filled time of Christmas go out of our way to help those in need in whatever way we can.
 

  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
