<h4>
  4th Sunday of Advent Year A
  <br>
  <small>
    Emmanuel, a name meaning God is with us
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Isaiah 7: 10-14</li>
  <li>Psalm. 23</li>
  <li>Romans. 1: 1-7</li>
  <li>St Matthew 1: 18-24</li>
</ul>

<h4>Prayer</h4>
<p>
  Father, we are week and you are strong.<br>
  Send your divine grace each day into our lives, so that the mystery of your Son’s incarnation may lead us to our heavenly home. 
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
