<h4>Scripture</h4>
<ul>
  <li>Samuel 26: 2, 7-9, 13-13, 22-23</li>
  <li>Psalm. 102. — 130</li>
  <li>St Paul to the Corinthians 15: 45-49</li>
  <li>St Luke. 6: 27-38</li>
  <li>St Matthew  5: 39</li>
</ul>





<h4>Prayer</h4>
<p>
  Father, we so often can be frightened by the interpretation of your word. <br>
  Yet when we read that word we find a God of understanding and compassion. <br>
  Why should we fear!<br>
  Help us, Father to trust in your given word.<br><br>
  Amen
</p>