<h4>Prayer</h4>
<p>
  Saint Sabastian <br>you once aided the people of Rome as they begged God through your intercession to relieve them of the raging plague in their midst in 680.  <br>Hear us now as we plead for you help to banish this scourge of covid among us. <br><br>Amen
  
</p>
<h4>Media Credits</h4>
<ul>
  <li><a title="Il Sodoma
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Sodoma_003.jpg"><img width="256" alt="Sodoma 003" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Sodoma_003.jpg/256px-Sodoma_003.jpg"></a></li>
  <li><a title="Andrea Mantegna
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Sebastia.jpg"><img width="256" alt="Sebastia" src="https://upload.wikimedia.org/wikipedia/commons/1/1a/Sebastia.jpg"></a></li>
</ul>