<h4>Scripture</h4>
<ul>
  <li>Genesis 14: 18-20</li>
  <li>Psalm 109</li>
  <li>First Corinthians 11: 23-26</li>
  <li>St Luke 9: 11-17</li>
</ul>


<h4>Prayer</h4>
<p>
  Lord you are my everything, Lord you are my friend.
  <br>
  In this Bread, you promise me, life that has no end.
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li>Image by <a href="https://pixabay.com/users/philipbarrington-1255904/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=885433">Philip Barrington</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=885433">Pixabay</a></li>
  <li>Image by <a href="https://pixabay.com/users/ginigeo_photography-5491779/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4899770">Gini George</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4899770">Pixabay</a></li>
  <li>Image by <a href="https://pixabay.com/users/dodo71-10873202/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4609565">Dorothée QUENNESSON</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4609565">Pixabay</a></li>
</ul>