<h4>
  24th Sunday in OT Year C
  <br>
  <small>
    In the Lord Mercy and Compassion abounds
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Book of Exodus 32; 7-11 , 13-14</li>
  <li>Psalm 50</li>
  <li>Paul to Timothy 1; 12-17</li>
  <li>Isaiah 1: 18-19</li>
  <li>St Luke 15: 1-32 </li>
</ul>

<h4>Prayer</h4>
<p>
  May we have the courage to place ourselves in your hands. <br>
May pride fear or shame not be obstacles to your mercy <br>
and forgiveness in our lives. <br>
  <br>
  Amen
</p>
