<h4>Credits</h4>
<ul>
  <li><a title="Pietro Perugino
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Pietro_Perugino_040.jpg"><img width="256" alt="Pietro Perugino 040" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Pietro_Perugino_040.jpg/256px-Pietro_Perugino_040.jpg"></a></li>
  <li><a title="Jacob Jordaens
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Jacob_Jordaens_-_Crucifixion_of_Christ.jpg"><img width="256" alt="Jacob Jordaens - Crucifixion of Christ" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Jacob_Jordaens_-_Crucifixion_of_Christ.jpg/256px-Jacob_Jordaens_-_Crucifixion_of_Christ.jpg"></a></li>
  <li><a title="Soerfm, CC BY-SA 3.0 &lt;https://creativecommons.org/licenses/by-sa/3.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:TWELFTH_STATION_Jesus_dies_on_the_Cross_edit.jpg"><img width="512" alt="TWELFTH STATION Jesus dies on the Cross edit" src="https://upload.wikimedia.org/wikipedia/commons/2/29/TWELFTH_STATION_Jesus_dies_on_the_Cross_edit.jpg"></a></li>
</ul>