<h4>Scripture</h4>
<ul>
  <li>Joshua 5: 9-12</li>
  <li>Psalm 33</li>
  <li>St Paul to the Corinthians 5: 17 - 21</li>
  <li>St Luke 15: 1 -3, 11-32</li>
</ul>

<h4>Prayer</h4>
<p>
  Father, <br>we greatly rejoice in you unending love for us. <br>Forgive us our faults and failings. <br>We know that
  your love is far greater than our sinfulness. <br>May we make use of the Lenten graces to draw closer to you.<br><br>
  Amen


</p>
