<h4>
  30th Sunday in OT  Yr C 
  <br>
  <small>
    The humble walked away in peace - the other did not
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Book of Ecclesiasticus (Sirach) 35:12-14,16-19</li>
  <li>Psalm 32</li>
  <li>2 Timothy 4:6-8,16-18</li>
  <li>St Luke 18:9-14</li>
</ul>






<h4>Prayer</h4>
<p>
  May our prayer ascend before you lord. <br>
May our attitude always be that of the tax collector <br>
As we make our prayer<br>
“O god be merciful to me, a sinner”<br>
In Jesus name we make this prayer before you.
  
  <br>

  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a title="Barent Fabritius
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:De_Farizee%C3%ABr_en_de_tollenaar_Rijksmuseum_SK-A-2959.jpeg"><img width="512" alt="De Farizeeër en de tollenaar Rijksmuseum SK-A-2959" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/De_Farizee%C3%ABr_en_de_tollenaar_Rijksmuseum_SK-A-2959.jpeg/512px-De_Farizee%C3%ABr_en_de_tollenaar_Rijksmuseum_SK-A-2959.jpeg"></a></li>
  <li><a title="Johannes Böckh &amp; Thomas Mirtsch, CC BY-SA 3.0 &lt;http://creativecommons.org/licenses/by-sa/3.0/&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:BasilikaOttobeurenFresko07.JPG"><img width="256" alt="BasilikaOttobeurenFresko07" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/BasilikaOttobeurenFresko07.JPG/256px-BasilikaOttobeurenFresko07.JPG"></a></li>
</ul>
