<h4>
  Solemnity of Christ The King
  <br>
  <small>
    This day you will be with me in Paradise
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>2 Samuel  5: 1-3</li>
  <li>Psalms121</li>
  <li>Colossians 1: 12-20</li>
  <li>St Luke 23: 35-43. also Luke 23: v 35</li>
</ul>

<h4>Prayer</h4>
<p>
  King most holy, king of truth.<br>
Guide the lowly, guide our youth,<br>
Christ our king of glory bright<br>
Be to us eternal life
  
  <br>

  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="https://www.wikigallery.org/wiki/painting_298042/Mihaly-Munkacsy/Christ-before-Pilate-1881" target="_blank">Image: Christ-before-Pilate-1881</a></li>
  <li><a title="Andreas F. Borchert, CC BY-SA 3.0 DE &lt;https://creativecommons.org/licenses/by-sa/3.0/de/deed.en&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Toomyvara_St._Joseph%27s_Church_Window_Tu_Rex_Gloriae_Christe_by_William_Earley_1933_2010_09_08.jpg"><img width="128" alt="Toomyvara St. Joseph&#039;s Church Window Tu Rex Gloriae Christe by William Earley 1933 2010 09 08" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/Toomyvara_St._Joseph%27s_Church_Window_Tu_Rex_Gloriae_Christe_by_William_Earley_1933_2010_09_08.jpg/128px-Toomyvara_St._Joseph%27s_Church_Window_Tu_Rex_Gloriae_Christe_by_William_Earley_1933_2010_09_08.jpg"></a></li>
</ul>
