<h4>Scripture</h4>
<ul>
  <li>Nehemiah 8:2-6, 8-10</li>
  <li>Psalm 18</li>
  <li>St Paul to the Corinthians 12: 12-30</li>
  <li>St Luke 1: 1-4, 4: 14-21</li>
</ul>

<h4>Media Credit</h4>
<ul>
  <li><a title="James Tissot
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Brooklyn_Museum_-_Jesus_Unrolls_the_Book_in_the_Synagogue_(J%C3%A9sus_dans_la_synagogue_d%C3%A9roule_le_livre)_-_James_Tissot_-_overall.jpg"><img width="256" alt="Brooklyn Museum - Jesus Unrolls the Book in the Synagogue (Jésus dans la synagogue déroule le livre) - James Tissot - overall" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Brooklyn_Museum_-_Jesus_Unrolls_the_Book_in_the_Synagogue_%28J%C3%A9sus_dans_la_synagogue_d%C3%A9roule_le_livre%29_-_James_Tissot_-_overall.jpg/256px-Brooklyn_Museum_-_Jesus_Unrolls_the_Book_in_the_Synagogue_%28J%C3%A9sus_dans_la_synagogue_d%C3%A9roule_le_livre%29_-_James_Tissot_-_overall.jpg"></a></li>
</ul>

