<h4>
  Mary Mother of Sorrows
  <br>
  <small>
    Your own soul a sword shall pierce
  </small>
</h4>

<h4>Prayer</h4>
<p>
  Beloved Mother Mary, <br>
help us to bear our own sufferings with patience and resignation. <br>
Give us the courage to unite it to the suffering of your Son, Jesus. <br>
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a title="Anonimous, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Ymyagchenie_zlix_serdec.jpg"><img width="256" alt="Ymyagchenie zlix serdec" src="https://upload.wikimedia.org/wikipedia/commons/b/ba/Ymyagchenie_zlix_serdec.jpg"></a></li>
  <li><a title="Bartolomé Esteban Murillo
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Dolorosa.jpg"><img width="256" alt="Dolorosa" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Dolorosa.jpg/256px-Dolorosa.jpg"></a></li>
  <li><a title="Titian
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Mater_Dolorosa_with_open_hands.jpg"><img width="256" alt="Mater Dolorosa with open hands" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/Mater_Dolorosa_with_open_hands.jpg/256px-Mater_Dolorosa_with_open_hands.jpg"></a></li>
</ul>