<h4>
  3rd Sunday of Advent Year A
  <br>
  <small>
    Be happy - but what is the source of our happiness
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Isaiah 35:1-6A, 10</li>
  <li>James 5:7-10</li>
  <li>Matthew 11:2-11</li>
</ul>

<h4>Prayer</h4>
<p>
  Father, we ask that we as followers of Jesus your Son may always delight and be happy in the truth. <br>
  May our love, patience, sharing and actions speak louder that any words. <br>
  By your grace we will succeed. <br>
  We ask this in Jesus name. 

  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
