<h4>Scripture</h4>
<ul>
  <li>Acts of the Apostles 10: 34,37-13</li>
  <li>Psalm 117</li>
  <li>St Paul to the Corinthians 3: 1-4</li>
  <li>Gospel of St John 20: 1-9. Also John 11: 25</li>
</ul>

<h4>Credits</h4>
<ul>
  <li><a title="Surgun100, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Resurrection_(24).jpg"><img width="256" alt="Resurrection (24)" src="https://upload.wikimedia.org/wikipedia/commons/b/b2/Resurrection_%2824%29.jpg"></a></li>
</ul>