<h4>
  33rd Sunday in Ordinary Time Year C
  <br>
  <small>
    Destruction of the Temple
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Malachi 3: 19-20</li>
  <li>Psalms 97</li>
  <li>2 Thessalonians 3: 7-12</li>
  <li>St.Luke 21: 5-19</li>
</ul>

<h4>Prayer</h4>
<p>
  Help us to live our day to day lives bravely. <br>
  May we be ready to answer your call.  <br>
  We ask this in Jesus' name.
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
