<h4>
  Sts. Michael, Gabriel, Raphael
  <br>
  <small>
    Archangels
  </small>
</h4>

<h4>Prayer</h4>
<p>
  Saint Michael the Archangel, defend us in battle and guard us against the devil's evil and traps. <br>
  May God hold him back, we ask humbly. <br>
  O Prince of the Heavenly Host, by God's power, send Satan and all evil spirits who roam the world seeking the destruction of souls down to hell.
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="https://www.americamagazine.org/faith/2017/09/29/pope-francis-pray-archangels-protection-devil" target="_blank">Image: Pope Francis: Pray to archangels for protection from devil | America ...</a></li>
  <li><a href="https://domesticityanddoctrine.blogspot.com/2012/09/top-7-ways-celebrate-archangels.html" target="_blank">Image: Domesticity and Doctrine: Top 7 Ways to Celebrate the Feast of the ...</a></li>
  <li><a href="https://v-catholic.com/prayers/prayer-to-st-michael-the-archangel/" target="_blank">Image: Prayer to St. Michael the Archangel - Vcatholic</a></li>
  <li><a href="https://www.uncutmountainsupply.com/icons/of-angels/archangel-gabriel-chief-commander-1ga12/" target="_blank">Image: Icon of the Archangel Gabriel - "Chief Commander" - (1GA12) - Uncut ...</a></li>
  <li><a href="https://www.pinterest.com/pin/657455245593125674/" target="_blank">Image: Pin by nilo01 Pestaño on Arte in 2020 | Archangel raphael, Archangels ...</a></li>
</ul>
