<h4>
  Twenty-Fifth Sunday in Ordinary Time
  <br>
  <small>
    
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Isaiah:55: 6-9</li>
  <li>Psalm: 144</li>
  <li>Philippians: 1: 20-26, 29</li>
  <li>Matthew 20: 1-16</li>
</ul>

<h4>Media</h4>
<ul>
  <li><a href="https://www.pexels.com/video/a-farmer-checking-on-his-corn-plants-in-the-field-8659385/" target="_blank">Video by FRANK MERIÑO: </a></li>
</ul>
