<h4>
  Assumption of Our Lady into heaven
  <br>
  <small>
    You have won God’s favour
  </small>
</h4>

<h4>Prayer</h4>
<p>
  O Mary conceived without sin pray for us who struggle daily with the temptations of this world. 
  <br>
  Help us to be, as you were worthy of the promises of of the Lord made to us in our baptism. 
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="http://oloa.hwcdsb.ca/ourfaith/patron/" target="_blank">Image: Patron - Our Lady of the Assumption</a></li>
  <li><a href="https://www.pinterest.com/pin/426223552231319362/" target="_blank">Image: Pin on Blessed Virgin Mary / Holy Mother of God / Theotokos</a></li>
  <li><a href="https://www.etsy.com/listing/670408260/the-coronation-of-mary-catholic-picture" target="_blank">Image: The Coronation of Mary Catholic Picture Print - Etsy</a></li>
  <li><a href="https://sacredheartfla.org/seasonal/feast-days-solemnities/the-feast-of-the-immaculate-conception/" target="_blank">Image: The Solemnity of the Immaculate Conception | Sacred Heart Catholic Church</a></li>
  <li><a href="https://catholicexchange.com/the-old-testament-figures-hidden-behind-the-annunciation/" target="_blank">Image: The Old Testament Figures Hidden Behind the Annunciation</a></li>
</ul>
