<h4>
  Tenth Sunday in Ordinary Time
  <br>
  <small>
    I came to call sinners
  </small>
</h4>

<h4>Prayer</h4>
<p>
  May the message and example of Jesus spur us on, bring us true joy.
  <br>May we welcome others as he welcomes us.
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="https://www.sacerdotus.com/2016/08/20th-sunday-of-ordinary-time-jesus-fire.html" target="_blank">Image: Sacerdotus: 20th Sunday of Ordinary Time: Jesus, Fire & Division</a></li>
  <li><a href="https://www.pexels.com/video/dropping-ten-rupee-coins-on-the-floor-5305003/" target="_blank">Video by Hemanth K M</a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
</ul>
