<h4>
  Third Sunday of Lent - Year A
  <br>
  <small>
    Give me this water - so that I may never again thirst
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Gospel of St John 4; 5-42</li>
</ul>

<h4>Prayer</h4>
<p>
  Father, when life grows difficult, help us to remember that you are there on our side not to condemn but to encourage us. <br>
  Grant dear Lord that one day we will live in peace, with you. 
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="https://jenikirbyhistory.getarchive.net/media/jesus-christ-with-a-samarian-woman-pixabay-f3176d" target="_blank">Image: Jesus and Samaritan woman</a></li>
  <li><a data-flickr-embed="true" href="https://www.flickr.com/photos/paullew/5562934251" title="Jesus and the Samaritan Woman at the Well"><img src="https://live.staticflickr.com/5295/5562934251_2d13f375d7_m.jpg" width="240" height="160" alt="Jesus and the Samaritan Woman at the Well"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script></li>
  <li><a data-flickr-embed="true" href="https://www.flickr.com/photos/paullew/49661820372" title="Christ and the Samaritan Woman at the Well"><img src="https://live.staticflickr.com/65535/49661820372_4a8ab2203a_m.jpg" width="240" height="217" alt="Christ and the Samaritan Woman at the Well"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script></li>
  <li><a data-flickr-embed="true" href="https://www.flickr.com/photos/dmott9/8156070669" title="The Woman at the Well"><img src="https://live.staticflickr.com/7128/8156070669_d3dd4360ec_m.jpg" width="180" height="240" alt="The Woman at the Well"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script></li>
  <li>By &lt;a href=&quot;//commons.wikimedia.org/wiki/User:Ariely&quot; title=&quot;User:Ariely&quot;&gt;Ariely&lt;/a&gt; - &lt;span class=&quot;int-own-work&quot; lang=&quot;en&quot;&gt;Own work&lt;/span&gt;, <a href="https://creativecommons.org/licenses/by/3.0" title="Creative Commons Attribution 3.0">CC BY 3.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=4533576">Link</a></li>
</ul>
