<h4>
  Saint John Bosco
  <br>
  <small>
    An ignorant boy like me can never educate others
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

<h4>Prayer</h4>
<p>
  Father, you bestowed many graces on your servant John Bosco. <br>In humility he accepted his life’s work and now lives with you in heaven. <br> May we find favour with you and one day be part of your heavenly kingdom.
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
