<h4>
  Holy Thursday  
  <br>
  <small>
    His perfect love made visible
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Gospel of St John : 13; 1-15</li>
</ul>

<h4>Prayer</h4>
<p>
  Father, <br>
  we feel ashamed that we offend the passion of Jesus.<br>
  We become so indifferent and ungrateful, <br>
  help us to be more conscious of his actions on our behalf. <br>
  We adore you O Christ and we praise you, because of your suffering you have brought salvation to the world.
  
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
