<h4>
  Third Sunday of Easter
  <br>
  <small>
    Known by the breaking of bread
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Gospel of St John: 24: 13-35.</li>
</ul>

<h4>Prayer</h4>
<p>
  Father,<br>
  Your Son Jesus came on earth to lead us to heaven, our true home. <br>
  May we be found worthy to dwell there by following the path shown to us by Jesus, the way, the truth and the life. <br>
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a title="James Tissot
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Brooklyn_Museum_-_The_Pilgrims_of_Emmaus_on_the_Road_(Les_p%C3%A8lerins_d%27Emma%C3%BCs_en_chemin)_-_James_Tissot.jpg"><img width="64" alt="Brooklyn Museum - The Pilgrims of Emmaus on the Road (Les pèlerins d&#039;Emmaüs en chemin) - James Tissot" src="https://upload.wikimedia.org/wikipedia/commons/7/7d/Brooklyn_Museum_-_The_Pilgrims_of_Emmaus_on_the_Road_%28Les_p%C3%A8lerins_d%27Emma%C3%BCs_en_chemin%29_-_James_Tissot.jpg"></a></li>
  <li><a title="Gebhard Fugel
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Gebhard_Fugel_Jesus_und_der_Gang_nach_Emmaus.jpg"><img width="64" alt="Gebhard Fugel Jesus und der Gang nach Emmaus" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/Gebhard_Fugel_Jesus_und_der_Gang_nach_Emmaus.jpg/64px-Gebhard_Fugel_Jesus_und_der_Gang_nach_Emmaus.jpg"></a></li>
  <li><a title="Caravaggio
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Caravaggio.emmaus.750pix.jpg"><img width="64" alt="Caravaggio.emmaus.750pix" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Caravaggio.emmaus.750pix.jpg/64px-Caravaggio.emmaus.750pix.jpg"></a></li>
</ul>
