<h4>
  Saint Anthony Mary Zachariah
  <br>
  <small>
    A true labourer in the Vineyard
  </small>
</h4>

<h4>Media</h4>
<ul>
  <li><a href="http://har22201.blogspot.com/2012/07/saint-antoine-marie-zaccaria.html" target="_blank">Image: ICONOGRAPHIE CHRÉTIENNE: Saint ANTOINE-MARIE ZACCARIA, prêtre ...</a></li>
  <li><a href="http://liturgialatina.blogspot.com/2012/07/5th-july-st-anthony-mary-zaccaria.html" target="_blank">Image: Liturgia Latina: 5th July, St Anthony Mary Zaccaria, Confessor</a></li>
  <li><a href="https://tlm-md.blogspot.com/2017/07/st-anthony-mary-zaccaria-confessor.html" target="_blank">Image: St. Anthony Mary Zaccaria, Confessor - Missa 'Sermo Meus' - S. Antonii ...</a></li>
  <li><a title="Archivo personal, CC BY-SA 3.0 &lt;http://creativecommons.org/licenses/by-sa/3.0/&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:San_Antonio_Maria_Zaccaria.jpg"><img width="256" alt="San Antonio Maria Zaccaria" src="https://upload.wikimedia.org/wikipedia/commons/f/f9/San_Antonio_Maria_Zaccaria.jpg"></a></li>
  <li><a title="Jayarathina, CC BY-SA 4.0 &lt;https://creativecommons.org/licenses/by-sa/4.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Barnabites.svg"><img width="128" alt="Barnabites" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/Barnabites.svg/128px-Barnabites.svg.png"></a></li>
</ul>
