<h4>
  Meditation on Isaiah Chapter 25
  <br>
  <small>
    The Party of welcome on the Mountain
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Isaiah 25: 6-16</li>
</ul>

<h4>Prayer</h4>
<p>
  <br>
  <br>

  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
