<h4>
  Holy Thursday  
  <br>
  <small>
    His perfect love made visible
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Gospel of St John : 13; 1-15</li>
</ul>

<h4>Prayer</h4>
<p>
  Father, <br>
  we feel ashamed that we offend the passion of Jesus.<br>
  We become so indifferent and ungrateful, <br>
  help us to be more conscious of his actions on our behalf. <br>
  We adore you O Christ and we praise you, because of your suffering you have brought salvation to the world.
  
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li>By Anonimous - www.sedmitza.ru/ index.html?did=32500, Public Domain, <a href="https://commons.wikimedia.org/w/index.php?curid=3071693">Link</a></li>
  <li>By &lt;a href=&quot;https://en.wikipedia.org/wiki/en:Duccio&quot; class=&quot;extiw&quot; title=&quot;w:en:Duccio&quot;&gt;&lt;span title=&quot;Italian painter&quot;&gt;Duccio di Buoninsegna&lt;/span&gt;&lt;/a&gt; - The Yorck Project (2002) 10.000 Meisterwerke der Malerei (DVD-ROM), distributed by &lt;a href=&quot;//commons.wikimedia.org/wiki/Commons:10,000_paintings_from_Directmedia&quot; title=&quot;Commons:10,000 paintings from Directmedia&quot;&gt;DIRECTMEDIA&lt;/a&gt; Publishing GmbH. &lt;a href=&quot;https://en.wikipedia.org/wiki/International_Standard_Book_Number&quot; class=&quot;extiw&quot; title=&quot;en:International Standard Book Number&quot;&gt;ISBN&lt;/a&gt;: &lt;a href=&quot;//commons.wikimedia.org/wiki/Special:BookSources/3936122202&quot; title=&quot;Special:BookSources/3936122202&quot;&gt;3936122202&lt;/a&gt;., Public Domain, <a href="https://commons.wikimedia.org/w/index.php?curid=150330">Link</a></li>
  <li>By &lt;a href=&quot;https://en.wikipedia.org/wiki/en:Heinrich_Hofmann_(painter)&quot; class=&quot;extiw&quot; title=&quot;w:en:Heinrich Hofmann (painter)&quot;&gt;&lt;span title=&quot;German artist (1824-1911)&quot;&gt;Heinrich Hofmann&lt;/span&gt;&lt;/a&gt; - Self-scanned by &lt;a href=&quot;//commons.wikimedia.org/wiki/User:JGHowes&quot; title=&quot;User:JGHowes&quot;&gt;User:JGHowes&lt;/a&gt; from 1945 print published by the Board of Trustees, Riverside Church, New York, NY, Public Domain, <a href="https://commons.wikimedia.org/w/index.php?curid=4140919">Link</a></li>
  <li>By &lt;a href=&quot;//commons.wikimedia.org/wiki/User:Sibeaster&quot; title=&quot;User:Sibeaster&quot;&gt;Sibeaster&lt;/a&gt; - &lt;span class=&quot;int-own-work&quot; lang=&quot;en&quot;&gt;Own work&lt;/span&gt;, Public Domain, <a href="https://commons.wikimedia.org/w/index.php?curid=4470863">Link</a></li>
</ul>
