<h4>
  Third Sunday of Easter
  <br>
  <small>
    Known by the breaking of bread
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Gospel of St John: 24: 13-35.</li>
</ul>

<h4>Prayer</h4>
<p>
  Father,<br>
  Your Son Jesus came on earth to lead us to heaven, our true home. <br>
  May we be found worthy to dwell there by following the path shown to us by Jesus, the way, the truth and the life. <br>
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
