<h4>
  Thirteenth Sunday in Ordinary Time - Year A 
  <br>
  <small>
    Jesus guides us from heaven - listen to him.
  </small>
</h4>

<h4>Media</h4>
<ul>
  <li><a href="https://www.pinterest.fr/pin/423479171191294425/" target="_blank">Image: stained glass nativity - Google Search | Stained glass church</a></li>
  <li><a href="https://www.stainedglassinc.com/window/1661-his-crucifixion/" target="_blank">Image: "His Crucifixion" Religious Stained Glass Window</a></li>
</ul>
