<h4>
  7th Sunday in Ordinary Time - Year A
  <br>
  <small>
    May we listen to Jesus whose word is true
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Leviticus 19:1-2, 17-18</li>
  <li>1 Corinthians 3:16-23</li>
  <li>Matthew 5:38-48</li>
</ul>

<h4>Prayer</h4>
<p>
  Father, we lack courage and vision with our eyes cast down. <br>Help us to raise our sights  and search for your wisdom and encouragement. <br>May your Holy Spirit help us see the “what
  IS possible” in our lives, <br>and help us also to encourage our sisters and brothers from negative ways.
  <br>
  Amen
</p>

