<h4>
  St Anselm - Bishop and Doctor
  <br>
  <small>
    Those who love the Lord lack no blessings
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

<h4>Prayer</h4>
<p>
  Father you gave St Anselm the grace and wisdom and understanding to proclaim your word in defence of your Church. <br>
  May our faith help us follow the way of your Son Jesus. 
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
