<h4>
  Feast of St Joseph
  <br>
  <small>
    If we could die like St Joseph - what a death!
  </small>
</h4>

<h4>Prayer</h4>
<p>
  Holy Saint Joseph, from your place in heaven, look lovingly upon us. <br>
  Keep us close to Jesus and Mary in this life.<br>
  May our death be a happy one, with the knowledge of what we know now will one day be a reality for us in heaven.
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="http://saintjosephalbum.blogspot.com/" target="_blank">Image: Saint Joseph prayer card</a></li>
  <li><a href="http://acatholiclife.blogspot.com/2013/05/feast-of-st-joseph-worker.html" target="_blank">Image: St Joseph with the child Jesus</a></li>
  <li><a href="http://soulpainter.com/2015/03/symbols-of-saint-joseph-in-sacred-art/" target="_blank">Image: Death of St Joseph</a></li>
  <li>By &lt;a href=&quot;https://en.wikipedia.org/wiki/en:Georges_de_La_Tour&quot; class=&quot;extiw&quot; title=&quot;w:en:Georges de La Tour&quot;&gt;&lt;span title=&quot;Lorrain painter (1593-1652)&quot;&gt;Georges de La Tour&lt;/span&gt;&lt;/a&gt; - &lt;a rel=&quot;nofollow&quot; class=&quot;external free&quot; href=&quot;http://www.culture.gouv.fr/public/mistral/joconde_fr?ACTION=CHERCHER&amp;amp;FIELD_1=REF&amp;amp;VALUE_1=000PE001637&quot;&gt;http://www.culture.gouv.fr/public/mistral/joconde_fr?ACTION=CHERCHER&amp;amp;FIELD_1=REF&amp;amp;VALUE_1=000PE001637&lt;/a&gt;, Public Domain, <a href="https://commons.wikimedia.org/w/index.php?curid=1170244">Link</a></li>
  <li>By &lt;a href=&quot;https://en.wikipedia.org/wiki/en:Jacques_Stella&quot; class=&quot;extiw&quot; title=&quot;w:en:Jacques Stella&quot;&gt;&lt;span title=&quot;French Baroque painter (1596-1657)&quot;&gt;Jacques Stella&lt;/span&gt;&lt;/a&gt; - &lt;span class=&quot;int-own-work&quot; lang=&quot;en&quot;&gt;Own work&lt;/span&gt;, &lt;a href=&quot;//commons.wikimedia.org/wiki/User:Tylwyth_Eldar&quot; title=&quot;User:Tylwyth Eldar&quot;&gt;Tylwyth Eldar&lt;/a&gt;, 2018-08-04 11:34:32, Public Domain, <a href="https://commons.wikimedia.org/w/index.php?curid=71484769">Link</a></li>
</ul>
