<h4>
  Fourth Sunday of Easter 
  <br>
  <small>
    I am the Good Shepherd, I am the Gate, no other way
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

<h4>Prayer</h4>
<p>
  Father we praise and thank you for intervention from above to guide us through life here on earth. <br>
  Jesus your Son, the Good Shepherd, gently leads us through every storm in life, <br>
  His crook and staff always ready to rescue us, guiding us on the safe path. <br>
  May we be inspired by the Spirit of truth to follow and know ‘ there is nothing I shall want’. 
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
