<h4>
  ☘️☘️☘️ Feast of Saint Patrick ☘️☘️☘️
  <br>
  <small>
  lá féile Naomh Pádraig
  </small>
</h4>


<h4>Prayer</h4>
<p>
Christ be beside me. <br>
Christ be within me. <br>
Christ be before and behind me. <br>
Christ be in the heart of all who think of me. <br>
Christ in the mouth of all who speak of me.<br>
Christ in the eye and ear of all who see or hear me. <br><br>
Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="https://foundinantiquity.com/2014/03/17/saint-patrick-in-his-own-words/" target="_blank">Image: Stained glass Saint Patrick</a></li>
  <li><a href="https://www.geograph.ie/photo/896737" target="_blank">Image: Statue of St Patrick, Ross</a></li>
</ul>
