<h4>
  St Anthony of Padua
  <br>
  <small>
    Priest and Doctor of the Church
  </small>
</h4>

<h4>Prayer</h4>
<p>
  St Anthony of Padua, we implore you to allow us to find our way on the path to life eternal.
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="https://en.wikipedia.org/wiki/File:Saint_Anthony_of_Padua_with_the_Child.jpg" target="_blank">Image: Saint_Anthony_of_Padua_with_the_Child</a></li>
  <li><a title="Francisco de Zurbarán
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Francisco_de_Zurbar%C3%A1n_-_Sto_Antonio_de_Padua.jpg"><img width="256" alt="Francisco de Zurbarán - Sto Antonio de Padua" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b3/Francisco_de_Zurbar%C3%A1n_-_Sto_Antonio_de_Padua.jpg/256px-Francisco_de_Zurbar%C3%A1n_-_Sto_Antonio_de_Padua.jpg"></a></li>
  <li><a data-flickr-embed="true" href="https://www.flickr.com/photos/overton_cat/3942179969/" title="St Anthony of Padua"><img src="https://live.staticflickr.com/2510/3942179969_95705e1255_m.jpg" width="135" height="240" alt="St Anthony of Padua"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script></li>
  <li><a title="Francisco Henriques
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Santos_M%C3%A1rtires_de_Marrocos_(c._1508-9)_-_oficina_de_Francisco_Henriques_(MNAA).png"><img width="256" alt="Santos Mártires de Marrocos (c. 1508-9) - oficina de Francisco Henriques (MNAA)" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Santos_M%C3%A1rtires_de_Marrocos_%28c._1508-9%29_-_oficina_de_Francisco_Henriques_%28MNAA%29.png/256px-Santos_M%C3%A1rtires_de_Marrocos_%28c._1508-9%29_-_oficina_de_Francisco_Henriques_%28MNAA%29.png"></a></li>
</ul>
