<h4>
  Feast of the Visitation of the Blessed Virgin Mary
  <br>
  <small>
    Of all women you are most blessed
  </small>
</h4>

<h4>Prayer</h4>
<p>
  Father we so often get impatient waiting for your call. <br>
  We get restless waiting and fail to hear your words “Be still and know that I am God”. <br>
  Give us that patience and courage to be ready and hear your Word to us, and answer it with faith and love. 
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="https://www.carlbloch.org/Mary-And-Elizabeth.html" target="_blank">Image: Mary and Elizabeth by Carl Heinrich Bloch | Oil Painting | carlbloch.org</a></li>
  <li><a title="Philippe de Champaigne
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Champaigne_visitation.jpg"><img width="256" alt="Champaigne visitation" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Champaigne_visitation.jpg/256px-Champaigne_visitation.jpg"></a></li>
    <li><a href="https://catholicexchange.com/visitation-mary-visits-elizabeth/" target="_blank">Image: The Visitation: Mary Visits Elizabeth</a></li>
</ul>
