<h4>
  Sixth Sunday of easter
  <br>
  <small>
    Love is His Word - Love is His way
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Acts of the Apostles 8;5-8,14-17.</li>
  <li>Psalm 65</li>
  <li>First letter of St Peter 3;15-18</li>
  <li>Gospel of St John 14;15-21</li>
</ul>




<h4>Prayer</h4>
<p>
  Father, through the laying on of hands we also received the Holy Spirit on our Baptism and Confirmation day. <br>
  Give us, we pray, the strength and grace to live out that gift in our daily lives. 
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
