<h4>
  Feast of Saints Peter and Paul
  <br>
  <small>
    It was my father who revealed this to you
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>St Matthew 16: 17-19</li>
  <li>St Mark. 8.29</li>
</ul>

<h4>Prayer</h4>
<p>
  Today we honour these two men who dedicated their lives to the Good News of salvation.
  <br>In their time they faced all kinds of dangers from many sources.
  <br>They are a true inspiration to us who struggle daily with the affairs of living.
  <br>May we join with them as we say “We will be true to Christ till death” may God grace us this privilege.
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="https://anastpaul.com/2017/06/29/blessed-and-holy-solemnity-of-sts-peter-and-paul-29-june/" target="_blank">Image: Blessed and Holy Solemnity of Sts Peter and Paul - 29 June - AnaStpaul</a></li>
  <li><a href="https://religionconarte.blogspot.com/2012_11_16_archive.html" target="_blank">Image: ReligiónConArte: 11/16/12</a></li>
  <li><a href="http://commons.wikimedia.org/wiki/file:st._paul_the_apostle.jpg" target="_blank">Image: File:St. Paul the Apostle.jpg - Wikimedia Commons</a></li>
  <li><a href="https://nationaltoday.com/the-feast-of-saints-peter-and-paul/" target="_blank">Image: THE FEAST OF SAINTS PETER AND PAUL </a></li>
</ul>
