<h4>
  Feast of our angel guardian
  <br>
  <small>
    
  </small>
</h4>


<h4>Prayer</h4>
<p>
  O Angel of God my guardian dear. <br>To whom Gods love commits me here. <br>Ever this day be at my side, to light and guard to rule and guide. 
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="http://commons.wikimedia.org/wiki/File:Guardian_Angel_1900.jpg" target="_blank">Image: File:Guardian Angel 1900.jpg - Wikimedia Commons</a></li>
  <li><a href="https://www.etsy.com/listing/682228315/guardian-angel-28x15-cm-orthodox-old" target="_blank">Image: Guardian Angel 28x15 Cm. Orthodox Old Looking Byzantine Icon - Etsy</a></li>
  <li><a href="https://www.monasteryicons.com/product/guardian-angel-and-children-icon-581/icons-of-the-holy-angels" target="_blank">Image: Icons of the Holy Angels: Guardian Angel & Children Icon | Monastery Icons</a></li>
  <li><a href="https://thoughtsandprayersforthefaithful.com/2021/03/26/solemnity-of-the-annunciation/" target="_blank">Image: Solemnity of the Annunciation - Thoughts and Prayers for the Faithful</a></li>
  <li><a href="https://catholicismpure.wordpress.com/2019/03/10/reflection-for-the-1st-sunday-of-lent-cycle-c/" target="_blank">Image: Reflection for the 1st Sunday of Lent, Cycle C | Catholicism Pure & Simple</a></li>
  <li><a href="https://www.stainedglassinc.com/window/5384-the-guardian-angel/" target="_blank">Image:"The Guardian Angel" Religious Stained Glass Window" </a></li>
</ul>
