<h4>
  Transfiguration of the Lord
  <br>
  <small>
  Jesus is transfigured and becomes radiant in glory
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Daniel 7:9-10,13-14</li>
  <li>Psalm 96</li>
  <li>Second letter of St Peter 1:16-19</li>
  <li>Gospel of Matthew 17:1-9</li>
  <li></li>
  <li></li>
</ul>


<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
