<h4>
  Twenty-Seventh Sunday in Ordinary Time
  <br>
  <small>
    
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Isaiah 5:1-7</li>
  <li>Psalm 79</li>
  <li>Philippians 4:6-9</li>
  <li>St Matthew 21: 33-43</li>
</ul>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
