<h4>
  St Anselm - Bishop and Doctor
  <br>
  <small>
    Those who love the Lord lack no blessings
  </small>
</h4>

<h4>Prayer</h4>
<p>
  Father you gave St Anselm the grace and wisdom and understanding to proclaim your word in defence of your Church. <br>
  May our faith help us follow the way of your Son Jesus. 
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li>By Unknown, English - &lt;a rel=&quot;nofollow&quot; class=&quot;external free&quot; href=&quot;http://www.arspublik.com/public-domain-images-saint-anselm/&quot;&gt;http://www.arspublik.com/public-domain-images-saint-anselm/&lt;/a&gt;, Public Domain, <a href="https://commons.wikimedia.org/w/index.php?curid=9490484">Link</a></li>
  <li>By &lt;a href=&quot;https://en.wikipedia.org/wiki/Morris_Meredith_Williams&quot; class=&quot;extiw&quot; title=&quot;w:Morris Meredith Williams&quot;&gt;Morris Meredith Williams&lt;/a&gt; - &lt;a rel=&quot;nofollow&quot; class=&quot;external text&quot; href=&quot;http://www.heritage-history.com/index.php?c=academy&amp;amp;s=pseudochar&amp;amp;f=anselm&quot;&gt;Anselm&lt;/a&gt; by Ethel Mary Wilmot-Buxton, Public Domain, <a href="https://commons.wikimedia.org/w/index.php?curid=41444317">Link</a></li>
  <li>By George Glover - &lt;a rel=&quot;nofollow&quot; class=&quot;external text&quot; href=&quot;http://www.npg.org.uk/collections/search/portraitLarge/mw124034/St-Anselm?LinkID=mp56004&amp;amp;role=sit&amp;amp;rNo=2&quot;&gt;National Portrait Gallery&lt;/a&gt;, Public Domain, <a href="https://commons.wikimedia.org/w/index.php?curid=41436782">Link</a></li>
</ul>
