<h4>
  Twentieth Sunday in Ordinary Time
  <br>
  <small>
    
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Isaiah 56:1,67</li>
  <li>Psalm 66</li>
  <li>Romans 11:13-15,29,32</li>
  <li>Gospel of Matthew 15:21-28 </li>
</ul>

<h4>Prayer</h4>
<p>
  Father, we are so often weak and heavy laden, with so many cares. 
  <br>
  Let us never be discouraged, just take it to the Lord in prayer. 
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>


