<h4>
  Corpus Christi - Body of Christ
  <br>
  <small>
    I am the bread of life - eat of me and live
  </small>
</h4>

<h4>Prayer</h4>
<p>
  Father, we can be so distracted with the happenings of this life.
  <br>May we always have an appreciation of the supreme sacrifice of your Son, Jesus who offers us daily the Bread of Life. 
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="http://www.sacerdotus.com/2015/06/solemnity-of-most-holy-body-and-blood.html" target="_blank">Image: Sacerdotus: Solemnity of the Most Holy Body and Blood of Christ ...</a></li>
  <li><a href="http://flickr.com/photos/paullew/5708968505" target="_blank">Image: I Am the Bread of Life | "Jesus said to the crowd: 'I am the… | Flickr</a></li>
</ul>
