<h4>
  First Sunday in Lent - Year A
  <br>
  <small>
    Come back to me with all your heart - don’t let fear keep us apart
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Genesis 2:7-9; 3:1-7</li>
  <li>Psalms 51:3-4, 5-6, 12-13, 17</li>
  <li>Romans 5:12-19</li>
  <li>Matthew 4:1-11</li>
</ul>

<h4>Prayer</h4>
<p>
  Heavenly Father,
  <br>continue to guide us through this very special time. <br>Give us strength and a spirit of understanding and compassion.
  
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="https://www.pexels.com/video/a-weather-worn-barn-door-and-lock-2618443/" target="_blank">Video by Matthias Groeneveld</a></li>
  <li><a href="https://www.pexels.com/photo/close-up-photo-of-skull-970517/" target="_blank">Photo by Mitja Juraja</a></li>
  <li><a href="https://www.pexels.com/video/a-woman-using-an-old-cell-phone-8102790/" target="_blank">Video by KoolShooters</a></li>
</ul>
