<h4>
  Sacred Hearts of Jesus and Mary
  <br>
  <small>
    16<sup>th</sup> & 17<sup>th</sup> June, 2023
  </small>
</h4>

<h4>Prayer</h4>
<p>
  May this love which surrounds us daily inspire us to love as we are loved.
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="http://globedia.com/fiesta-sagrado-corazon-jesus" target="_blank">Image: Fiesta del Sagrado Corazón de Jesús</a></li>
  <li><a href="http://christianity.stackexchange.com/questions/18274/why-do-roman-catholics-show-devotion-to-the-sacred-heart-and-immaculate-heart" target="_blank">Image: catholicism - Why do Roman Catholics show devotion to the Sacred Heart ...</a></li>
</ul>
