<h4>
  Good Friday	
  <br>
  <small>
    Jesus dies on the Cross for us.
  </small>
</h4>

<h4>Prayer</h4>
<p>
  In silence let us go now and live in peace. 
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="https://pilgrimcenterofhope.org/spiritual-six-pack/cathedral-stained-glass-crucifixion/" target="_blank">Image: cathedral-stained-glass-crucifixion - Pilgrim Center of Hope</a></li>
  <li><a href="https://fineartamerica.com/featured/the-mocking-of-christ-matthias-stom.html" target="_blank">Image: The Mocking of Christ Painting by Matthias Stom</a></li>
  <li><a href="http://commons.wikimedia.org/wiki/file:titian_-_christ_carrying_the_cross_-_wga22830.jpg" target="_blank">Image: File:Titian - Christ Carrying the Cross - WGA22830.jpg - Wikimedia Commons</a></li>
  <li><a href="http://professor-moriarty.com/info/fr/sec/vitraux/france/seine-maritime/neufchâtel-en-bray-vitrail-reconstruit-crucifixion-neufchâtel-en-b" target="_blank">Image: Vitrail reconstruit de la Crucifixion - Neufchâtel-en-Bray | Professor ...</a></li>
  <li><a href="http://de.wikipedia.org/wiki/datei:christ_in_the_garden_of_gethsemani_and_christ_on_the_cross_inside_strasbourg_cathedral.jpg" target="_blank">Image: Datei:Christ in the garden of Gethsemani and Christ on the cross inside ...</a></li>
  <li>By &lt;a href=&quot;https://en.wikipedia.org/wiki/en:Antonio_Ciseri&quot; class=&quot;extiw&quot; title=&quot;w:en:Antonio Ciseri&quot;&gt;&lt;span title=&quot;Italian painter (1821-1891)&quot;&gt;Antonio Ciseri&lt;/span&gt;&lt;/a&gt; - &lt;a rel=&quot;nofollow&quot; class=&quot;external free&quot; href=&quot;http://www.most-famous-paintings.org/Ecce-Homo-large.html&quot;&gt;http://www.most-famous-paintings.org/Ecce-Homo-large.html&lt;/a&gt;, Public Domain, <a href="https://commons.wikimedia.org/w/index.php?curid=10356430">Link</a></li>
  <li>By &lt;a href=&quot;https://en.wikipedia.org/wiki/en:Gabriel_W%C3%BCger&quot; class=&quot;extiw&quot; title=&quot;w:en:Gabriel Wüger&quot;&gt;&lt;span title=&quot;Swiss artist and monk (1829-1893)&quot;&gt;Gabriel Wüger&lt;/span&gt;&lt;/a&gt; - &lt;a rel=&quot;nofollow&quot; class=&quot;external free&quot; href=&quot;http://www.engen.de/toparchiv/ausstellung/beuron.htm&quot;&gt;http://www.engen.de/toparchiv/ausstellung/beuron.htm&lt;/a&gt;, Public Domain, <a href="https://commons.wikimedia.org/w/index.php?curid=2511980">Link</a></li>
</ul>
