<h4>
  Feast of Saint Matthew Apostle 
  <br>
  <small>
  </small>
</h4>


<h4>Media</h4>
<ul>
  <li><a href="https://www.blessedmart.com/shop/hand-painted-icons/male-saints-icons/st-matthew-the-apostle-large/" target="_blank">Image: St Matthew the Apostle Large Orthodox Icon - BlessedMart</a></li>
  <li><a href="https://cassmancatechism.com/saint-matthew-apostle-†-first-century/" target="_blank">Image: Saint Matthew Apostle († First Century) - Cassman Catechism</a></li>
  <li><a href="https://www.stainedglassinc.com/window/5399-matthew-the-apostle/" target="_blank">Image: "Matthew the Apostle" Religious Stained Glass Window</a></li>
</ul>
