<h4>
  Twelfth Sunday in Ordinary Time
  <br>
  <small>
    Do not be afraid
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Jeremiah 20; 10-13</li>
  <li>Psalm 68</li>
  <li>Romans 5; 12-15</li>
  <li>St Matthew 10;23-33</li>
</ul>

<h4>Prayer</h4>
<p>
  Father we so often doubt your presence and feel we are fighting our battles alone.
  <br>In times like this give us the wisdom to know that we never are alone and remember that you are always with us. 
  <br>
  Amen
</p>
