<h4>
  Solemnity of Mary Mother of God - Year A
  <br>
  <small>
    Her greatest title Mother of God
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Book of Numbers 6: 22- 27</li>
  <li>Psalm 66</li>
  <li>Galatians 4: 4-7</li>
  <li>St Luke 2: 16 - 21</li>
</ul>

<h4>Prayer</h4>
<p>
  Holy Mary, Mother of God, pray for us sinners in these times of doubt and confusion and at the hour of death.
  <br> Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="https://saskapriest.com/wordpress/2018/01/01/homily-from-jan-1-2018-solemnity-of-mary-mother-of-god-an-eclipse-and-a-full-moon/" target="_blank">Image:Homily from Jan. 1, 2018 (Solemnity of Mary, Mother of God): An Eclipse ... </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li>Video by Bronze Digitals: https://www.pexels.com/video/fireworks-in-the-night-sky-6057470/</li>
  <li><a title="This Photo was taken by Wolfgang Moroder.  

    Feel free to use my photos, but please mention me as the author and send me a  message. 
    
    
    
    This image is not public domain. Please respect the copyright protection. It may only be used according to the rules mentioned here. This specifically excludes use in social media, if applicable terms of the licenses listed here not appropriate.
    
    
    
    Please do not upload an updated image here without consultation with the Author. The author would like to make corrections only at his own source. This ensures that the changes are preserved.Please if you think that any changes should be required, please inform the author.Otherwise you can upload a new image with a new name. Please use one of the templates derivative or extract., CC BY-SA 3.0 &lt;https://creativecommons.org/licenses/by-sa/3.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Lusenberg-Virgin.jpg"><img width="256" alt="Lusenberg-Virgin" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Lusenberg-Virgin.jpg/256px-Lusenberg-Virgin.jpg"></a></li>
</ul>
