<h4>
  St Thomas Apostle
  <br>
  <small>
    Doubt no longer but believe
  </small>
</h4>

<h4>Prayer</h4>
<p>
  St Thomas help us to truly believe in the Risen Christ and help us also to believe that one day we will be with him in heaven. 
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="https://www.reddit.com/r/Catholicism/comments/c8j17h/today_is_the_feast_of_saint_thomas_the_apostle/" target="_blank">Image: Today is the feast of Saint Thomas the Apostle, Patron of architects ...</a></li>
  <li><a href="http://jceworld.blogspot.com/2016/07/saint-july-3-st-thomas-apostle-patron.html" target="_blank">Image: Catholic News World : Saint July 3 : St. Thomas Apostle : Patron of # ...</a></li>
  <li><a href="https://saintsforsinners.com/blogs/saints-stories/saint-thomas-the-apostle?_pos=11&_sid=e5e38d626&_ss=r" target="_blank">Image: Saint Thomas the Apostle - Rob Clemenz SaintsforSinners</a></li>
  <li><a href="http://bookofheaven.org/2014/07/03/feast-of-st-thomas-the-apostle/" target="_blank">Image: FEAST OF ST. THOMAS THE APOSTLE</a></li>
</ul>
