<h4>
  St Agnes of Rome
  <br>
  <small>
    Virgin and Martyr
  </small>
</h4>


<h4>Prayer</h4>
<p>
  Father in Heaven
  <br>
  We thank you
for the example
of Saint Agnes
  <br>
  At the tender age
of thirteen
  <br>
  She knew where
her true love
really lived
  <br>
  And sought
with all her heart,
to be with Him.
  <br>
  May God help us
to make the journey
toward him in heaven
  <br>
  And there,
dwell with Him,
and all the saints forever.
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="https://www.britannica.com/biography/Saint-Agnes#/media/1/9302/173859" target="_blank">Image: St Agnes holding a lamb - stained glass</a></li>
  <li><a href="http://brewminate.com/titus-lartius-first-dictator-of-the-roman-republic/" target="_blank">Image: Titus Lartius, First Dictator of the Roman Republic</a></li>
  <li><a title="Domenichino
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:2872-saint-agnes-domenichino.jpg"><img width="256" alt="2872-saint-agnes-domenichino" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/2872-saint-agnes-domenichino.jpg/256px-2872-saint-agnes-domenichino.jpg"></a></li>
  <li><a title="Massimo Stanzione
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Massimo_Stanzione_-_Saint_Agnes_-_Google_Art_Project.jpg"><img width="512" alt="Massimo Stanzione - Saint Agnes - Google Art Project" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/Massimo_Stanzione_-_Saint_Agnes_-_Google_Art_Project.jpg/512px-Massimo_Stanzione_-_Saint_Agnes_-_Google_Art_Project.jpg"></a></li>
  <li><a title="Johann Friedrich Overbeck, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Johann_Overbeck_drawing_of_St._Agnes_vs_Roman_Rule_an_early_Christian_martyr.jpg"><img width="512" alt="Johann Overbeck drawing of St. Agnes vs Roman Rule an early Christian martyr" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Johann_Overbeck_drawing_of_St._Agnes_vs_Roman_Rule_an_early_Christian_martyr.jpg/512px-Johann_Overbeck_drawing_of_St._Agnes_vs_Roman_Rule_an_early_Christian_martyr.jpg"></a></li>
  <li><a title="Cesare Dandini
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Saint_Agnes_by_Cesare_Dandini.jpg"><img width="256" alt="Saint Agnes by Cesare Dandini" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Saint_Agnes_by_Cesare_Dandini.jpg/256px-Saint_Agnes_by_Cesare_Dandini.jpg"></a></li>
    <li><a title="NikonZ7II, CC BY-SA 4.0 &lt;https://creativecommons.org/licenses/by-sa/4.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Sant%27Agnese_in_Agone_(Rome)_esterno.jpg"><img width="512" alt="Sant&#039;Agnese in Agone (Rome) esterno" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Sant%27Agnese_in_Agone_%28Rome%29_esterno.jpg/512px-Sant%27Agnese_in_Agone_%28Rome%29_esterno.jpg"></a></li>
    <li><a title="Michaelphillipr, CC BY-SA 3.0 &lt;https://creativecommons.org/licenses/by-sa/3.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Skull_Saint_Agnes.JPG"><img width="256" alt="Skull Saint Agnes" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Skull_Saint_Agnes.JPG/256px-Skull_Saint_Agnes.JPG"></a></li>
    <li><a title="myself (User:Piotrus), CC BY-SA 3.0 &lt;https://creativecommons.org/licenses/by-sa/3.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Museum_of_Archdiocese_in_Gniezno_-_paliusz.JPG"><img width="256" alt="Museum of Archdiocese in Gniezno - paliusz" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Museum_of_Archdiocese_in_Gniezno_-_paliusz.JPG/256px-Museum_of_Archdiocese_in_Gniezno_-_paliusz.JPG"></a></li>
  </ul>
