<h4>
  Feast of the Visitation of the Blessed Virgin Mary
  <br>
  <small>
    Of all women you are most blessed
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

<h4>Prayer</h4>
<p>
  Father we so often get impatient waiting for your call. <br>
  We get restless waiting and fail to hear your words “Be still and know that I am God”. <br>
  Give us that patience and courage to be ready and hear your Word to us, and answer it with faith and love. 
  
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
