<h4>
  Saint John Bosco
  <br>
  <small>
    An ignorant boy like me can never educate others
  </small>
</h4>

<h4>Prayer</h4>
<p>
  Father, you bestowed many graces on your servant John Bosco. <br>In humility he accepted his life’s work and now lives with you in heaven. <br> May we find favour with you and one day be part of your heavenly kingdom.
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="http://2.bp.blogspot.com/-aDdK09Z1sLI/UG8eN2S2-bI/AAAAAAAAB3E/Fu2kh9_Xk8Q/s1600/Blessed+John+Bosco.JPG" target="_blank">Image: John Bosco in a field</a></li>
  <li>By Attributed to Carlo Felice Deasti - Transferred from ro.wikipedia to Commons by Gikü using CommonsHelper. (Original text: Unknown), Public Domain, https://commons.wikimedia.org/w/index.php?curid=29536567</li>
  <li>By Kertraon - Own work, CC BY-SA 4.0, https://commons.wikimedia.org/w/index.php?curid=35337703</li>
  <li>By Joaquim Maria Pascual i Martí-Codolar (1857-1905) - AA.VV., Sagnier. Arquitecte, Barcelona 1858-1931, Ed. Antonio Sagnier, Barcelona (2007), ISBN 978-84-612-0215-7, Public Domain, https://commons.wikimedia.org/w/index.php?curid=4919528</li>
</ul>
