<h4>
  Fifteenth Sunday in Ordinary Time - Year A
  <br>
  <small>
    Be prepared to open your eyes to the wonder of this moment
  </small>
</h4>

<h4>Prayer</h4>
<p>
  Father, do not let us give up so easily.
  <br>Jesus asks us to be doers of the word and not just listeners.
  <br>Let our choice be for Jesus who is the way, the truth and the life. 

  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
