<h4>
  Sixteenth Sunday in Ordinary Time - Year A
  <br>
  <small>
    Leave all until harvest time.
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Book of Wisdom 12; 13, 16-19</li>
  <li>Psalm. 85</li>
  <li>Romans 8;26-27</li>
  <li>St Matthew 13; 24-43 </li>
</ul>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
