<h4>
  3rd Sunday in Ordinary Time - Year A
  <br>
  <small>
    Jesus in Galilee preaching and calling his first disciples.
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Isaiah 8: 23, 9: 3</li>
  <li>Psalm 26</li>
  <li>Corinthians 1: 10-13, 17</li>
  <li>Saint Matthew 4: 12-23</li>
</ul>

<h4>Prayer</h4>
<p>
  The kingdom of God is still among us. <br>May God give us the wisdom to acknowledge it. <br>May we not listen to false teaching round us. <br>May God’s grace help us to seek that kingdom and one day dwell in one of its rooms. <br>We make our prayer in Jesus name. 
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a title="James Tissot
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Brooklyn_Museum_-_The_Calling_of_Saint_Peter_and_Saint_Andrew_(Vocation_de_Saint_Pierre_et_Saint_Andr%C3%A9)_-_James_Tissot_-_overall.jpg"><img width="256" alt="Brooklyn Museum - The Calling of Saint Peter and Saint Andrew (Vocation de Saint Pierre et Saint André) - James Tissot - overall" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Brooklyn_Museum_-_The_Calling_of_Saint_Peter_and_Saint_Andrew_%28Vocation_de_Saint_Pierre_et_Saint_Andr%C3%A9%29_-_James_Tissot_-_overall.jpg/256px-Brooklyn_Museum_-_The_Calling_of_Saint_Peter_and_Saint_Andrew_%28Vocation_de_Saint_Pierre_et_Saint_Andr%C3%A9%29_-_James_Tissot_-_overall.jpg"></a></li>
  <li><a title="Ivan Kramskoi
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Christ_in_the_Wilderness_-_Ivan_Kramskoy_-_Google_Cultural_Institute.jpg"><img width="512" alt="Christ in the Wilderness - Ivan Kramskoy - Google Cultural Institute" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Christ_in_the_Wilderness_-_Ivan_Kramskoy_-_Google_Cultural_Institute.jpg/512px-Christ_in_the_Wilderness_-_Ivan_Kramskoy_-_Google_Cultural_Institute.jpg"></a></li>
  <li><a title="Ary Scheffer
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Ary_Scheffer_-_The_Temptation_of_Christ_(1854).jpg"><img width="256" alt="Ary Scheffer - The Temptation of Christ (1854)" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Ary_Scheffer_-_The_Temptation_of_Christ_%281854%29.jpg/256px-Ary_Scheffer_-_The_Temptation_of_Christ_%281854%29.jpg"></a></li>
</ul>
