<h4>
  Presentation of the Lord
  <br>
  <small>
    Jesus is taken to the Temple
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Gospel of St Like  2: 22-40</li>
</ul>

<h4>Prayer</h4>
<p>
  
  Father in heaven, you know and see all things. You alone can read our hearts. <br>By your grace we have been called to bear the light of Christ. <br>Weak and sinful though we are, allow that light to illuminate our path which is leading us to you.
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li>By Hans Holbein the Elder - The Yorck Project (2002) 10.000 Meisterwerke der Malerei (DVD-ROM), distributed by DIRECTMEDIA Publishing GmbH. ISBN: 3936122202., Public Domain, https://commons.wikimedia.org/w/index.php?curid=152899</li>
  <li>By Francis Helminski - Own work, Public Domain, https://commons.wikimedia.org/w/index.php?curid=76517686</li>
  <li>By Fra Bartolomeo - Kunsthistorisches Museum Wien, Bilddatenbank., Public Domain, https://commons.wikimedia.org/w/index.php?curid=4891897</li>
  <li>By Alexey Yegorov - Bibliotekar.ru, Public Domain, https://commons.wikimedia.org/w/index.php?curid=2246211</li>
  <li>By Giotto - Source: Cappella Scrovegni a Padova, Public Domain, https://commons.wikimedia.org/w/index.php?curid=94614</li>
</ul>
