<h4>
  Corpus Christi - Body of Christ
  <br>
  <small>
    I am the bread of life - eat of me and live
  </small>
</h4>

<h4>Prayer</h4>
<p>
  Father, we can be so distracted with the happenings of this life.
  <br>May we always have an appreciation of the supreme sacrifice of your Son, Jesus who offers us daily the Bread of Life. 
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
