<h4>
  Assumption of Our Lady into heaven
  <br>
  <small>
    You have won God’s favour
  </small>
</h4>

<h4>Prayer</h4>
<p>
  O Mary conceived without sin pray for us who struggle daily with the temptations of this world. 
  <br>
  Help us to be, as you were worthy of the promises of the made to us in our baptism. 
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
