<h4>
  Twenty-sixth Sunday in Ordinary Time
  <br>
  <small>
    Humility leads direct to God
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Ezekiel 18: 25-28</li>
  <li>Psalm 24</li>
  <li>Philippians 2: 1-11</li>
  <li>Matthew 21: 28-32</li>
</ul>


<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
