<h4>
  Fifth Sunday of Lent Year A
  <br>
  <small>
    Lazarus is called back from the the dead by Jesus
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Gospel of St John 11; 1-45 </li>
</ul>

<h4>Prayer</h4>
<p>
  How can we ever thank you enough for the promise of life you have given through Christ Jesus. <br>May our profession of faith be no just words but a life lived in the hope of the resurrection.
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="https://en.wikipedia.org/wiki/Raising_of_Lazarus" target="_blank">Image: Lazarus of Bethany - Wikipedia</a></li>
  <li><a title="Léon Bonnat
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Bonnat01.jpg"><img width="512" alt="Bonnat01" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Bonnat01.jpg/512px-Bonnat01.jpg"></a></li>
</ul>
