<h4>
  Epiphany of the Lord - Year A
  <br>
  <small>
    Jesus is presented to the world
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Isaiah 60: 1-6 </li>
  <li>Psalm 72</li>
  <li>Ephesians 3: 3, 5-6</li>
  <li>St Matthew 1: 1-12</li>
</ul>





<h4>Prayer</h4>
<p>
  May your splendour O Lord not frighten us. <br>But allow us to draw closer to you. <br>May we always be sincere before you as nothing is hidden from your sight.
  
  

  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="https://upload.wikimedia.org/wikipedia/commons/e/ec/Bartolomé_Esteban_Murillo_-_Adoration_of_the_Magi_-_Google_Art_Project.jpg" target="_blank">Image: Bartolomé Esteban Murillo - Adoration of the Magi</a></li>
  <li><a href="https://heavencanwaitcardsandgifts.blogspot.com/2015/01/three-wise-men-and-their-precious-gifts.html" target="_blank">Image: Heaven can wait : Health Benefits of Gold, Frankincense and Myrrh</a></li>
</ul>
