<h4>
  Birthday of John the Baptist
  <br>
  <small>
    I must decrease and he must increase
  </small>
</h4>
l>

<h4>Prayer</h4>
<p>
  Father you are indeed merciful, may that mercy be a source of strength to us, knowing that in asking for it with a sincere heart it will be ours.
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
