<h4>
  Fourteenth Sunday in Ordinary Time - Year A
  <br>
  <small>
    Have no fear. Jesus is always near.
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Zachariah 9:9-10</li>
  <li>Psalm 144</li>
  <li>Romans 8:9; 11-13</li>
  <li>Matthew 11; 25-30</li>
</ul>

<h4>Media</h4>
<ul>
  <li><a href="https://www.pinterest.ca/pin/387168899197862562/" target="_blank">Image:Pin en vetrate </a></li>
</ul>
