<h4>
  Saint Josephine Bakhita
  <br>
  <small>
    From Slave to Saint
  </small>
</h4>


<h4>Prayer</h4>
<p>
  Father you guided the life of Saint Josephine Bakhita through very difficult years. <br>She is now numbered among your Saints in heaven.  <br>Her greatest gift was love and forgiveness. <br>May we follow her example and be numbered among your family in heaven.
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
