<h4>
  Saint Josephine Bakhita
  <br>
  <small>
    From Slave to Saint
  </small>
</h4>


<h4>Prayer</h4>
<p>
  Father you guided the life of Saint Josephine Bakhita through very difficult years. <br>She is now numbered among your Saints in heaven.  <br>Her greatest gift was love and forgiveness. <br>May we follow her example and be numbered among your family in heaven.
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="https://www.flickr.com/photos/23748404@N00/4339897205" target="_blank">Image: Happy St. Josephine Bakhita Day! | A.Currell | Flickr</a></li>
  <li><a href="https://www.flickr.com/photos/gashwin/20454947573" target="_blank">Image: Stained Glass: St. Josephine Bakhita | St. John Paul II Chap… | Flickr</a></li>
  <li>By Unknown author - http://www.vatican.va/news_services/liturgy/saints/ns_lit_doc_20001001_giuseppina-bakhita_photo.html with the caption &quot;virgin of the Institute of the Daughters of the Canossiane charity&quot;, Public Domain, https://commons.wikimedia.org/w/index.php?curid=44852099</li>
  <li>Video by Taryn Elliott: https://www.pexels.com/video/giraffes-in-the-wild-5214182/</li>
</ul>
