<h4>
  Fourth Sunday of Lent Year A
  <br>
  <small>
    I was blind but now I see
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Gospel of St. John 9: 1- 41</li>
</ul>

<h4>Prayer</h4>
<p>
  Father, May be recognise your Sons presence among us today. <br>
  May our eyes be open to follow him and understand what we ought to do. 
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
