<h4>
  Feast of the Annunciation of the Lord
  <br>
  <small>
    When the appointed time came…
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

<h4>Prayer</h4>
<p>
  Father, you love the world so much that you sent us your beloved Son. <br>
  We thank you for the reminder in today's feast of the Annunciation, Mary’s free willing convent. <br>
  May we be also share in this salvation offered. We make our prayer in Jesus name. 
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
