<h4>
  St Mary Magdalene
  <br>
  <small>
    
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Gospel of St. John 20;1-2; 11-18</li>
</ul>

<h4>Media</h4>
<ul>
  <li><a href="https://www.uncutmountainsupply.com/icons/of-saints/by-name/m/st-mary-magdalene-20th-c-1ma52/" target="_blank">Image: Icon of St. Mary Magdalene - 20th c. - (1MA52) - Uncut Mountain Supply</a></li>
  <li><a href="https://en.wikipedia.org/wiki/File:Paolo_Veronese,_The_Conversion_of_Mary_Magdalene.jpg" target="_blank">Image: Paolo Veronese, The Conversion of Mary Magdalene.jpg</a></li>
  <li><a href="https://upload.wikimedia.org/wikipedia/commons/f/f2/Raffaello%2C_pala_baglioni%2C_deposizione.jpg" target="_blank">Image: Raphael, Public domain, via Wikimedia Commons</a></li>
  <li><a href="https://upload.wikimedia.org/wikipedia/commons/8/87/TINTORETTO_-_Magdalena_penitente_%28Musei_Capitolini%2C_Roma%2C_1598-1602%29_-_copia.jpg" target="_blank">Image: Domenico Tintoretto, Public domain, via Wikimedia Commons</a></li>
  <li><a href="https://upload.wikimedia.org/wikipedia/commons/3/35/Guido_Reni_-_The_Penitent_Magdalene_-_Google_Art_Project.jpg" target="_blank">Image: Guido Reni, Public domain, via Wikimedia Commons</a></li>
</ul>
