<h4>
  St James Apostle 
  <br>
  <small>
    
  </small>
</h4>

<h4>Media</h4>
<ul>
  <li><a href="https://www.pinterest.com/pin/73816881369819864/" target="_blank">Image: Awestruck | St james the greater, Saint james, Monastery icons</a></li>
  <li><a href="https://mysearchforpoliticalmary.com/6-a-new-look-at-our-lady-of-the-pillar/" target="_blank">Image: 6. A New Look at Our Lady of the Pillar - My Search for the Political Mary</a></li>
  <li><a href="https://holymassimages.blogspot.com/2014/07/saint-james-great-apostle.html" target="_blank">Image: Holy Mass images...: Saint James the Great, Apostle</a></li>
  <li><a href="https://www.americamagazine.org/faith/2017/10/16/journey-through-ever-evolving-catholic-church-el-camino" target="_blank">Image:A journey through an ever-evolving Catholic Church on El Camino ... </a></li>
  <li><a href="https://www.youtube.com/watch?v=_4mRnoZuiZU" target="_blank">Video: Galicia, Spain: Santiago de Compostela - Rick Steves' Europe Travel Guide - Travel Bite</a></li>
  <li><a href="http://patroncatholicsaints.blogspot.com/2011/09/cross-of-saint-james.html" target="_blank">Image: Catholic Patron Saints: The Cross of Saint James</a></li>
  <li><a href="https://www.dreamstime.com/brass-scallop-shell-symbol-indicating-way-saint-james-pilgrimage-trail-to-santiago-de-compostella-europe-france-haute-image191360938" target="_blank">Image: A Brass Scallop Shell Symbol Indicating the Way of Saint James, the ...</a></li>
</ul>
