<h4>
  Twenty-eighth Sunday in Ordinary Time
  <br>
  <small>
    The Lord is MY Shepherd
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Psalm 22. The lord is my Shepherd</li>
</ul>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
