<h4>
  Twenty-second Sunday in Ordinary Time
  <br>
  <small>
    Year A
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>


<h4>Media</h4>
<ul>
  <li><a href="https://www.pexels.com/video/the-left-wing-of-an-airborne-airplane-5608053/" target="_blank">Video by Zlatin Georgiev</a></li>
  <li><a href="https://www.pexels.com/video/video-of-woman-pulling-her-suitcase-4684101/" target="_blank">Video by Taryn Elliott</a></li>
  <li><a href="https://www.pexels.com/video/watching-people-entering-the-plane-3166405/" target="_blank"></a></li>
  <li><a href="" target="_blank">Video by Michel Rothstein</a></li>
</ul>
