<h4>
  First Sunday in Lent - Year A
  <br>
  <small>
    Come back to me with all your heart - don’t let fear keep us apart
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Genesis 2:7-9; 3:1-7</li>
  <li>Psalms 51:3-4, 5-6, 12-13, 17</li>
  <li>Romans 5:12-19</li>
  <li>Matthew 4:1-11</li>
</ul>

<h4>Prayer</h4>
<p>
  Heavenly Father,
  <br>continue to guide us through this very special time. <br>Give us strength and a spirit of understanding and compassion.
  
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
