<h4>
  Our Lady of the Rosary
  <br>
  <small>
  </small>
</h4>

<h4>Prayer</h4>
<p>
  Remember, O most gracious Virgin Mary, that never was it known that anyone too fled to your protection, implored your
  help, or sought your intercession, was left unaided. <br>Inspired by this confidence, we fly unto you, O Virgin of
  Virgins, my mother. <br>To you do I come, before you I stand, sinful and sorrowful. <br>O Mother of the Word
  Incarnate, despise not my petitions, but in your mercy hear and answer me.
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="https://fatherfladerblog.com/2017/10/26/the-power-of-the-rosary-2/" target="_blank">Image: The power of the rosary | fatherfladerblog</a></li>
  <li><a href="https://www.stainedglassinc.com/window/12782-virgin-mary-with-rosary/" target="_blank">Image: "Virgin Mary With Rosary" Religious Stained Glass Window</a></li>
  <li><a title="Simone Cantarini
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:2017-03_Brescia_Mattes_Pana_(111).JPG"><img width="256" alt="2017-03 Brescia Mattes Pana (111)" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/2017-03_Brescia_Mattes_Pana_%28111%29.JPG/256px-2017-03_Brescia_Mattes_Pana_%28111%29.JPG"></a></li>
  <li><a title="Paolo Veronese
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:(Venice)_Allegoria_della_battaglia_di_Lepanto_-_Gallerie_Accademia.jpg"><img width="256" alt="(Venice) Allegoria della battaglia di Lepanto - Gallerie Accademia" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/%28Venice%29_Allegoria_della_battaglia_di_Lepanto_-_Gallerie_Accademia.jpg/256px-%28Venice%29_Allegoria_della_battaglia_di_Lepanto_-_Gallerie_Accademia.jpg"></a></li>
</ul>
