<h4>
  Twenty-sixth Sunday in Ordinary Time
  <br>
  <small>
    Humility leads directly to God
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Ezekiel 18: 25-28</li>
  <li>Psalm 24</li>
  <li>Philippians 2: 1-11</li>
  <li>Matthew 21: 28-32</li>
</ul>


<h4>Media</h4>
<ul>
  <li><a href="https://www.learnreligions.com/jesus-clears-the-temple-bible-story-700066" target="_blank">Image: Jesus Drives the Money Changers From the Temple</a></li>
  <li><a href="https://www.pexels.com/video/grapes-at-vineyard-in-switzerland-6739347/" target="_blank">Video by Joshua</a></li>
</ul>