<h4>
  Twenty-first Sunday in Ordinary Time
  <br>
  <small>
    Acknowledge Christ and great things follow
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Isaiah 22:19-23</li>
  <li>Psalm 137</li>
  <li>Romans 11:33-36</li>
  <li>Gospel of Matthew 16:13-20</li>
</ul>


<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
