<h4>
  5th Sunday in Ordinary Time - Year A
  <br>
  <small>
    Light of the World
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Isaiah 5: 7-10</li>
  <li>Psalm 111</li>
  <li>Corinthians 2: 1-5</li>
  <li>St Matthew 5: 13-16</li>
</ul>





<h4>Prayer</h4>
<p>
  Father, we pray for strength and courage to spread your light among people whom we meet every day and so spread the light among the nations.
  <br>
  Amen
</p>
