<h4>
  Eleventh Sunday in Ordinary Time
  <br>
  <small>
    Jesus felt sorry for them - without a Shepherd
  </small>
</h4>

<h4>Prayer</h4>
<p>
  Father all that is good and holy comes from you.
  <br>You are Lord of all with no exceptions.
  <br>When we fail to recognize your qualities, remind the spirit to enlighten us and rejoice in your wisdom.
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
