<h4>
  Easter Sunday
  <br>
  <small>
    Day of Resurrection
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>I Corinthians 15-14 and 15-20</li>
</ul>

<h4>Prayer</h4>
<p>
  Father,<br>
  For this day you sent your Son among us, to make us rejoice in your promises.<br>
  May we never loose sight of this ‘Pledge of Future Glory’ promised by your Son Jesus Christ our Lord and Saviour. <br>

  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
