<h4>
  Feast of Saints Peter and Paul
  <br>
  <small>
    It was my father who revealed this to you
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>St Matthew 16: 17-19</li>
  <li>St Mark. 8.29</li>
</ul>

<h4>Prayer</h4>
<p>
  Today we honour these two men who dedicated their lives to the Good News of salvation.
  <br>In their time they faced all kinds of dangers from many sources.
  <br>They are a true inspiration to us who struggle daily with the affairs of living.
  <br>May we join with them as we say “We will be true to Christ till death” may God grace us this privilege.
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
