<h4>
  Twenty-first Sunday in Ordinary Time
  <br>
  <small>
    Acknowledge Christ and great things follow
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Isaiah 22:19-23</li>
  <li>Psalm 137</li>
  <li>Romans 11:33-36</li>
  <li>Gospel of Matthew 16:13-20</li>
</ul>


<h4>Media</h4>
<ul>
  <li><a href="https://preachbrotherbob.blogspot.com/2011/09/get-your-keys-and-proclaim-jesus-as-god.html" target="_blank">Image: preachbrotherbob: Get Your Keys And Proclaim Jesus As God, Lord, And ...</a></li>
  <li><a href="http://www.concordialcms.com/2022/01/18/you-are-the-christ/" target="_blank">Image: You are the Christ - Concordia Lutheran Church</a></li>
  <li><a href="https://pixels.com/featured/1-saint-peter-the-first-pope-depicted-mary-evans-picture-library.html" target="_blank">Image: Saint Peter The First Pope, Depicted Drawing by Mary Evans Picture Library</a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
