<h4>
  Easter Sunday
  <br>
  <small>
    Day of Resurrection
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>I Corinthians 15-14 and 15-20</li>
</ul>

<h4>Prayer</h4>
<p>
  Father,<br>
  For this day you sent your Son among us, to make us rejoice in your promises.<br>
  May we never loose sight of this ‘Pledge of Future Glory’ promised by your Son Jesus Christ our Lord and Saviour. <br>

  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="https://upload.wikimedia.org/wikipedia/commons/0/01/Resurrected_Jesus_two_Maries.jpg" target="_blank">Image: Resurrected Jesus two Maries.jpg</a></li>
  <li><a href="https://lh3.googleusercontent.com/-0b71OjL4smk/UUEf4ltnriI/AAAAAAAAAgQ/DHXAFd1CxoY/s576/SacramentOfHolyCommunion_StPaulEvLutheranChurch-NewarkOH.JPG" target="_blank">Image: Intrepid Lutherans: A Sermon for Thursday of Holy Week, or 'Maundy ...</a></li>
  <li>By &lt;a href=&quot;https://en.wikipedia.org/wiki/en:No%C3%ABl_Coypel&quot; class=&quot;extiw&quot; title=&quot;w:en:Noël Coypel&quot;&gt;&lt;span title=&quot;French painter (1628-1707)&quot;&gt;Noël Coypel&lt;/span&gt;&lt;/a&gt; - &lt;a rel=&quot;nofollow&quot; class=&quot;external free&quot; href=&quot;http://www.1st-art-gallery.com/Noel-Coypel/The-Resurrection-Of-Christ,-1700.html&quot;&gt;http://www.1st-art-gallery.com/Noel-Coypel/The-Resurrection-Of-Christ,-1700.html&lt;/a&gt;, Public Domain, <a href="https://commons.wikimedia.org/w/index.php?curid=8811059">Link</a></li>
</ul>
