<h4>
  Third Sunday of Lent - Year A
  <br>
  <small>
    Give me this water - so that I may never again thirst
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Gospel of St John 4; 5-42</li>
</ul>

<h4>Prayer</h4>
<p>
  Father, when life grows difficult, help us to remember that you are there on our side not to condemn but to encourage us. <br>
  Grant dear Lord that one day we will live in peace, with you. 
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
