<h4>
  Fourth Sunday of Easter 
  <br>
  <small>
    I am the Good Shepherd, I am the Gate, no other way
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Acts 2:42-47</li>
  <li>Psalm 23</li>
  <li>1 Peter 2:19-25</li>
  <li>John 10:1-10</li>
</ul>

<h4>Prayer</h4>
<p>
  Father we praise and thank you for intervention from above to guide us through life here on earth. <br>
  Jesus your Son, the Good Shepherd, gently leads us through every storm in life, <br>
  His crook and staff always ready to rescue us, guiding us on the safe path. <br>
  May we be inspired by the Spirit of truth to follow and know ‘ there is nothing I shall want’. 
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="https://upload.wikimedia.org/wikipedia/commons/f/f6/Jesus_the_good_Shepherd.jpg" target="_blank">Image: Jesus: the good shepherd window</a></li>
  <li><a href="https://www.pexels.com/video/shepherd-with-sheep-and-dog-14218046/" target="_blank">Video by Mehtab Singh Edhan: </a></li>
  <li><a href="https://www.pexels.com/video/drone-footage-of-a-shepherd-walking-with-a-flock-of-sheep-12400933/" target="_blank">Video by Czapp Árpád: </a></li>
  <li><a title="Washington Allston
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Christ_Healing_the_Sick,_1813,_by_Washington_Allston_(1779-1843)_-_Worcester_Art_Museum_-_IMG_7700.JPG"><img width="128" alt="Christ Healing the Sick, 1813, by Washington Allston (1779-1843) - Worcester Art Museum - IMG 7700" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Christ_Healing_the_Sick%2C_1813%2C_by_Washington_Allston_%281779-1843%29_-_Worcester_Art_Museum_-_IMG_7700.JPG/128px-Christ_Healing_the_Sick%2C_1813%2C_by_Washington_Allston_%281779-1843%29_-_Worcester_Art_Museum_-_IMG_7700.JPG"></a></li>
  <li><a data-flickr-embed="true" href="https://www.flickr.com/photos/paullew/2409161455/" title="The Good Shepherd"><img src="https://live.staticflickr.com/2372/2409161455_6a0f8cfe16_m.jpg" width="148" height="240" alt="The Good Shepherd"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script></li>
</ul>
