<h4>
  Fifth Sunday of Easter
  <br>
  <small>
    Trust in God —— Trust in me
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Acts of the Apostles 6;1-7</li>
  <li>First letter of St. Peter 2;4-9</li>
  <li>Gospel of St John 14;1-12</li>
</ul>

<h4>Prayer</h4>
<p>
  Father pardon us when we doubt you and your Son Jesus Christ, whom you sent into our world. <br>
  May we as Easter people rejoice that we have been called to live with you in eternity. 
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
