<h4>
  Feast of St Joseph
  <br>
  <small>
    If we could die like St Joseph - what a death!
  </small>
</h4>

<h4>Prayer</h4>
<p>
  Holy Saint Joseph, from your place in heaven, look lovingly upon us. <br>
  Keep us close to Jesus and Mary in this life.<br>
  May our death be a happy one, with the knowledge of what we know now will one day be a reality for us in heaven.
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
