<h4>
  The Nativity of our Blessed Lady
  <br>
  <small>
    Its all God's work
  </small>
</h4>


<h4>Media</h4>
<ul>
  <li><a href="https://www.flickr.com/photos/paullew/43637496475" target="_blank">Image: Nativity of the Blessed Virgin Mary | "Let us celebrate toda… | Flickr</a></li>
  <li><a href="http://petralamb7.blogspot.com/2016/09/the-nativity-of-blessed-virgin-mary.html" target="_blank">Image: Maria Angela Grow: The Nativity of the Blessed Virgin Mary Mass Propers</a></li>
  <li><a href="https://www.pexels.com/video/wind-blowing-of-the-lighted-candle-8015191/" target="_blank">Video by Cup of  Couple</a></li>
</ul>
