<h4>
  Solemnity of Pentecost
  <br>
  <small>
    The promised spirit comes - The Spirit sets us on fire to proclaim the Word
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Acts of the Apostles 2: 1-11</li>
  <li>Psalm 108</li>
  <li>Corinthians 12;3-7, 12 -13</li>
  <li>Gospel of St John 20: 19-23</li>
</ul>




<h4>Prayer</h4>
<p>
  Father, May the same Spirit be alive and active in our lives so that we can bring your sisters and brothers close to you. 
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
