<h4>
  Thirtieth Sunday in Ordinary Time
  <br>
  <small>
    I love you Lord, my rock, my fortress
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Psalm 17</li>
</ul>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
