<h4>
  6th Sunday in Ordinary Time - Year A
  <br>
  <small>
    Abolish the law - not me - I came  to fulfil it
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Sirach 15:15-20</li>
  <li>1 Corinthians 2:6-10</li>
  <li>Matthew 5:17-37</li>
</ul>

<h4>Prayer</h4>
<p>
  God is love and we are his children. <br>In prayer we ask the Lord our God to fill us with fearlessness, to practice his gifts to us. <br>So that we may draw closer to Him and each other.
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
