<h4>
  Our Lady of Fatima
  <br>
  <small>
    Pray for us - Help us - Hope of the human race
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

<h4>Prayer</h4>
<p>
  Our Lady of Fatima, <br>
  Hail, immaculate mother of grace, <br>
  Pray for us, help us today and the whole of he human race. 
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="http://jorgeafi.blogspot.com/2013/05/nuestra-senora-de-fatima.html" target="_blank">Image: Ut unum sint: Nuestra Señora de Fátima</a></li>
  <li><a href="http://professione-donna.blogspot.com/2015/05/madonna-di-fatima2.html" target="_blank">Image: Professione Donna: Schema per il punto croce: Madonna di Fatima_2</a></li>
  <li><a href="http://acatholiclife.blogspot.com/2015/07/98th-anniversary-of-secret-of-fatima.html" target="_blank">Image: A Catholic Life: 98th Anniversary of the Secret of Fatima</a></li>
  <li><a href="https://www.pexels.com/video/blue-sky-with-clouds-7692657/" target="_blank">Video by I Am Sorin: </a></li>
  <li><a href="https://www.flickr.com/photos/paullew/26954937796/in/photolist-9H3SRm-cf1fAh-81RUKx-H4V6UQ-sNBt4k" target="_blank">Image: Apparition of Our Lady of Fatima</a></li>
</ul>
