<h4>
  Ash Wednesday - Year A
  <br>
  <small>
    Return to the Lord, with all you heart
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Joel 2: 12-18 Ps 50</li>
  <li>Corinthians 5: 20-62</li>
  <li>St Matthew 1: 1-6, 16-18</li>
</ul>



<h4>Prayer</h4>
<p>
  Father you give us this precious time to contemplate on the things that are important.<br>With the help of the Holy Spirit,<br>May we use this time wisely. 
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="https://www.sacerdotus.com/2018/02/ash-wednesday-2018.html" target="_blank">Image: Ashes</a></li>
  <li><a title="The story of the Bible from Genesis to Revelation, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:King_Hezekiah,_clouthed_in_sackcloth,_spreads_open_the_letter_before_the_Lord.jpg"><img width="512" alt="King Hezekiah, clouthed in sackcloth, spreads open the letter before the Lord" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/King_Hezekiah%2C_clouthed_in_sackcloth%2C_spreads_open_the_letter_before_the_Lord.jpg/512px-King_Hezekiah%2C_clouthed_in_sackcloth%2C_spreads_open_the_letter_before_the_Lord.jpg"></a></li>
  <li><a data-flickr-embed="true" href="https://www.flickr.com/photos/bostoncatholic/13833595675" title="Palm Sunday 2014"><img src="https://live.staticflickr.com/7447/13833595675_814cd136ca_t.jpg" width="100" height="67" alt="Palm Sunday 2014"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script></li>

</ul>
