<h4>
  St Camillus de Lellis
  <br>
  <small>
    Patron saint of the sick
  </small>
</h4>


<h4>Prayer</h4>
<p>
  St Camillus, pray for the many who are sick and from your place in heaven sent them solace. 

  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="https://commons.wikimedia.org/wiki/File:Lellis2.jpg" target="_blank">Image: File:Lellis2.jpg</a></li>
  <li><a href="https://www.milwaukeejobs.com/company/profile/St-Camillus/VSWLQFBSHQ629JRK8Q6TFJQFHNPQ3GUC" target="_blank">Image: Find a Job in Milwaukee, Wisconsin | MilwaukeeJobs.com</a></li>
  <li><a href="https://www.pinterest.fr/pin/564638872010226500/" target="_blank">Image: Pin on Saints & Mystics</a></li>
</ul>
