<h4>
  Divine Mercy Sunday
  <br>
  <small>
    Jesus I trust in you
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Gospel of St John ;  20: 19-31.</li>
  <li>Diary of St Faustina</li>
  <li>Psalm 117</li>
</ul>

<h4>Prayer</h4>
<p>
  Father, your  mercy has been made know to us by the teaching and preaching of Jesus your Son. <br>
  It has further been revealed to us through the pages of the St Faustina Diary. <br>
  Give us the courage to forgive as we are forgiven.
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
