<h4>
  Divine Mercy Sunday
  <br>
  <small>
    Jesus I trust in you
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Gospel of St John ;  20: 19-31.</li>
  <li>Diary of St Faustina</li>
  <li>Psalm 117</li>
</ul>

<h4>Prayer</h4>
<p>
  Father, your mercy has been made know to us by the teaching and preaching of Jesus your Son. <br>
  It has further been revealed to us through the pages of the St Faustina Diary. <br>
  Give us the courage to forgive as we are forgiven.
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="http://www.divinemercy.org/index.php/divine-mercy-shop/diary-of-st-faustina-large-size-detail.html" target="_blank">Image: Divine Mercy Shop : Diary of St. Faustina (Large Size)</a></li>
  <li><p><a href="https://commons.wikimedia.org/wiki/File:Faustyna_Kowalska.png#/media/File:Faustyna_Kowalska.png"><img src="https://upload.wikimedia.org/wikipedia/commons/2/24/Faustyna_Kowalska.png" alt="Faustyna Kowalska.png" height="480" width="335"></a><br>By Unknown author - &lt;a rel="nofollow" class="external free" href="http://www.jezuufamtobie.pl/zyciorys.php"&gt;http://www.jezuufamtobie.pl/zyciorys.php&lt;/a&gt;, Public Domain, <a href="https://commons.wikimedia.org/w/index.php?curid=3778490">Link</a></p></li>
  <li><p><a href="https://commons.wikimedia.org/wiki/File:Kazimirowski_Eugeniusz,_Divine_Mercy,_1934.jpg#/media/File:Kazimirowski_Eugeniusz,_Divine_Mercy,_1934.jpg"><img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Kazimirowski_Eugeniusz%2C_Divine_Mercy%2C_1934.jpg" alt="Kazimirowski Eugeniusz, Divine Mercy, 1934.jpg" height="480" width="225"></a><br>By &lt;a href="https://en.wikipedia.org/wiki/en:Eugeniusz_Kazimirowski" class="extiw" title="w:en:Eugeniusz Kazimirowski"&gt;&lt;span title="Polish artist (1873–1939)"&gt;Eugeniusz Kazimirowski&lt;/span&gt;&lt;/a&gt; - &lt;a rel="nofollow" class="external text" href="http://www.cisza2.krakow.dominikanie.pl/adds/2008/2b.jpg"&gt;http://www.cisza2.krakow.dominikanie.pl&lt;/a&gt;, Public Domain, <a href="https://commons.wikimedia.org/w/index.php?curid=9049047">Link</a></p></li>
  <li><p><a href="https://commons.wikimedia.org/wiki/File:Ritratto_di_papa_Giovanni_Paolo_II_(1984).jpg#/media/File:Ritratto_di_papa_Giovanni_Paolo_II_(1984).jpg"><img src="https://upload.wikimedia.org/wikipedia/commons/6/60/Ritratto_di_papa_Giovanni_Paolo_II_%281984%29.jpg" alt="Ritratto di papa Giovanni Paolo II (1984).jpg" height="480" width="364"></a><br>By <a href="//commons.wikimedia.org/wiki/File:Flag_of_the_President_of_Italy.svg" class="image"></a> <a rel="nofollow" class="external text" href="https://www.quirinale.it/">Quirinale.it</a>, Attribution, <a href="https://commons.wikimedia.org/w/index.php?curid=116480308">Link</a></p></li>
</ul>
