<h4>
  Exultation of the Holy Cross
  <br>
  <small>
    Because of your Holy Cross you redeemed the world
  </small>
</h4>

<h4>Media</h4>
<ul>
  <li><a href="http://orthodoxyforkids.blogspot.com/2014/09/exaltation-of-holy-cross-feast-day.html" target="_blank">Image: Orthodoxy for Kids: Exaltation of the Holy Cross (Feast Day: September 14)</a></li>
  <li><a href="https://www.pinterest.com.mx/pin/710302172450106981/" target="_blank">Image: Pin by SyleMoab on Icons | Orthodox christian icons, Orthodox icons ...</a></li>
  <li><a href="http://thebiblicalworld.blogspot.com/2011/04/horror-of-crucifixion.html" target="_blank">Image: The Biblical World: The Horror of Crucifixion</a></li>
  <li><a href="http://abbey-roads.blogspot.com/2011/09/feast-of-exaltation-of-holy-cross.html" target="_blank">Image: Abbey Roads: Feast of the Exaltation of the Holy Cross</a></li>
  <li><a href="https://upload.wikimedia.org/wikipedia/commons/b/bd/The_Feast_of_the_Cross_and_St._Helena_-_Giovanni_Battista_Tiepolo.png" target="_blank">Image: Livioandronico2013, CC BY-SA 4.0, via Wikimedia Commons</a></li>
</ul>
