<h4>
  4th Sunday Ordinary TIme Year A
  <br>
  <small>
    Kindness to others brings blessings from above
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Zephaniah 2:3; 3:12-13</li>
  <li>Psalms 146:6-7, 8-9, 9-10</li>
  <li>1 Corinthians 1:26-31</li>
  <li>Matthew 5:12A</li>
  <li>Matthew 5:1-12A</li>
</ul>

<h4>Prayer</h4>
<p>
  Father, pardon us for the sufferings we cause others in what we have done or failed to do.  
  <br>Help us to amend our ways with courage. 
  <br>No mater how we fail 
  <br>May goodness urge us on.

  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
