<h4>
  Fourth Sunday of Lent Year A
  <br>
  <small>
    I was blind but now I see
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Gospel of St. John 9: 1- 41</li>
</ul>

<h4>Prayer</h4>
<p>
  Father, May be recognise your Sons presence among us today. <br>
  May our eyes be open to follow him and understand what we ought to do. 
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="https://www.pinterest.com/pin/162270392801526839/" target="_blank">Image: Rose vestment</a></li>
  <li><a href="http://www.wikigallery.org/wiki/painting_224979/Eustache-Le-Sueur/Christ-Healing-the-Blind-Man" target="_blank">Image: Eustache-Le-Sueur - Painting of Christ healing the Blind Man</a></li>
  <li><a href="http://www.liturgytools.net/2017/03/pictures-4th-sunday-lent-year-a-jesus-heals-congenital-blind-man-samuel-anoints-david-open-eyes-recognise-christ.html" target="_blank">Image: Stained glass - Jesus heals blind man</a></li>
</ul>
