<h4>
  Birthday of John the Baptist
  <br>
  <small>
    I must decrease and he must increase
  </small>
</h4>
l>

<h4>Prayer</h4>
<p>
  Father you are indeed merciful, may that mercy be a source of strength to us, knowing that in asking for it with a sincere heart it will be ours.
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="http://diglib.library.vanderbilt.edu/act-imagelink.pl?RC=47461" target="_blank">Image: Naming of John the Baptist</a></li>
  <li><a title="Pontormo
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Pontormo,_nativit%C3%A0_del_battista_01.jpg"><img width="512" alt="Pontormo, natività del battista 01" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Pontormo%2C_nativit%C3%A0_del_battista_01.jpg/512px-Pontormo%2C_nativit%C3%A0_del_battista_01.jpg"></a></li>
</ul>
