<h4>
  St Joseph the worker
  <br>
  <small>
    A strong silent man who did God’s will
  </small>
</h4>

<h4>Prayer</h4>
<p>
  St Joseph, pray for us, <br>
  That we may do what is necessary to gain God’s favour
  <br>And one day sing his praises in the heavenly kingdom.
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="http://saintjosephalbum.blogspot.co.uk/" target="_blank">Image: Saint Joseph</a></li>
  <li><a href="https://catholicvoiceomaha.com/the-carpenter-of-nazareth-guides-intercedes-for-workers-today/" target="_blank">Image: The carpenter of Nazareth guides, intercedes for workers today ...</a></li>
  <li><a href="http://wiki.dtonline.org/index.php/Squares" target="_blank">Image: Squares - DT Online</a></li>
  <li><a href="http://pngimg.com/download/70075" target="_blank">Image: Lilium PNG</a></li>
  <li><a href="https://upload.wikimedia.org/wikipedia/commons/e/e1/Vitrail_Florac_010609_02_Mort_de_Joseph.jpg" target="_blank">Image: Mort_de_Joseph</a></li>
  <li><p><a href="https://commons.wikimedia.org/wiki/File:Bartolom%C3%A9_Esteban_Murillo_-_The_Heavenly_and_Earthly_Trinities_-_1681-82.jpg#/media/File:Bartolomé_Esteban_Murillo_-_The_Heavenly_and_Earthly_Trinities_-_1681-82.jpg"><img src="https://upload.wikimedia.org/wikipedia/commons/b/b2/Bartolom%C3%A9_Esteban_Murillo_-_The_Heavenly_and_Earthly_Trinities_-_1681-82.jpg" alt="Bartolomé Esteban Murillo - The Heavenly and Earthly Trinities - 1681-82.jpg" height="480" width="331"></a><br>By &lt;a href="https://en.wikipedia.org/wiki/en:Bartolom%C3%A9_Esteban_Murillo" class="extiw" title="w:en:Bartolomé Esteban Murillo"&gt;&lt;span title="Spanish painter"&gt;Bartolomé Esteban Murillo&lt;/span&gt;&lt;/a&gt; - &lt;a rel="nofollow" class="external free" href="https://www.nationalgallery.org.uk/paintings/bartolome-esteban-murillo-the-heavenly-and-earthly-trinities"&gt;https://www.nationalgallery.org.uk/paintings/bartolome-esteban-murillo-the-heavenly-and-earthly-trinities&lt;/a&gt;, Public Domain, <a href="https://commons.wikimedia.org/w/index.php?curid=122690298">Link</a></p></li>
</ul>
