<h4>
  Nineteenth Sunday in Ordinary Time
  <br>
  <small>
    To advance or stand still? that is the question.
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>1 Kings 19:9A, 11-13A</li>
  <li>Psalm 85</li>
  <li>Romans 9:1-5</li>
  <li>Matthew 14:22-33</li>
</ul>

<h4>Prayer</h4>
<p>
  O God our help in every day life. 
  <br>
  It is you who are our hope, courage and strength as we face each day.
  <br>
  May we be so close to you that we will always hear your words of encouragement. 
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="https://www.alankurschner.com/wp-content/uploads/2013/04/storm-john-Jesus.jpg" target="_blank">Image: Were the Disciples Raptured in John 6:21?</a></li>
  <li><a href="https://www.thoughtco.com/jesus-walks-on-water-700220" target="_blank">Image: Jesus Walks on Water: Bible Story Summary and Lessons</a></li>
  <li><a href="https://www.stwilfridskirkby.org/2020/08/09/sermon-matthew-ch-14-v-22-33-jesus-walks-on-the-water/" target="_blank">Image: Sermon: Matthew Ch 14 v 22-33. Jesus Walks on the Water - St Wilfrid's</a></li>
</ul>
