<h4>
  St Bartholomew Apostle
  <br>
  <small>
    Apostle and Martyr
  </small>
</h4>


<h4>Media</h4>
<ul>
  <li><a href="https://www.uncutmountainsupply.com/icons/of-saints/by-name/b-c/apostle-bartholomew-20th-c-1ba30/" target="_blank">Image: Icon of St. Bartholomew the Apostle - 20th c. - (1BA30) - Uncut ...</a></li>
  <li><a href="http://www.flickr.com/photos/itinerant_wanderer/5569743175/" target="_blank">Image: Saint Bartholomew | Saint Bartholomew (about 1497) by Pintur… | Flickr</a></li>
  <li><a href="https://reflectionsonthesacredliturgy.com/2017/08/23/st-bartholomew-apostle/" target="_blank">Image: St. Bartholomew, Apostle - Reflections on the Sacred Liturgy</a></li>
  <li><a href="https://christian-hx.fyi/bartholomew-the-apostle/" target="_blank">Image: Bartholomew the Apostle - Lange's Christian Chronicle</a></li>
  <li><a href="https://www.pinterest.com/pin/780037597933479803/" target="_blank">Image: St Bartholomew / Related image | Happy feast day, Stained glass angel ...</a></li>
</ul>
