<h4>
  Twehty-ninth Sunday in Ordinary Time
  <br>
  <small>
    
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Isaiah 45: 1-4-6</li>
  <li>Psalm 95</li>
  <li>Thessalonians 1:1-5</li>
  <li>St Matthew 22: 15-21</li>
</ul>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
