<h4>
  3rd Sunday in Ordinary Time - Year A
  <br>
  <small>
    Jesus in Galilee preaching and calling his first disciples.
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Isaiah 8: 23, 9: 3</li>
  <li>Psalm 26</li>
  <li>Corinthians 1: 10-13, 17</li>
  <li>Saint Matthew 4: 12-23</li>
</ul>

<h4>Prayer</h4>
<p>
  The kingdom of God is still among us. <br>May God give us the wisdom to acknowledge it. <br>May we not listen to false teaching round us. <br>May God’s grace help us to seek that kingdom and one day dwell in one of its rooms. <br>We make our prayer in Jesus name. 
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
