<h4>
  Palm Sunday
  <br>
  <small>
    Jesus enters Jerusalem
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Gospel of St Matthew used at the blessing of Palms - Year A Chapter 21 verses 1-11.</li>
</ul>

<h4>Prayer</h4>
<p>
  Let our hearts be made glad as we enter this Holy Week to recall and rejoice in the works of Jesus. <br>On these days of great significance and difference which Jesus made by his ultimate sacrifice in obedience to your will. 
  Amen
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="https://verelux.tistory.com/entry/종려주일-의미와-역사-2023년-4월-2일…-고난주간과-부활절-앞" target="_blank">Image: Jesus on a donkey</a></li>
  <li><a href="https://michaelmilton.org/2017/04/08/palm-sunday-a-dangerous-day/" target="_blank">Image: Stained glass jesus on the way to jerusalem</a></li>
  <li><a data-flickr-embed="true" href="https://www.flickr.com/photos/justaslice/33197902174/in/photostream/" title="New Testament Stained Glass - Middle; Palm Sunday"><img src="https://live.staticflickr.com/2918/33197902174_a6820f8055_m.jpg" width="240" height="160" alt="New Testament Stained Glass - Middle; Palm Sunday"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script></li>
</ul>
