<h4>
  Solemnity of Pentecost
  <br>
  <small>
    The promised spirit comes - The Spirit sets us on fire to proclaim the Word
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Acts of the Apostles 2: 1-11</li>
  <li>Psalm 108</li>
  <li>Corinthians 12;3-7, 12 -13</li>
  <li>Gospel of St John 20: 19-23</li>
</ul>




<h4>Prayer</h4>
<p>
  Father, May the same Spirit be alive and active in our lives so that we can bring your sisters and brothers close to you. 
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="https://diglib.library.vanderbilt.edu//act-imagelink.pl?RC=48043" target="_blank">Image: Descent of the Holy Spirit</a></li>
  <li><a href="https://4.bp.blogspot.com/-4ZY8Dz6A1hg/WSvk-ubVqmI/AAAAAAAAEZA/ia-oPHDFYdYsFETlKDyk3bo-JoKvEJAggCKgB/s1600/jesus-appeared-to-the-eleven-tissot.jpg" target="_blank">Image: Jesus appeared to the Eleven</a></li>
  <li><a href="http://www.liturgytools.net/2018/05/pictures-7th-sunday-easter-year-b-jesus-intercedes-consecrate-them-in-truth-in-the-world-matthias-selection.html" target="_blank">Image: LiturgyTools.net: Pictures for the 7th Sunday of Easter, Year B</a></li>
</ul>
