<h4>
  St Anthony of Padua
  <br>
  <small>
    Priest and Doctor of the Church
  </small>
</h4>

<h4>Prayer</h4>
<p>
  St Anthony of Padua, we implore you to allow us to find our way on the path to life eternal.
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
