<h4>
  Second Sunday of Lent - Year A
  <br>
  <small>
    We are the children of God
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Gospel of St Matthew 17: 1- 9</li>
  <li>First letter of St John 3: 2</li>  
</ul>

<h4>Prayer</h4>
<p>
  Father, hearing the Good News, praying and meditating on it importance in our life, we still doubt and are distracted by the frivolity of the life. <br>
  May the Holy Spirit give us the courage to strive for the glories future you have in store for us. 
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a title="Giovanni Bellini
    , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:The-Transfiguration-1480-xx-Giovanni-Bellini.JPG"><img width="512" alt="The-Transfiguration-1480-xx-Giovanni-Bellini" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/The-Transfiguration-1480-xx-Giovanni-Bellini.JPG/512px-The-Transfiguration-1480-xx-Giovanni-Bellini.JPG"></a></li>
</ul>
