<h4>
  Epiphany of the Lord - Year A
  <br>
  <small>
    Jesus is presented to the world
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Isaiah 60: 1-6 </li>
  <li>Psalm 72</li>
  <li>Ephesians 3: 3, 5-6</li>
  <li>St Matthew 1: 1-12</li>
</ul>





<h4>Prayer</h4>
<p>
  May your splendour O Lord not frighten us. <br>But allow us to draw closer to you. <br>May we always be sincere before you as nothing is hidden from your sight.
  
  

  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
