<h4>
  Ash Wednesday - Year A
  <br>
  <small>
    Return to the Lord, with all you heart
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Joel 2: 12-18 Ps 50</li>
  <li>Corinthians 5: 20-62</li>
  <li>St Matthew 1: 1-6, 16-18</li>
</ul>



<h4>Prayer</h4>
<p>
  Father you give us this precious time to contemplate on the things that are important.<br>With the help of the Holy Spirit, May we use this time wisely. 
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
