<h4>
  Twenty-fourth Sunday in Ordinary Time
  <br>
  <small>
    God’s Mercy has no end
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Ecclesiasticus: 27: 30-28:7</li>
  <li>Psalm: 102</li>
  <li>Romans: 14: 7-9</li>
  <li>Matthew: 18: 21-35</li>
</ul>





<h4>Prayer</h4>
<p>
  <br>
  <br>

  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
