<h4>
  Seventh Sunday of Easter
  <br>
  <small>
    United we stand —Divided we fall
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Acts of the Apostles 1:12-14</li>
  <li>Psalm 26</li>
  <li>First letter of St Peter 4: 13 16</li>
  <li>Gospel of St John 17: 1-11.</li>
</ul>




<h4>Prayer</h4>
<p>
  Father, you never abandon us. <br>
  As we make our way to your kingdom May we truly listen to your Son Jesus. 
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li><a href="" target="_blank">Image: </a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
