<h4>
  Twentieth Sunday in Ordinary Time
  <br>
  <small>
    The story of Jesus and the Canaanite Woman
  </small>
</h4>

<h4>Scripture</h4>
<ul>
  <li>Isaiah 56:1,67</li>
  <li>Psalm 66</li>
  <li>Romans 11:13-15,29,32</li>
  <li>Gospel of Matthew 15:21-28 </li>
</ul>

<h4>Prayer</h4>
<p>
  Father, we are so often weak and heavy laden, with so many cares. 
  <br>
  Let us never be discouraged, just take it to the Lord in prayer. 
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="https://dphx.org/a-canaanite-womans-great-faith/" target="_blank">Image: A Canaanite woman's Great Faith - The Roman Catholic Diocese of Phoenix</a></li>
  <li><a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fcommons.wikimedia.org%2Fwiki%2FFile%3AJuan_de_Flandes_-_Christ_and_the_Canaanite_Woman_-_WGA12050.jpg&psig=AOvVaw3CNTxfWS0zjkO7lAzTCX_i&ust=1692549524165000&source=images&cd=vfe&opi=89978449&ved=0CA8QjhxqFwoTCKD5q72U6YADFQAAAAAdAAAAABAQ" target="_blank">Image: File:Juan de Flandes - Christ and the Canaanite Woman - WGA12050.jpg - Wikimedia Commons</a></li>
  <li><a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.stmatthewssnellville.org%2Fparish-information%2Fst-matthew-patron-saint%2F&psig=AOvVaw1v3o_xIpFm4hP5k24gjYAm&ust=1692549806940000&source=images&cd=vfe&opi=89978449&ved=0CA8QjhxqFwoTCMCejMSV6YADFQAAAAAdAAAAABAi" target="_blank">Image: St. Matthew, Patron Saint - St. Matthews Episcopal Church</a></li>
  <li><a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Ffreechristimages.com%2Fbible-stories%2Fgentile-womans-faith.html&psig=AOvVaw0FktBaazOKN-bjh5T6OBKA&ust=1692550114685000&source=images&cd=vfe&opi=89978449&ved=0CA8QjhxqFwoTCIiq69WW6YADFQAAAAAdAAAAABAD" target="_blank">Image: Christ And The Canaanite Woman, Free High Resolution Images and Lessons</a></li>
  <li><a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.mutualart.com%2FArtwork%2FChrist-and-the-Canaanite-Woman%2F6D05E1A9F1A380C8&psig=AOvVaw0FktBaazOKN-bjh5T6OBKA&ust=1692550114685000&source=images&cd=vfe&opi=89978449&ved=0CA8QjhxqFwoTCIiq69WW6YADFQAAAAAdAAAAABAe" target="_blank">Image: Pieter Lastman | Christ and the Canaanite Woman | MutualArt</a></li>
</ul>


