<h4>
  Most Holy Trinity
  <br>
  <small>
    Praise the Trinity
  </small>
</h4>

<h4>Prayer</h4>
<p>
  We praise you, Father, Son and Holy Spirit.
  <br>May we be guided in faith to wait patiently until this mystery will no longer be so. 
  <br>
  Amen
</p>

<h4>Media</h4>
<ul>
  <li><a href="http://www.torchofthefaith.com/news.php?default.news.78" target="_blank">Image: Torch of The Faith: News</a></li>
  <li><a href="http://catholicfaithsharing.blogspot.com/2013/05/mystery-of-blessed-trinity.html" target="_blank">Image: Catholic Faith Sharing: Mystery of the Blessed trinity</a></li>
  <li><a href="http://acatholiclife.blogspot.com/2012/06/can-trinity-be-known-by-human-reason.html" target="_blank">Image: A Catholic Life: Can the Trinity be Known by Human Reason?</a></li>
  <li><a href="http://jovan66102.blogspot.com/2006_11_01_archive.html" target="_blank">Image: The New Crusade: 2006/11 - 2006/12</a></li>
</ul>
