<p>Song: <i>O Mother I could weep for mirth (verse 4)</i>
  </p>
  
  <p>
    Conceived, conceived Immaculate!<br>
    Oh, what a joy for thee!<br>
    Conceived, conceived Immaculate!<br>
    Oh, greater joy for me!
  </p>
