<h1>About 'Michael Hayden Talks'</h1>

<p>Michael is a retired Roman Catholic priest, ordained for over 40 years.</p>

<iframe id="videoEmbed" src="https://player.vimeo.com/video/479926569?autoplay=1&quality=1080p&dnt=1&title=0&byline=0" width="640" height="360" style="width: 90vw;max-width: calc(1100px - 4rem);height: calc(calc(1100px - 4rem) * .5825);max-height: calc(90vw * .5825);position:relative;z-index:2;border-radius:3px;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>

<p>Never one to sit idle, Michael now shares the fruits of his many years of contemplation on this site through his video recordings and via direct messages.<br>You can learn more about how these meditations are made here: <a href="/how-its-done">How It's Done - MHT.com</a></p>

<p>If you'd like to get in touch about anything at all, please visit the <a href="/contact">contact page here</a>.</p>

<p>To support Michael with a donation, visit the <a href="/donate">donate page here</a>.</p>

<p>Have a look at our <a href="/privacy">Privacy policy here</a>.</p>

<p>Having trouble with this site? <a href="/help">Try here</a>.</p>