<h1><i class="em em-heart" aria-role="presentation" aria-label="HEAVY BLACK HEART"></i>Thank you for your support<i class="em em-heart" aria-role="presentation" aria-label="HEAVY BLACK HEART"></i></h1>

<p>Your donations, whatever the size, help to keep this site running.</p>

<p>Some useful links:</p>
<ul>
  <li><a href="/contact">Direct Contact Page</a></li>
  <li><a href="/privacy">Privacy Policy</a></li>
  <li><a href="/help">Website help and troubleshooting</a></li>
</ul>


<p>May God Bless You</p>
