<div id="hero">
  <div class="hero-dots"></div>
  <div class="hero-dots-overlay"></div>
  <div class="hero-media">




    $latest



  </div>

  <div class="hero-text">
    <h1>Michael Hayden</h1>
    <p>Follow Michael as we explore the message given to us by Christ and enshrined in the Scriptures.<br><sub>(New
        videos weekly <i class="fas fa-asterisk"></i>)</sub></p>
    <div class="desktop-only hero-cta-org">
      <a class="btn btn-sec" href="/video/Introduction+Video-1604102400"><i class="fas fa-play"></i>&nbsp;Intro</a>
      <a class="btn btn-pri" id="goToLibrary" href="#carousel"><i class="fas fa-arrow-down"></i>&nbsp;Browse</a>
    </div>
  </div>
</div>

<!-- <div class="subscribe-block">
  <label><i class="fas fa-star"></i>&nbsp;Get notified when new videos go live</label>
  <div class="input-group">
    <input id="emailInput" type="text" placeholder="Enter your email">
    <a class="btn btn-pri" id="subscribe"><i class="fas fa-bell"></i>&nbsp;Subscribe</a>
  </div>
  <span><small id="subscribeInfo"></small></span>
</div> -->

<div id="carousel">$carousel</div>

<br><br>
<a id="loadMoreBtn" class="btn btn-pri">...</a>
